<!-- Main Section -->
<div class="Main_Section">
   <div class="page_section">
      <div class="container-fluid">
         <!-- Page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul>
                  <li class="HeaderName">Home</li>
                  <li class="arrow">>></li>
                  <li>Purchase Quotations</li>
               </ul>
            </div>
         </div>
         <!-- Header part -->
         <div class="row header_part">
            <div class="col-sm-6">
               <a [routerLink]="['/Purchase_Quotation_Create']"><button class="Create_Button" mat-raised-button> + Create </button></a>
            </div>
            <div class="col-sm-6">
               <div class="Search_Section">
                  <input type="text" placeholder="Search.." name="search">
                  <i class="material-icons">search</i>
               </div>
            </div>
         </div>
         <!-- Table section -->
         <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th>S.no</th>
                     <th>Quote Details</th>
                     <th>Company Details</th>
                     <th>Created By</th>
                     <th>Total Amount</th>
                     <th>Status</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <span class="S_no"> 1 </span>
                     </td>
                     <td>
                        <h6 class="Style_2">Von_Quote_123</h6>
                        <span class="Style_3">Valid Till:17/04/17</span>
                     </td>
                     <td>
                        <span class="Style_3"> Vendor_aashi</span>
                     </td>
                     <td>
                        <span class="Style_3">Admin</span>
                     </td>
                     <td>
                        <span class="Style_3">32300</span>
                     </td>
                     <td>
                        <span class="Style_3">Draft</span>
                     </td>
                     <td>
                        <button color="primary" mat-raised-button [matMenuTriggerFor]="Action">Action</button>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 2 </span>
                     </td>
                     <td>
                        <h6 class="Style_2">Von_Quote_123</h6>
                        <span class="Style_3">Valid Till:17/04/17</span>
                     </td>
                     <td>
                        <span class="Style_3"> Vendor_aashi</span>
                     </td>
                     <td>
                        <span class="Style_3">Admin</span>
                     </td>
                     <td>
                        <span class="Style_3">32300</span>
                     </td>
                     <td>
                        <span class="Style_3">Draft</span>
                     </td>
                     <td>
                        <button color="primary" mat-raised-button [matMenuTriggerFor]="Action">Action</button>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 3 </span>
                     </td>
                     <td>
                        <h6 class="Style_2">Von_Quote_123</h6>
                        <span class="Style_3">Valid Till:17/04/17</span>
                     </td>
                     <td>
                        <span class="Style_3"> Vendor_aashi</span>
                     </td>
                     <td>
                        <span class="Style_3">Admin</span>
                     </td>
                     <td>
                        <span class="Style_3">32300</span>
                     </td>
                     <td>
                        <span class="Style_3">Draft</span>
                     </td>
                     <td>
                        <button color="primary" mat-raised-button [matMenuTriggerFor]="Action">Action</button>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 4 </span>
                     </td>
                     <td>
                        <h6 class="Style_2">Von_Quote_123</h6>
                        <span class="Style_3">Valid Till:17/04/17</span>
                     </td>
                     <td>
                        <span class="Style_3"> Vendor_aashi</span>
                     </td>
                     <td>
                        <span class="Style_3">Admin</span>
                     </td>
                     <td>
                        <span class="Style_3">32300</span>
                     </td>
                     <td>
                        <span class="Style_3">Draft</span>
                     </td>
                     <td>
                        <button color="primary" mat-raised-button [matMenuTriggerFor]="Action">Action</button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<!-- Dropdown menus -->
<mat-menu class="MenuStyleOne" #Action="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below" class="MenuStyleOne">
   <a [routerLink]="['/Purchase_Quotation_Create']"><button mat-menu-item>
      <span>Edit</span>
   </button></a>
   <a [routerLink]="['/Purchase_Quotation_View']"><button mat-menu-item>
      <span>View</span>
   </button></a>
   <button mat-menu-item>
      <span>Cancel</span>
   </button>
   <button mat-menu-item>
      <span>Confirm Order</span>
   </button>
</mat-menu>
   
   

