<div class="Main_Section">
      <div class="page_section">
      <div class="container-fluid">
            <div class="page-identity" style="display:flex;width:100%;">
                  <div  class="page-name">
                    <h5 ></h5>
                  </div>
                  <div  class="page-track" style="width:47%">
                    <ul>
                      <li> Purchase Quotations</li>
                    </ul>
                  </div>
                </div>
      <div class="row">
      <div class="col-sm-6">
         <span class="Create_Button" [routerLink]="['/Purchase_Quotation_Create']">+ Add New</span>
      </div>
      <div class="col-sm-6">
         <div class="Search_Section">
            <input type="text" placeholder="Search.." name="search">
            <i class="material-icons">search</i>
         </div>
      </div>
   </div>
   <br>
   <div class="Table_Section">
      <table>
         <thead>
            <tr>
               <th>S.no</th>
               <th>Quote Details</th>
               <th>Company Details</th>
               <th>Created By</th>
               <th>Total Amount</th>
               <th>Status</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>
                  <span class="S_no"> 1 </span>
               </td>
               <td>
                  <span class="Name_Style">Von_Quote_123</span>
                  <span class="Name_Style">Valid Till:17/04/17</span>
               </td>
               <td>
                  <span class="Name_Style"> Vendor_aashi</span>
               </td>
               <td>
                  <span class="Name_Style">Admin</span>
               </td>
               <td>
                  <span class="Name_Style">32300</span>
               </td>
               <td>
                  <span class="Name_Style">Draft</span>
               </td>
               <td>
                  <span class="Action_Section Bg_Danger">
                     <i class="material-icons" (click)="DeletePurchaseQuotation()" >delete</i>
                  </span>
                  <span class="Action_Section Bg_Info">
                     <i class="material-icons" [routerLink]="['/Purchase_Quotation_Create']">edit</i>
                  </span>
                  <span class="Action_Section Bg_Success">
                     <i class="material-icons" [routerLink]="['/Purchase_Quotation_View']"> remove_red_eye </i>
                  </span>
               </td>
            </tr>
            <tr>
               <td>
                  <span class="S_no"> 2 </span>
               </td>
               <td>
                  <span class="Name_Style">Von_Quote_123</span>
                  <span class="Name_Style">Valid Till:17/04/17</span>
               </td>
               <td>
                  <span class="Name_Style"> Vendor_aashi</span>
               </td>
               <td>
                  <span class="Name_Style">Admin</span>
               </td>
               <td>
                  <span class="Name_Style">32300</span>
               </td>
               <td>
                  <span class="Name_Style">Draft</span>
               </td>
               <td>
                  <span class="Action_Section Bg_Danger">
                     <i class="material-icons"  (click)="DeletePurchaseQuotation()"  >delete</i>
                  </span>
                  <span class="Action_Section Bg_Info">
                     <i class="material-icons" [routerLink]="['/Purchase_Quotation_Create']">edit</i>
                  </span>
                  <span class="Action_Section Bg_Success">
                     <i class="material-icons" [routerLink]="['/Purchase_Quotation_View']"> remove_red_eye </i>
                  </span>
               </td>
            </tr>
            <tr>
               <td>
                  <span class="S_no"> 3 </span>
               </td>
               <td>
                  <span class="Name_Style">Von_Quote_123</span>
                  <span class="Name_Style">Valid Till:17/04/17</span>
               </td>
               <td>
                  <span class="Name_Style"> Vendor_aashi</span>
               </td>
               <td>
                  <span class="Name_Style">Admin</span>
               </td>
               <td>
                  <span class="Name_Style">32300</span>
               </td>
               <td>
                  <span class="Name_Style">Draft</span>
               </td>
               <td>
                  <span class="Action_Section Bg_Danger">
                     <i class="material-icons"  (click)="DeletePurchaseQuotation()" >delete</i>
                  </span>
                  <span class="Action_Section Bg_Info">
                     <i class="material-icons" [routerLink]="['/Purchase_Quotation_Create']">edit</i>
                  </span>
                  <span class="Action_Section Bg_Success">
                     <i class="material-icons" [routerLink]="['/Purchase_Quotation_View']"> remove_red_eye </i>
                  </span>
               </td>
            </tr>
            <tr>
               <td>
                  <span class="S_no"> 4 </span>
               </td>
               <td>
                  <span class="Name_Style">Von_Quote_123</span>
                  <span class="Name_Style">Valid Till:17/04/17</span>
               </td>
               <td>
                  <span class="Name_Style"> Vendor_aashi</span>
               </td>
               <td>
                  <span class="Name_Style">Admin</span>
               </td>
               <td>
                  <span class="Name_Style">32300</span>
               </td>
               <td>
                  <span class="Name_Style">Draft</span>
               </td>
               <td>
                  <span class="Action_Section Bg_Danger">
                     <i class="material-icons"  (click)="DeletePurchaseQuotation()" >delete</i>
                  </span>
                  <span class="Action_Section Bg_Info">
                     <i class="material-icons" [routerLink]="['/Purchase_Quotation_Create']">edit</i>
                  </span>
                  <span class="Action_Section Bg_Success">
                     <i class="material-icons" [routerLink]="['/Purchase_Quotation_View']"> remove_red_eye </i>
                  </span>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   </div>
   </div>
   </div>
   
   

