<div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1" style="width: 100%">
   <div class="Loading">
         <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
         </div>
   </div>
</div>
<div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}"></div>
<!-- Main Section -->
<div class="Main_Section">
   <div class="page_section">
      <div class="container-fluid">
         <!-- Page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul>
                  <li class="HeaderName">Purchase</li>
                  <li class="arrow">>></li>
                  <li>Quotations</li>
               </ul>
            </div>
         </div>
         <!-- Header part -->
         <div class="row header_part">
            <div class="col-sm-6">
               <a [routerLink]="['/Purchase_Quotation_Create']"><button class="Create_Button" mat-raised-button> + Create </button></a>
            </div>
            <div class="col-sm-6">
               <div class="Search_Section">
                  <input type="text" placeholder="Search.." name="search">
                  <i class="material-icons">search</i>
               </div>
            </div>
         </div>
         <!-- Table section -->
         <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th>S.no</th>
                     <th>Quote Details</th>
                     <th>Company Details</th>
                     <th>Created By</th>
                     <th>Total Amount</th>
                     <th>Status</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let item of _List; let i = index">
                     <td>
                        <span class="S_no"> {{i+1}} </span>
                     </td>
                     <td>
                        <h6 class="Style_2">{{item?.Quote_Ref_Number}}</h6>
                        <span class="Style_3">Valid Till:{{item?.Valid_Date | date: 'dd/MM/yyyy'}}</span>
                     </td>
                     <td>
                        <span class="Style_3">{{item?.Vendor_Name?.Vendor_Name}}</span>
                     </td>
                     <td>
                        <span class="Style_3">{{item?.Created_By?.Name}}</span>
                     </td>
                     <td>
                        <span class="Style_3">{{item?.Total}}</span>
                     </td>
                     <td>
                        <span class="Style_3">{{item?.Quote_Status}}</span>
                     </td>
                     <td>
                        <button color="primary" mat-raised-button [matMenuTriggerFor]="Action" (click)="ActionIndex(i)">Action</button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<!-- Dropdown menus -->
<mat-menu class="MenuStyleOne" #Action="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below" class="MenuStyleOne">
   <button mat-menu-item (click)="View()">
      <span>View</span>
   </button>
   <button mat-menu-item (click)="Edit()">
      <span>Edit</span>
   </button>
   <button mat-menu-item>
      <span>Cancel</span>
   </button>
   <button (click)="ConfirmOrder()" mat-menu-item>
      <span>Confirm Order</span>
   </button>
</mat-menu>
   
   

