.container{
    width:100%
}
.container .container-content{
    margin-left:10%;
    margin-right: 1%;
}
.container .container-content input[type="radio"]{
    margin-left:5px;
}
.right_section{
    border-top: 5px solid #49B660;
}
.container .container-content .content_gap{
    margin-top:20px;
}