<!-- If Create Or Edit The Leave Type -->
   <div class="Modal_Content" *ngIf="Type && Type === 'Create'">
      <div class="Modal_Header">
            <p> Leave Type</p>
            <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <form >
         <div class="Model_Body">
            <div class="row">
               <div class="col-sm-6 Form_Input">
                  <label>Name:</label>
                  <input type="text">
               </div>
               <div class="col-sm-6 Form_Select">
                  <label>Leave Type:</label>
                  <ng-select class="NgSelect" 
                     [items]="_LeaveType" 
                     [searchable]="true" 
                     placeholder="Leave Type">
                  </ng-select>
               </div>
            </div>
         </div>
         <div class="Model_Footer">
            <button type="submit" mat-raised-button color="primary">Submit</button>
         </div>
      </form>
   </div>
<!-- If View The Leave Type-->
   <div class="Modal_Content" *ngIf=" Type && Type === 'View'">
      <div class="Modal_Header">
         <p>Leave Type</p>
         <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <div class="Model_Body">
         <div class="view_item">
            <div class="Static">Name</div>
            <div class="dots"> : </div>
            <div class="Data"> xxxx</div>
         </div>
         <div class="view_item">
            <div class="Static">Leave Type </div>
            <div class="dots"> : </div>
            <div class="Data">Paid</div>
         </div>
      </div>
   </div>










