<div class="page" style="margin-top:130px;">
  <div class="container-fluid">
<!-- <div class="page-identity" style="position:fixed; margin-top:-40px;">
      <div class="page-name">
        <h5> Creat Customers </h5>
      </div>
      <div class="page-track" style="width:47%">
        <ul>
          <li><a> Customers List </a></li>
          <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
          <li> Creat Customers </li>
        </ul>
      </div>
    </div> -->
     <form>
        <div class="row">
           <div class="Company_Details">
                       <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Company <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
              <div class="col-sm-12">
                 <div class="row">
                       
                    <div class="col-sm-4 Form_Input" >
                       <input type="text" placeholder="Date">
                    </div>
                    <div class="col-sm-4 Form_Select" >
                       <select>
                          <option checked> Company Name</option>
                          <option> Company Name1</option>
                          <option>   Company Name2 </option>
                          <option>   Company Name3 </option>
                          <option>   Company Name4 </option>
                          <option>   Company Name5 </option>
                       </select>
                    </div>
                    <div class="col-sm-4 Form_Select" >
                       <select>
                          <option checked>Contact Person</option>
                          <option> Contact Person1</option>
                          <option> Contact Person2 </option>
                          <option> Contact Person3 </option>
                          <option> Contact Person4 </option>
                          <option> Contact Person5 </option>
                       </select>
                    </div>
                    <div class="col-sm-4 Form_Input" >
                       <input type="text" placeholder="Quote Reference Number"> 
                    </div>
                    <div class="col-sm-4 Form_Input" >
                       <input type="text" placeholder="Valid Till"> 
                    </div>
                    <div class="col-sm-4 Form_Select" >
                       <select>
                          <option checked>Opportunity Name</option>
                          <option> Opportunity Name1</option>
                          <option> Opportunity Name2 </option>
                          <option> Opportunity Name3 </option>
                          <option> Opportunity Name4 </option>
                          <option> Opportunity Name5 </option>
                       </select>
                    </div>
                    <div class="col-sm-4 Form_Select" >
                       <select>
                          <option checked> Employee Name</option>
                          <option> Employee Name1 </option>
                          <option> Employee Name2 </option>
                          <option> Employee Name3 </option>
                          <option> Employee Name4 </option>
                          <option> Employee Name5 </option>
                       </select>                             
                    </div>
                 </div>
              </div>
              </div>
              <div class="Table_Section">
                  <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Product <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
              <table class="table_section">
                 <thead class="table_head">
                    <tr>
                       <th>S.No</th>  
                       <th>Product</th>  
                       <th>Description</th>  
                       <th>Price</th>  
                       <th>Quantity</th>  
                       <th>Tax</th> 
                       <th>Total</th> 
                       <th>Action</th> 
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <td  colspan="8"><span> No Records found</span>
                       </td>
                    </tr>
                 </tbody>
              </table><br>
              <div class="row">
              <div class="col-sm-8">
                   </div>
                    <div class="col-sm-2">
                          <div class="Title">
                                <h5>SubTotal:</h5>
                             </div>
                    </div>
                    <div class="col-sm-2">
                          <div class="Value">
                                <h5>RS. 0</h5>
                             </div>
                    </div>
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-2">
                          <div class="Title">
                                <h5>Total Tax:</h5>
                             </div>
                    </div>
                    <div class="col-sm-2">
                          <div class="Value">
                                <h5>RS. 0</h5>
                             </div>
                    </div>
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-2">
                          <div class="Title">
                                <h5>Total:</h5>
                             </div>
                    </div>
                    <div class="col-sm-2">
                          <div class="Value">
                                <h5>RS. 0</h5>
                             </div>
                    </div>
                 </div></div>
                 <div class="Done_Section">
                  <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Do<span style="color:#516570;font-size:20px;font-weight: 600;">ne</span></h5><br>
                 <div class="row">
                    <div class="col-sm-4 Form_Select">
                          <select>
                                <option checked>Select Quote Terms</option>
                                <option> QuoteTermOptions-One</option>
                                <option> QuoteTermOptions-Two </option>
                                <option> QuoteTermOptions-Three </option>
                                <option> QuoteTermOptions-Four </option>
                                <option> QuoteTermOptions-Five </option>
                             </select>
                       </div>
                    </div>
              </div>
         </div>
        <div class="row" style="margin-top:20px;"> 
           <div class="col-sm-12 text-right">
              
              <button type="button" class="button_submit" > Submit </button>
           </div>
        </div>
     </form>
  </div>
</div>
