<!-- page -->
<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Leads</li>
               <li class="arrow">>></li>
               <li class="LinkName" ><a [routerLink]="['/List_leads']">Leads List</a></li>
               <li class="arrow">>></li>
               <li>Leads View</li>
            </ul>
         </div>
      </div>
      <!-- Company details -->
      <div class="Company_Details">
         <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Lead <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span>
            <span class="Buttons pull-right">
               <span><button mat-raised-button color="primary"> Convert To Opportunity </button></span>
            </span>
         </h5><br>
         <div class="row">
            <div class="col-sm-4">
               <div class="view_item">
                  <div class="Static">Company Name </div>
                  <div class="dots"> : </div>
                  <div class="Data"> Company Name</div>
               </div>
               <div class="view_item">
                  <div class="Static">Email </div>
                  <div class="dots"> : </div>
                  <div class="Data"> Email</div>
               </div>
               <div class="view_item">
                  <div class="Static">Address </div>
                  <div class="dots"> : </div>
                  <div class="Data"> Address </div>
               </div>
            </div>
            <div class="col-sm-4">
               <div class="view_item">
                  <div class="Static">Phone </div>
                  <div class="dots"> : </div>
                  <div class="Data"> Phone</div>
               </div>
               <div class="view_item">
                  <div class="Static">Lead source  </div>
                  <div class="dots"> : </div>
                  <div class="Data"> Lead source </div>
               </div>
            </div>
            <div class="col-sm-4">
               <div class="view_item">
                  <div class="Static">Priority </div>
                  <div class="dots"> : </div>
                  <div class="Data"> Priority </div>
               </div>
               <div class="view_item">
                  <div class="Static">Product </div>
                  <div class="dots"> : </div>
                  <div class="Data"> Product</div>
               </div>
            </div>
         </div>
      </div>
      <div class="Company_Details">
         <!-- Tabs -->
         <div clas="row">
            <div class="col-sm-12">
               <div class="Tabs">
                  <div class="Tab" [ngClass]="{'active': Active_Tab === 'Log_Phone_Call'}" (click)="Active_Tab_Change('Log_Phone_Call')">
                     <span >Log Phone Call</span>
                  </div>
                  <div class="Tab" [ngClass]="{'active': Active_Tab === 'Call_Schedule'}" (click)="Active_Tab_Change('Call_Schedule')">
                     <span >Call Schedule</span>
                  </div>
               </div><br>
               <!-- Log Phone Call-->
               <div class="Product_Details" *ngIf="Active_Tab === 'Log_Phone_Call'">
                  <!-- Header Part -->
                  <div class="row header_part">
                     <div class="col-sm-6">
                        <button class="Create_Button" mat-raised-button (click)="CreateLogPhoneCall()"> + Create </button>
                     </div>
                     <div class="col-sm-6">
                        <div class="Search_Section">
                           <input type="text" placeholder="Search.." name="search">
                           <i class="material-icons">search</i>
                        </div>
                     </div>
                  </div>
                  <!-- Table Section -->
                  <div class="Table_Section">
                     <table>
                        <thead>
                           <tr>
                              <th>S.no</th>
                              <th>Company</th>
                              <th>Date & Time</th>
                              <th>Product</th>
                              <th>Contact</th>
                              <th>Action</th>
                           </tr>
                        </thead>
                     </table>
                  </div>
               </div>
               <!-- Call Schedule -->
               <div class="Done_Section" *ngIf="Active_Tab === 'Call_Schedule'">
                  <!-- Header Part -->
                  <div class="row header_part">
                     <div class="col-sm-6">
                        <button class="Create_Button" mat-raised-button (click)="CreateCallSchedule()"> + Create </button>
                     </div>
                     <div class="col-sm-6">
                        <div class="Search_Section">
                           <input type="text" placeholder="Search.." name="search">
                           <i class="material-icons">search</i>
                        </div>
                     </div>
                  </div>
                  <!-- Table Section -->
                  <div class="Table_Section">
                     <table>
                        <thead>
                           <tr>
                              <th>S.no</th>
                              <th>Company</th>
                              <th>Date & Time</th>
                              <th>Contact</th>
                              <th>Action</th>
                           </tr>
                        </thead>
                     </table>
                  </div>
               </div>
               </div>
            </div>
         </div>
      <br>
   </div>
</div>