<div class="page" style="margin-top:130px">
   <div class="container-fluid">
<!-- <div class="page-identity" style="position:fixed; margin-top:-40px;">
      <div class="page-name">
        <h5> Creat Customers </h5>
      </div>
      <div class="page-track" style="width:47%">
        <ul>
          <li><a> Customers List </a></li>
          <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
          <li> Creat Customers </li>
        </ul>
      </div>
    </div> -->
      <form>
         <div class="row">
         <div class="col-sm-3" >
               <div class="left_section" style="background-color:#fff;border-radius: 5px;margin-bottom:150px;">
                  <div class="row">
                  <div class="col-sm-12 text-center">
                     <img src="../../../../../assets/images/basic/company.png" alt="Company Image" style="width:150px; height:150px; margin:10px; box-shadow:0 1px 5px 1px rgba(0,0,0,.2);">
                  </div>
                  <div class="col-sm-12 text-center">
                     <button type="button" class="change_button"> Change Picture </button>
                  </div><br><br>
                  <div class="col-sm-12 Form_Input">
                     <input type="text"  placeholder="Company Name" style="width:90%;margin-left:15px;">
                  </div>
                  <div class="col-sm-12 Form_Input">
                     <input type="text"  placeholder="Phone Number"  style="width:90%;margin-left:15px;">
                  </div>
                  <div class="col-sm-12 Form_Input" >
                     <input  type="text" placeholder="Email Address" style="width:90%;margin-left:15px;">
                  </div>
                  <div class="col-sm-12 Form_Input" >
                     <input  type="text" placeholder="Website" style="width:90%;margin-left:15px;">
                  </div>
               </div>
              </div>
           </div>
            <div class="col-sm-9">
               <h5 class="text-style-1" style="margin-top:0px;"> Company Details </h5>
                  <div class="row" style="padding:10px;background-color:#ecf0f5b5">
                     <div class="col-sm-4 Form_Input" >
                        <input type="text" placeholder="No.Of Eployees">
                     </div>
                     <div class="col-sm-4 Form_Select" >
                        <select>
                           <option checked> Account Type</option>
                           <option> Account1</option>
                           <option>  Account2 </option>
                           <option>  Account3 </option>
                           <option>  Account4 </option>
                           <option>  Account5 </option>
                        </select>
                     </div>
                     <div class="col-sm-4 Form_Select" >
                        <select>
                           <option checked>Industry Type</option>
                           <option> Industry1</option>
                           <option> Industry2 </option>
                           <option> Industry3 </option>
                           <option> Industry4 </option>
                           <option> Industry5 </option>
                        </select>
                     </div>
                     <div class="col-sm-4 Form_Select" >
                        <select>
                           <option checked> Ownership Type</option>
                           <option> Ownership Type1 </option>
                           <option> Ownership Type2 </option>
                           <option> Ownership Type3 </option>
                           <option> Ownership Type4 </option>
                           <option> Ownership Type5 </option>
                        </select>
                     </div>
                     <div class="col-sm-4 Form_TextArea" >
                        <textarea  type="text" row="5" placeholder="Notes"></textarea>
                     </div>
                  </div>
                  <h5 class="text-style-1"> Shipping Address </h5>
                  <div class="row" style="padding:10px;background-color:#ecf0f5b5">
                     <div class="col-sm-4 Form_Input" >
                        <input type="text" placeholder="No / Street">
                     </div>
                     <div class="col-sm-4 Form_Input" >
                        <input type="text"  placeholder="Area">
                     </div>
                     <div class="col-sm-4 Form_Select" >
                        <select>
                           <option checked> Country</option>
                           <option> Country1 </option>
                           <option> Country2 </option>
                           <option> Country3 </option>
                           <option> Country4 </option>
                           <option> Country5 </option>
                        </select>                             
                     </div>
                     <div class="col-sm-4 Form_Select" >
                        <select>
                           <option disabled> State</option>
                           <option> State1 </option>
                           <option> State2</option>
                           <option> State3 </option>
                           <option> State4</option>
                           <option> State5</option>
                        </select>
                     </div>
                     <div class="col-sm-4 Form_Select" >
                        <select>
                           <option Checked> City</option>
                           <option> city1 </option>
                           <option> city2 </option>
                           <option> city3 </option>
                           <option> city4 </option>
                           <option> city5 </option>
                        </select>
                     </div>
                     <div class="col-sm-4 Form_Input" >
                        <input matInput type="text"  placeholder="Zip Code">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <div style="margin-top:20px;font-size: 18px;font-weight: 600;">
                           <input type="checkbox" > Same As Billing Address
                        </div>
                     </div>
                  </div>
                  <br>
                 <h5 class="text-style-1" style="margin-top:10px;"> Billing Address </h5>
                  <div class="row" style="padding:10px;background-color:#ecf0f5b5">
                     <div class="col-sm-4 Form_Input" >
                        <input  type="text"  placeholder="No / Street">
                     </div>
                     <div class="col-sm-4 Form_Input" >
                        <input  type="text" placeholder="Area">
                     </div>
                     <div class="col-sm-4 Form_Select" >
                        <select>
                           <option checked>Country</option>
                           <option> Country1 </option>
                           <option> Country2 </option>
                           <option> Country3 </option>
                           <option> Country4 </option>
                           <option> Country5 </option>
                        </select>
                     </div>
                     <div class="col-sm-4 Form_Select" >
                        <select>
                           <option checked> State</option>
                           <option> State1 </option>
                           <option> State2 </option>
                           <option> State3 </option>
                           <option> State4 </option>
                           <option> State5 </option>
                        </select>
                     </div>
                     <div class="col-sm-4 Form_Select" >
                        <select>
                           <option checked>City </option>
                           <option> City1 </option>
                           <option> City2 </option>
                           <option> City3 </option>
                           <option> City4 </option>
                           <option> City5 </option>
                        </select>
                     </div>
                     <div class="col-sm-4 Form_Input" >
                        <input type="text"  placeholder="Zip Code">
                     </div>
                  </div>
                  <div class="row" style="margin-top:20px;"> 
                     <div class="col-sm-12 text-right">
                        <button type="button" style="margin-right:15px;margin-bottom: 10px;" class="button_cancel"> Cancel </button>
                        <button type="button" class="button_submit" > Submit </button>
                     </div>
                  </div>
               </div>
         </div>
      </form>
   </div>
</div>