<app-header></app-header>
<!-- Page section -->
<div class="Page_Section">
   <div class="container-fluid">
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class="LinkName">HR</li>
               <li class="arrow">>></li>
               <li>Payroll Master</li>
            </ul>
         </div>
      </div>
      <!--  Header Part -->
<!-- Create and search Section -->
<div class="row header_part">
   <div class="col-sm-6">
      <button class="Create_Button" mat-button [routerLink]="['/Create_Payroll_Master']"> + Create </button>
   </div>
   <div class="col-sm-6">
      <div class="Search_Section">
         <input type="text" placeholder="Search.." name="search">
         <i class="material-icons">search</i>
      </div>
   </div>
</div>
<!-- Table Section -->
<div class="Table_Section">
   <table>
      <thead>
         <tr>
            <th>S.no</th>
            <th>Employee Name</th>
            <th>Category</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Month</th>
            <th>Hours</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <span class="S_no"> 1 </span>
            </td>
            <td>
               <span class="Style_1">Employee Name</span>
            </td>
            <td>
               <span class="Style_1"> Category</span>
            </td>
            <td>
               <span class="Style_1">25.08.17</span>
            </td>
            <td>
               <span class="Style_1">18.09.17</span>
            </td>
            <td>
               <span class="Style_1">Jan</span>
            </td>
            <td>
               <span class="Style_1">4hrs</span>
            </td>
            <td>
               <button mat-raised-button color="primary" [matMenuTriggerFor] = "Action" > Action </button>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 2 </span>
            </td>
            <td>
               <span class="Style_1">Employee Name</span>
            </td>
            <td>
               <span class="Style_1"> Category</span>
            </td>
            <td>
               <span class="Style_1">25.08.17</span>
            </td>
            <td>
               <span class="Style_1">18.09.17</span>
            </td>
            <td>
               <span class="Style_1">Jan</span>
            </td>
            <td>
               <span class="Style_1">4hrs</span>
            </td>
            <td>
               <button mat-raised-button color="primary" [matMenuTriggerFor] = "Action" > Action </button>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 3 </span>
            </td>
            <td>
               <span class="Style_1">Employee Name</span>
            </td>
            <td>
               <span class="Style_1"> Category</span>
            </td>
            <td>
               <span class="Style_1">25.08.17</span>
            </td>
            <td>
               <span class="Style_1">18.09.17</span>
            </td>
            <td>
               <span class="Style_1">Jan</span>
            </td>
            <td>
               <span class="Style_1">4hrs</span>
            </td>
            <td>
               <button mat-raised-button color="primary" [matMenuTriggerFor] = "Action" > Action </button>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 4 </span>
            </td>
            <td>
               <span class="Style_1">Employee Name</span>
            </td>
            <td>
               <span class="Style_1"> Category</span>
            </td>
            <td>
               <span class="Style_1">25.08.17</span>
            </td>
            <td>
               <span class="Style_1">18.09.17</span>
            </td>
            <td>
               <span class="Style_1">Jan</span>
            </td>
            <td>
               <span class="Style_1">4hrs</span>
            </td>
            <td>
               <button mat-raised-button color="primary" [matMenuTriggerFor] = "Action" > Action </button>
            </td>
         </tr>
      </tbody>
   </table>
</div>
</div>
</div>

<!-- Dropdown menus -->
<mat-menu #Action="matMenu">
   <button mat-menu-item [routerLink]="['/Create_Payroll_Master']">
      <span>Edit</span>
   </button>
   <button mat-menu-item>
      <span>Delete</span>
   </button>
</mat-menu>


