<div class="page" style="margin-top:100px;">
      <div class="container-fluid">
         <!-- page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul>
                  <li class="HeaderName">Home</li>
                  <li class="arrow">>></li>
                  <li class="HeaderName">HRMS</li>
                  <li class="arrow">>></li>
                  <li>OnDuty</li>
               </ul>
            </div>
         </div>
         <form>
            <div class="row">
               <!-- Company details -->
               <div class="Company_Details">
                  <br>
                  <div class="col-sm-12">
                     <div class="view_item">
                        <div class="Static"> Name </div>
                        <div class="dots"> : </div>
                        <div class="Data">  Name</div>
                     </div>
                     <div class="view_item">
                        <div class="Static">UserName</div>
                        <div class="dots"> : </div>
                        <div class="Data"> UserName</div>
                     </div>
                     <div class="view_item">
                        <div class="Static">Department </div>
                        <div class="dots"> : </div>
                        <div class="Data">Department</div>
                     </div>
                     <div class="view_item">
                        <div class="Static">Designation </div>
                        <div class="dots"> : </div>
                        <div class="Data"> +Designation </div>
                     </div>
                     <div class="view_item">
                        <div class="Static">Email Id </div>
                        <div class="dots"> : </div>
                        <div class="Data"> sample@gmail.com </div>
                     </div>
                     <div class="view_item">
                           <div class="Static">Contact Number </div>
                           <div class="dots"> : </div>
                           <div class="Data"> +3453254 </div>
                        </div>
                  </div>
                  <br>
               </div>
               <!-- Company details -->
               <div class="Company_Details">
                     <br>
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class="Static"> Date </div>
                           <div class="dots"> : </div>
                           <div class="Data">  27/05/18</div>
                        </div>
                        <div class="view_item">
                           <div class="Static">OD Date</div>
                           <div class="dots"> : </div>
                           <div class="Data">  27/05/18</div>
                        </div>
                        <div class="view_item">
                           <div class="Static">Working Day </div>
                           <div class="dots"> : </div>
                           <div class="Data">2days</div>
                        </div>
                        <div class="view_item">
                           <div class="Static">Out Time </div>
                           <div class="dots"> : </div>
                           <div class="Data"> 5pm </div>
                        </div>
                        <div class="view_item">
                              <div class="Static">In Time </div>
                              <div class="dots"> : </div>
                              <div class="Data"> 9am </div>
                           </div>
                           <div class="view_item">
                                 <div class="Static">Purpose</div>
                                 <div class="dots"> : </div>
                                 <div class="Data"> Purpose </div>
                              </div>
                     </div>
                     <br>
                  </div>
            </div>
            <div class="row" style="margin-top:20px;">
               <div class="col-sm-12 text-right">
               </div>
            </div>
         </form>
      </div>
   </div>
   
   

