<app-header></app-header>
<div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1" style="height: 100%; width: 100%">
   <div class="Loading">
         <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
         </div>
   </div>
</div>
<!-- Main Section -->
<div class="Main_Section">
   <div class="Page_Section">
      <div class="container-fluid">
         <!-- page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul>
                  <li class="HeaderName">CRM</li>
                  <li class="arrow">>></li>
                  <li>Customers</li>
               </ul>
            </div>
         </div>
         <!-- Header Part -->
         <div class="row header_part">
            <div class="col-sm-6">
               <a [routerLink]="['/crm_customers_create']"><button class="Create_Button" mat-raised-button>+ Create</button></a>
            </div>
            <div class="col-sm-6">
               <div class="Search_Section">
                  <input type="text" placeholder="Search.." name="search">
                  <i class="material-icons">search</i>
               </div>
            </div>
         </div>
             <!-- content style -->
      <div class="row Content_Style">
         <div class="col-sm-3 Page_Content" *ngFor="let item of _CrmList; let i = index">
              <a (click)="View(i)">
               <div class="Sub_Content">
                  <div class="image_section">
                     <img src="../../../../assets/images/basic/company.png">
                  </div>
                  <div class="Content_Section">
                     <h5>{{item?.Company_Name}}</h5>
                     <h5>{{item?.Email}}</h5>
                     <h5 *ngIf="item?.Email !== null">{{item?.Phone_Number}}</h5>
                     <h5 *ngIf="item?.Email !== null">{{item?.Website}}</h5>
                  </div>
                  <a style="margin-bottom: 60px"><i class="material-icons View" >border_color</i></a> 
               </div> </a>
         </div>
      </div>
      </div>
   </div>
</div>
<!-- Dropdown menus -->
<mat-menu class="MenuStyleOne" #Action="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below" class="MenuStyleOne">
   <button mat-menu-item (click)="CreateContact()">
      <span>Add Contact</span>
   </button>
   <button mat-menu-item (click)="CreateActivity()">
      <span>Add Activity</span>
   </button>
   <a [routerLink]="['/crm_quotations_create']"><button mat-menu-item>
      <span>Create Quote</span>
   </button></a>
</mat-menu>
