<app-header></app-header>
<div class="Main_Section">
  <div class="Page_Section">
      <div class="container-fluid">
        <div class="page-identity" style="display:flex;width:100%;">
                <div  class="page-name">
                  <h5 ></h5>
                </div>
                <div  class="page-track" style="width:47%">
                  <ul>
                    <li> Customers</li>
                  </ul>
                </div>
              </div>
      <div class="row">
            <div class="col-sm-3">
               <span class="Create_Button"    [routerLink]="['/crm_customers_create']">+ Create</span>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-5">
               <div class="Search_Section">
                  <input type="text" placeholder="Search.." name="search">
                  <i class="material-icons">search</i>
               </div>
            </div>
         </div>
         <div class="row Content_Style">
            <div class="col-sm-3 Page_Content" >
               <div class="Sub_Content"  [routerLink]="['/main_crm_customers_view']">
               <div class="image_section">
                  <img src="../../../../assets/images/basic/company.png">
               </div>
               <div class=" Content_Section">
                  <h5>Customer Name</h5>
                  <h5>Customer@gmail.com</h5>
                  <h5>+7776546677</h5>
                  <h5>State,Country</h5>
               </div>
               <span><i class="material-icons settings">settings</i></span>
            </div>
         </div>
        <div class="col-sm-3 Page_Content">
            <div class="Sub_Content"  [routerLink]="['/main_crm_customers_view']">
               <div class="image_section">
                  <img src="../../../../assets/images/basic/company.png">
               </div>
               <div class=" Content_Section">
                  <h5>Customer Name</h5>
                  <h5>Customer@gmail.com</h5>
                  <h5>+7776546677</h5>
                  <h5>State,Country</h5>
               </div>
               <span><i class="material-icons settings">settings</i></span>
            </div>
         </div>
         <div class="col-sm-3 Page_Content">
            <div class="Sub_Content"  [routerLink]="['/main_crm_customers_view']">
               <div class="image_section">
                  <img src="../../../../assets/images/basic/company.png">
               </div>
               <div class=" Content_Section">
                  <h5>Customer Name</h5>
                  <h5>Customer@gmail.com</h5>
                  <h5>+7776546677</h5>
                  <h5>State,Country</h5>
               </div>
               <span><i class="material-icons settings">settings</i></span>
            </div>
         </div>
        <div class="col-sm-3 Page_Content">
            <div class="Sub_Content"  [routerLink]="['/main_crm_customers_view']">
               <div class="image_section">
                  <img src="../../../../assets/images/basic/company.png">
               </div>
               <div class=" Content_Section">
                  <h5>Customer Name</h5>
                  <h5>Customer@gmail.com</h5>
                  <h5>+7776546677</h5>
                  <h5>State,Country</h5>
               </div>
               <span><i class="material-icons settings">settings</i></span>
            </div>
         </div>
      </div>
   </div>
</div>
