<div class="Modal_Content">
   <div class="Modal_Header">
      <p>Company Info</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
  </div>
  <div class="Model_Body">
   <div class="row">
      <div class="col-sm-4 Form_Input">
         Company Logo:<br>
         <input type="text" placeholder="choosefile..">
      </div>
    <div class="col-sm-4 Form_Input">
         Company Name:<br>
         <input type="text">
      </div><br>
      <div class="col-sm-4 Form_Input">
            state:<br>
         <input type="text" >
      </div>
      <div class="col-sm-4 Form_Input">
            Address:<br>
         <input type="text"  >
      </div>
      <div class="col-sm-4 Form_Input">
            pinCode:<br>
            <input type="text" >
      </div>
      <div class="col-sm-4 Form_Input">
            Phone No:<br>
         <input type="text" >
      </div>
      <div class="col-sm-4 Form_Input">
            Email:<br>    
         <input type="text"  >
      </div>
      <div class="col-sm-4 Form_Input">
            Website:<br>
         <input type="text"  >
      </div>
      <div class="col-sm-4 Form_Select">
            Company Type:<br>
            <select>
                  <option disabled> Select One</option>
                  <option> All </option>
                  <option> Location1 </option>
                  <option> Location2 </option>
                  <option> Location3 </option>
                  <option> Location4 </option>
                  <option> Location5 </option>
               </select>
      </div>
      <div class="col-sm-4 Form_Select">
            Type Of Business:<br>
            <select>
                  <option disabled> Select One</option>
                  <option> All </option>
                  <option> Location1 </option>
                  <option> Location2 </option>
                  <option> Location3 </option>
                  <option> Location4 </option>
                  <option> Location5 </option>
               </select>
      </div>
   </div>
   <div class="Model_Footer">
      <span class="Submit_Btn" > Submit </span>
  </div>
</div>
