<div class="row">
   <div class="col-sm-6">
      <span class="Create_Button" (click)="CreateLeads()">+ Create</span>
   </div>
   <div class="col-sm-6">
      <div class="Search_Section">
         <input type="text" placeholder="Search.." name="search">
         <i class="material-icons">search</i>
      </div>
  </div>
</div>
<br>
<div class="Table_Section">
   <table>
      <thead>
         <tr>
            <th>S.no</th>
            <th>Company Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Product</th>
            <th>Lead Source</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <span class="S_no"> 1 </span>
            </td>
            <td>
               <span class="Name_Style">Company Name1</span>
            </td>
            <td>
               <span class="Name_Style"> Address1</span>
            </td>
            <td>
               <span class="Name_Style">+9876564345</span>
            </td>
            <td>
               <span class="Name_Style">Product1</span>
            </td>
            <td>
               <span class="Name_Style">Lead Source1</span>
            </td>
            <td>
               <span class="Action_Section Bg_Danger">
                  <i class="material-icons" (click)="DeleteLeads()">delete</i>
               </span>
               <span class="Action_Section Bg_Info">
                  <i class="material-icons" (click)="CreateLeads()">edit</i>
               </span>
               <span class="Action_Section Bg_Success">
                  <i class="material-icons" (click)="ViewLeads()"> remove_red_eye </i>
               </span>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 2 </span>
            </td>
            <td>
               <span class="Name_Style">Company Name2</span>
            </td>
            <td>
               <span class="Name_Style"> Address2</span>
            </td>
            <td>
               <span class="Name_Style">+9876564345</span>
            </td>
            <td>
               <span class="Name_Style">Product2</span>
            </td>
            <td>
               <span class="Name_Style">Lead Source2</span>
            </td>
            <td>
               <span class="Action_Section Bg_Danger">
                  <i class="material-icons" (click)="DeleteLeads()">delete</i>
               </span>
               <span class="Action_Section Bg_Info">
                  <i class="material-icons" (click)="CreateLeads()">edit</i>
               </span>
               <span class="Action_Section Bg_Success">
                  <i class="material-icons" (click)="ViewLeads()"> remove_red_eye </i>
               </span>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 3 </span>
            </td>
            <td>
               <span class="Name_Style">Company Name3</span>
            </td>
            <td>
               <span class="Name_Style"> Address3</span>
            </td>
            <td>
               <span class="Name_Style">+9876564345</span>
            </td>
            <td>
               <span class="Name_Style">Product3</span>
            </td>
            <td>
               <span class="Name_Style">Lead Source3</span>
            </td>
            <td>
               <span class="Action_Section Bg_Danger">
                  <i class="material-icons" (click)="DeleteLeads()">delete</i>
               </span>
               <span class="Action_Section Bg_Info">
                  <i class="material-icons" (click)="CreateLeads()">edit</i>
               </span>
               <span class="Action_Section Bg_Success">
                  <i class="material-icons" (click)="ViewLeads()"> remove_red_eye </i>
               </span>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 4</span>
            </td>
            <td>
               <span class="Name_Style">Company Name4</span>
            </td>
            <td>
               <span class="Name_Style"> Address4</span>
            </td>
            <td>
               <span class="Name_Style">+9876564345</span>
            </td>
            <td>
               <span class="Name_Style">Product4</span>
            </td>
            <td>
               <span class="Name_Style">Lead Source4</span>
            </td>
            <td>
               <span class="Action_Section Bg_Danger">
                  <i class="material-icons" (click)="DeleteLeads()">delete</i>
               </span>
               <span class="Action_Section Bg_Info">
                  <i class="material-icons" (click)="CreateLeads()">edit</i>
               </span>
               <span class="Action_Section Bg_Success">
                  <i class="material-icons" (click)="ViewLeads()"> remove_red_eye </i>
               </span>
            </td>
         </tr>
      </tbody>
   </table>
</div>