
<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
  <div class="Modal_Header">
      <p> Create WareHouse</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
  </div>
  <div class="Model_Body">
    <div class="row">
      <div class="col-sm-6 Form_Input">
        <label>WareHouse Name:</label>
          <input type="text">
      </div>
      <div class="col-sm-6 Form_Input">
        <label>WareHouse Code:</label>
          <input type="text">
      </div>
      <div class="col-sm-6 Form_Input">
        <label>Address:</label>
          <input type="text">
      </div>
   </div>
  </div>
  <div class="Model_Footer">
    <button mat-raised-button color="primary" > Submit </button>
 </div>
  </div>

<div class="Modal_Content" *ngIf=" Type && Type === 'View'">
  <div class="Modal_Header">
     <p>View  WareHouse</p>
     <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
 </div>
 <div class="Model_Body">
    <div class="row">
        <div class="col-sm-6 text-right Static">WareHouse Name: </div>
        <div class="col-sm-6 text-left Data">warehouse name</div>
     </div>
     <div class="row">
        <div class="col-sm-6 text-right Static">WareHouse Code: </div>
        <div class="col-sm-6 text-left Data">warehouse code</div>
     </div>
     <div class="row">
        <div class="col-sm-6 text-right Static">Address: </div>
        <div class="col-sm-6 text-left Data">ganapathy</div>
     </div>
</div>
</div>











