<!-- confirm -->
<div class="Modal_Content">
   <div class="Modal_Header">
      <p>Confirm</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
     <div style="text-align: center; color: #4e6a7a">
         <p> Are you sure !</p>
         <p> you want to confirm</p>
     </div>
   </div>
   <div class="Model_Footer">
      <button mat-raised-button class="cancel" [disabled]="Uploading" (click)="Cancel()" style="float: left"> Cancel </button>
      <button mat-raised-button color="primary" style="margin-left:61.5%" [disabled]="!Form.valid || Uploading" (click)="Confirm()" > 
         <span *ngIf="!Uploading"> Confirm </span> 
         <span *ngIf="Uploading" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </span>
      </button>   </div>
</div>