
<div class="page" style="margin-top:100px;">
      <div class="container-fluid">
         <!-- page identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul>
                  <li class="HeaderName">Home</li>
                  <li class="arrow">>></li>
                  <li class="HeaderName">HRMS</li>
                  <li class="arrow">>></li>
                  <li>Leaves</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <!-- Company details -->
            <div class="Company_Details">
                  <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Personal <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
                  <div class="row">
                        <div class="col-sm-6 Form_Input" >
                           <label>Name:</label>
                           <input type="text" placeholder="Name">
                        </div>
                        <div class="col-sm-6 Form_Input" >
                           <label>Department:</label>
                              <input type="text" placeholder="Department">
                           </div>
                           <div class="col-sm-6 Form_Input" >
                              <label>Designation:</label>
                                 <input type="text" placeholder="Designation">
                              </div>
                        <div class="col-sm-6 Form_Input" >
                           <label>Email Id:</label>
                           <input type="text" placeholder="emailid"> 
                        </div>
                        <div class="col-sm-6 Form_Input" >
                           <label>Contact Number:</label>
                           <input type="text" placeholder="contactnumber"> 
                        </div>
                     </div>
            </div>
            <!-- Company details -->
            <div class="Company_Details">
                  <h5 style="color:#49B660;font-size:20px;font-weight: 600;"> Application <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
                  <div class="row">
                        <div class="col-sm-6 Form_Select">
                           <label>Leave Type:</label>
                           <select>
                              <option checked>Select Leave Type</option>
                              <option> Leave Type1</option>
                              <option> Leave Type2</option>
                              <option> Leave Type3</option>
                              <option> Leave Type4</option>
                           </select>
                        </div>
                        <div class="col-sm-6 Form_Input" >
                           <label>From:</label>
                              <input type="text" placeholder="from">
                           </div>
                           <div class="col-sm-6 Form_Input" >
                              <label>To:</label>
                                 <input type="text" placeholder="Designation">
                              </div>
                        <div class="col-sm-6 Form_Input" >
                           <label>Purpose:</label>
                           <input type="text" placeholder="purpose"> 
                        </div>
                     </div>
            </div>
         </div>
         <div class="row" style="margin-top:20px;"> 
            <div class="col-sm-12 text-right">
                  <button mat-raised-button color="primary" style = "bottom: 20px;"> Submit </button>
            </div>
         </div>
      </div>
   </div>

