<!-- Page -->
<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class="LinkName"><a [routerLink]="['/List_Attendance_Log']">Attendance Log List</a></li>
               <li class="arrow">>></li>
               <li>Attendance Log View</li>
            </ul>
         </div>
      </div>
      <form>
         <div class="Company_Details">
            <br>
            <div class="row">
               <div class="col-sm-4">
                  <div class="view_item">
                     <div class="Static">Employee Name </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Employee Name</div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Code</div>
                     <div class="dots"> : </div>
                     <div class="Data"> Code</div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="view_item">
                     <div class="Static">Date </div>
                     <div class="dots"> : </div>
                     <div class="Data">28.08.18</div>
                  </div>
                  <div class="view_item">
                     <div class="Static">In Time </div>
                     <div class="dots"> : </div>
                     <div class="Data"> 9am </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="view_item">
                     <div class="Static">Out Time </div>
                     <div class="dots"> : </div>
                     <div class="Data"> 5pm </div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Attendance Code </div>
                     <div class="dots"> : </div>
                     <div class="Data"> P </div>
                  </div>
               </div>
            </div>
            <br>
         </div>
      </form>
   </div>
</div>

