<div class="Main_Section">
   <div class="row">
      <div class="col-sm-4">
         <div class="Card card_bg_Liner_1">
            <div class="Card_Body">
               <div class="Card_Left">
                  <i class="material-icons account_balance">account_balance_wallet</i>
               </div>
               <div class="Card_Right">
                  <h5 class="card_color_1"> Account Balnce </h5>
                  <h6> Rs.2,00,00,000.00</h6>
               </div>
            </div>
             <div class="Card_Footer card_bg_1">
               <span class="Card_Info"> Rs.5,000.00 Last Added </span>
            </div>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="Card card_bg_Liner_2">
            <div class="Card_Body">
               <div class="Card_Left">
                  <i class="material-icons assignment">   assignment   </i>
               </div>
               <div class="Card_Right">
                  <h5 class="card_color_2 ">Logs Activity </h5>
                  <h6>25 Logs</h6>
               </div>
            </div>
            <div class="Card_Footer card_bg_2">
               <span class="Card_Info"> 45 Logs In last Day </span>
            </div>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="Card card_bg_Liner_3">
            <div class="Card_Body">
               <div class="Card_Left">
                  <i class="material-icons add_shopping"> add_shopping_cart  </i>
               </div>
               <div class="Card_Right">
                  <h5 class="card_color_3"> Customer Leads</h5>
                  <h6>25 Leads </h6>
               </div>
            </div>
            <div class="Card_Footer card_bg_3">
               <span class="Card_Info">25 Leads In Last Day </span>
            </div>
         </div>
      </div>
   </div>
</div>
         