<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
   <div class="Modal_Header">
     <p> Contact</p>
     <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
     <div class="row">
       <div class="col-sm-6 Form_Select">
         <label>Title:</label>
         <select>
            <option disabled> Mr</option>
            <option> Ms</option>
            <option>Mrs</option>
         </select>
       </div>
       <div class="col-sm-6 Form_Input">
         <label>Name:</label>
         <input type="text">
       </div>
       <div class="col-sm-6 Form_Input">
         <label>Contact Role:</label>
         <input type="text">
       </div>
       <div class="col-sm-6 Form_Input">
         <label>Email:</label>
         <input type="text">
       </div>
       <div class="col-sm-6 Form_Input">
         <label>Mobile:</label>
         <input type="text">
       </div>
      <div class="col-sm-6 Form_Input">
         <label>Job Position:</label>
         <input type="text">
       </div>
      </div>
   </div>
   <div class="Model_Footer">
     <button mat-raised-button color="primary"> Submit </button>
   </div>
 </div>
 <div class="Modal_Content" *ngIf=" Type && Type === 'View'">
   <div class="Modal_Header">
     <p>Contact</p>
     <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
     <div class="view_item">
       <div class=" Static">Title </div>
       <div class="dots"> : </div>
       <div class=" Data"> Title</div>
     </div>
     <div class="view_item">
       <div class=" Static">Name </div>
       <div class="dots"> : </div>
       <div class=" Data"> Name</div>
     </div>
     <div class="view_item">
       <div class=" Static">Contact Role </div>
       <div class="dots"> : </div>
       <div class=" Data"> Contact Role</div>
     </div>
     <div class="view_item">
       <div class=" Static">Email </div>
       <div class="dots"> : </div>
       <div class=" Data"> sample@gmail.com</div>
     </div>
     <div class="view_item">
       <div class=" Static">Mobile </div>
       <div class="dots"> : </div>
       <div class=" Data"> +6546757657</div>
     </div>
     <div class="view_item">
       <div class="Static">Job Position </div>
       <div class="dots"> : </div>
       <div class=" Data"> Job Position</div>
     </div>
   </div>
 </div>

