
<!-- About Section -->
<div class="about_section">
   <div class="row About_Section">
      <div class="col-sm-6">
         <div class="view_item">
            <div class="Static">
               <div class="Customer_Details_Title">
                  <h5>Customer Name</h5>
               </div>
            </div>
            <div class="dots"> : </div>
            <div class="Data">
               <div class="Customer_Details_Value">
                  <h5>{{CustomerData['Company_Name']}}</h5>
               </div>
            </div>
         </div>
         <div class="view_item" *ngIf="CustomerData['Email'] !== null">
            <div class="Static">
               <div class="Customer_Details_Title">
                  <h5>E-mail</h5>
               </div>
            </div>
            <div class="dots"> : </div>
            <div class="Data">
               <div class="Customer_Details_Value">
                  <h5>{{CustomerData['Email']}}</h5>
               </div>
            </div>
         </div>
         <div class="view_item">
            <div class="Static">
               <div class="Customer_Details_Title">
                  <h5>Phone</h5>
               </div>
            </div>
            <div class="dots"> : </div>
            <div class="Data">
               <div class="Customer_Details_Value">
                  <h5>{{CustomerData['Phone_Number']}}</h5>
               </div>
            </div>
         </div>
         <div class="view_item" *ngIf="CustomerData['Website'] !== null">
            <div class="Static">
               <div class="Customer_Details_Title">
                  <h5>Website</h5>
               </div>
            </div>
            <div class="dots"> : </div>
            <div class="Data">
               <div class="Customer_Details_Value">
                  <h5>{{CustomerData['Website']}}</h5>
               </div>
            </div>
         </div>
         <div class="view_item">
            <div class="Static">
               <div class="Customer_Details_Title">
                  <h5>Industry Type</h5>
               </div>
            </div>
            <div class="dots"> : </div>
            <div class="Data">
               <div class="Customer_Details_Value">
                  <h5>{{CustomerData['Industry_Type']?.Industry_Type}}</h5>
               </div>
            </div>
         </div>
         <div class="view_item">
            <div class="Static">
               <div class="Customer_Details_Title">
                  <h5>No of Employees</h5>
               </div>
            </div>
            <div class="dots"> : </div>
            <div class="Data">
               <div class="Customer_Details_Value">
                  <h5>{{CustomerData['No_Of_Employee']}}</h5>
               </div>
            </div>
         </div>
         <div class="view_item">
            <div class="Static">
               <div class="Customer_Details_Title">
                  <h5>Notes</h5>
               </div>
            </div>
            <div class="dots"> : </div>
            <div class="Data">
               <div class="Customer_Details_Value">
                  <h5>{{CustomerData['Notes']}}</h5>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3">
         <div class="Customer_Details_Title">
            <h5>Shipping Address</h5>
         </div>
         <div class="Customer_Details_Value">
            <h5>
               {{CustomerData['ShopFloorAddress']?.Street}}, 
               {{CustomerData['ShopFloorAddress']?.Area}}, <br/>
               {{CustomerData['ShopFloorAddress']?.City?.City_Name}}, 
               {{CustomerData['ShopFloorAddress']?.State?.State_Name}}, <br/>
               {{CustomerData['ShopFloorAddress']?.Country?.Country_Name}} - {{CustomerData['ShopFloorAddress']?.ZipCode}}.
            </h5>
         </div>  
      </div>
      <div class="col-sm-3">
         <div class="Customer_Details_Title">
            <h5>Billing Address</h5>
         </div>
         <div class="Customer_Details_Value">
            <h5>
               {{CustomerData['BillingAddress']?.Street}}, 
               {{CustomerData['BillingAddress']?.Area}}, <br/>
               {{CustomerData['BillingAddress']?.City?.City_Name}}, 
               {{CustomerData['BillingAddress']?.State?.State_Name}}, <br/>
               {{CustomerData['BillingAddress']?.Country?.Country_Name}} - {{CustomerData['BillingAddress']?.ZipCode}}.
            </h5>
         </div>
      </div>
   </div>
</div><br>
<!-- <div class="Image">
   <div class="row Image_Section">
      <div class="col-sm-12">
         <img src="../../../../../../../assets/images/basic/Insight360.png">
      </div>
   </div>
</div> -->

  
