<!-- Header Part -->
<div class="row header_part">
   <div class="col-sm-6">
      <button class="Create_Button" mat-raised-button (click)="RegistrationType()"> + Create </button>
   </div>
   <!-- <div class="col-sm-6">
      <div class="Search_Section">
         <input type="text" placeholder="Search.." name="search">
         <i class="material-icons">search</i>
      </div>
   </div> -->
</div>
<!-- Table Section -->
<div class="Table_Section">
   <table>
      <thead>
         <tr>
            <th>S.no</th>
            <th>Type</th>
            <th>Value </th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <span class="S_no"> 1 </span>
            </td>
            <td>
               <span class="Style_1">GST</span>
            </td>
            <td>
               <span class="Style_1">234 </span>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 2 </span>
            </td>
            <td>
               <span class="Style_1">PAN</span>
            </td>
            <td>
               <span class="Style_1">4356547 </span>
            </td>
         </tr>
      </tbody>
   </table>
</div>