<div class="about_section">
  <div class="row About_Section">
     <div class="col-sm-12">
        <div class="row">
           <div class="col-sm-4 Form_Input">
               <label>GST No:</label>
            </div>
           <div class="col-sm-4 Form_Input">
              <input type="text">
           </div>
        </div>
        <div class="row">
         <div class="col-sm-4 Form_Input">
             <label>TIN No:</label>
          </div>
         <div class="col-sm-4 Form_Input">
            <input type="text">
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4 Form_Input">
             <label>CST No:</label>
          </div>
         <div class="col-sm-4 Form_Input">
            <input type="text">
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4 Form_Input">
             <label>Service Tax Code:</label>
          </div>
         <div class="col-sm-4 Form_Input">
            <input type="text">
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4 Form_Input">
             <label>PAN No:</label>
          </div>
         <div class="col-sm-4 Form_Input">
            <input type="text">
         </div>
      </div>
   </div>
   </div>
</div>


 
