<app-header></app-header>
<!-- Page section -->
<div class="Page_Section">
   <div class="container-fluid">
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li>Employees</li>
            </ul>
         </div>
      </div>
      <!--  Header Part -->
      <!-- Create and search Section -->
      <div class="row header_part">
         <div class="col-sm-6">
            <a [routerLink]="['/Create_Employees']"><button class="Create_Button" mat-raised-button> + Create</button></a>        
          </div>
         <div class="col-sm-6">
            <div class="Search_Section">
               <input type="text" placeholder="Search.." name="search">
               <i class="material-icons">search</i>
            </div>
         </div>
      </div>
      <!-- Table Section -->
      <div class="Table_Section">
         <table>
            <thead>
               <tr>
                  <th>S.no</th>
                  <th>Employee Name</th>
                  <th>Code</th>
                  <th>Phone No</th>
                  <th>Department</th>
                  <th>Job Title</th>
                  <th>Manager</th>
                  <th>Action</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <span class="S_no"> 1 </span>
                  </td>
                  <td>
                     <span class="Style_1">Employee Name</span>
                  </td>
                  <td>
                     <span class="Style_1"> code</span>
                  </td>
                  <td>
                     <span class="Style_1">+4546546547</span>
                  </td>
                  <td>
                     <span class="Style_1">Department</span>
                  </td>
                  <td>
                     <span class="Style_1">Job Title</span>
                  </td>
                  <td>
                     <span class="Style_1">Manager</span>
                  </td>
                  <td>
                     <button mat-raised-button color="primary" [matMenuTriggerFor] = "Action" > Action </button>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 2 </span>
                  </td>
                  <td>
                     <span class="Style_1">Employee Name</span>
                  </td>
                  <td>
                     <span class="Style_1"> code</span>
                  </td>
                  <td>
                     <span class="Style_1">+4546546547</span>
                  </td>
                  <td>
                     <span class="Style_1">Department</span>
                  </td>
                  <td>
                     <span class="Style_1">Job Title</span>
                  </td>
                  <td>
                     <span class="Style_1">Manager</span>
                  </td>
                  <td>
                     <button mat-raised-button color="primary" [matMenuTriggerFor] = "Action" > Action </button>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 3 </span>
                  </td>
                  <td>
                     <span class="Style_1">Employee Name</span>
                  </td>
                  <td>
                     <span class="Style_1"> code</span>
                  </td>
                  <td>
                     <span class="Style_1">+4546546547</span>
                  </td>
                  <td>
                     <span class="Style_1">Department</span>
                  </td>
                  <td>
                     <span class="Style_1">Job Title</span>
                  </td>
                  <td>
                     <span class="Style_1">Manager</span>
                  </td>
                  <td>
                     <button mat-raised-button color="primary" [matMenuTriggerFor] = "Action" > Action </button>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 4 </span>
                  </td>
                  <td>
                     <span class="Style_1">Employee Name</span>
                  </td>
                  <td>
                     <span class="Style_1"> code</span>
                  </td>
                  <td>
                     <span class="Style_1">+4546546547</span>
                  </td>
                  <td>
                     <span class="Style_1">Department</span>
                  </td>
                  <td>
                     <span class="Style_1">Job Title</span>
                  </td>
                  <td>
                     <span class="Style_1">Manager</span>
                  </td>
                  <td>
                     <button mat-raised-button color="primary" [matMenuTriggerFor] = "Action" > Action </button>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <br>
   </div>
</div>

<!-- Dropdown menus -->
<mat-menu class="MenuStyleOne" #Action="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below" class="MenuStyleOne">
   <a [routerLink]="['/Create_Employees']"><button mat-menu-item>
      <span>Edit</span>
   </button></a>
   <a [routerLink]="['/View_Employees']"><button mat-menu-item>
      <span>View</span>
   </button></a>
   <button mat-menu-item (click)="DeleteEmployee()">
      <span>Delete</span>
   </button>
</mat-menu>
