<div class="page" style="margin-top:100px;">
  <div class="container-fluid">
    <div class="Page_Identity">
      <div class="Page_Track">
        <ul>
          <li class="HeaderName">Home</li>
          <li class="arrow">>></li>
          <li class="LinkName">Accounts</li>
          <li class="arrow">>></li>
          <li>Customer Payments</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="Company_Details">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 Form_Input">
              <label>Customer:</label>
              <input type="text">
            </div>
            <div class="col-sm-6 Form_Select">
              <label>Invoice No:</label>
              <select>
                  <option checked>Invoice No</option>
                  <option> IVC133</option>
                  <option> IVC133</option>
                  <option> IVC133</option>
                  <option> IVC133</option>
               </select>
            </div>
            <div class="col-sm-6 Form_Input">
              <label>Payment Amount:</label>
              <input type="text">
            </div>
            <div class="col-sm-6 Form_Input">
              <label>Date:</label>
              <input type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="Product">
        <div class="Product_Details" >
          <div class="row">
            <div class="col-sm-12">
              <h5>Mode Of Payments</h5>
              <br>
            </div>
          </div>
          <div class="Tabs">
               <div class="Tab" [ngClass]="{'active': Active_Tab === 'Bank'}" (click)="Active_Tab_Change('Bank')">
                  <span >Bank</span>
               </div>
               <div class="Tab" [ngClass]="{'active': Active_Tab === 'Cash'}" (click)="Active_Tab_Change('Cash')">
                  <span >Cash</span>
               </div>
            </div>
             <br>
             <div class="Bank" *ngIf="Active_Tab === 'Bank'">
          <br>
          <div class="row">
            <div class="col-sm-4 Form_Input">
              <label>Amount:</label>
              <input type="text">
            </div>
            <div class="col-sm-4 Form_Input">
              <label>Date:</label>
              <input type="text">
            </div>
            <div class="col-sm-4 Form_Input">
              <label>Reference No:</label>
              <input type="text">
            </div>
          </div>
        </div>
        </div>
        <div class="Done_Section" >
         <div class="cash" *ngIf="Active_Tab === 'Cash'">
          <br>
          <div class="row">
            <div class="col-sm-4 Form_Input">
              <label>Amount:</label>
              <input type="text">
            </div>
            <div class="col-sm-4 Form_Input">
              <label>Date:</label>
              <input type="text">
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="col-sm-12 text-right">
        <button mat-raised-button color="primary" style="bottom: 15px;"> Submit </button>
      </div>
    </div>
  </div>
</div>