/* Main Section */
   .page_section{
      margin-top: 100px;
   }
/* --------------   Page Identity Section  ----------------- */
   .Page_Identity{
      display: flex;
      height:40px;
      width: 100%;
   }
   .Page_Identity .Page_Track{
      width:100%;
      line-height: 35px;
   }
   .Page_Identity .Page_Track ul{
      display: flex;
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      align-items: center;
      float: right;
   }
   .Page_Identity .Page_Track ul li {
      font-size: 13px;
      font-weight: 500;
      margin-left: 5px;
      color: #4e6a7a;
   }
   .Page_Identity .Page_Track ul li.arrow{
      letter-spacing: -4px;
      font-size: 19px;
      transform: scale(.6, 1);
      color: #4e6a7a;
   }
   .Page_Identity .Page_Track ul li.arrowGreen{
      letter-spacing: -4px;
      font-size: 19px;
      transform: scale(.6, 1);
      color: #4ab65f;
   }
   .Page_Identity .Page_Track ul li.HeaderName{
      color: #4ab65f;
   }
   .Page_Identity .Page_Track ul li.LinkName{
      color: #4ab65f;
      cursor: pointer;
   }
   /* Form styles */
   .Form_Input input {
      padding: 10px;
      width: 100%;
      height: 37px;
      outline: none;
      margin-bottom: 25px;
      border: 1px solid gainsboro;
      color: #484848;
      font-weight: 500;
      font-size: 14px;
   }
   .Form_Input input:-moz-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Input input::-moz-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Input input::-webkit-input-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Input input:-ms-input-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Select select{
      width: 100%;
      height: 37px;
      color: #999;
      outline: none;
      padding: 0px 10px;
      border: 1px solid #dcdcdc;
      margin-bottom: 25px;
   }
   .Form_Select select option{
      color: #999999;
      width: 100%;
   }
   .Form_TextArea textarea {
      padding: 10px;
      width: 100%;
      outline: none;
      margin-bottom: 25px;
      border: 1px solid gainsboro;
      color: #484848;
      font-weight: 500;
      font-size: 14px;
   }
   .Form_TextArea textarea:-moz-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_TextArea textarea::-moz-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_TextArea textarea::-webkit-input-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_TextArea textarea:-ms-input-placeholder{
      color: #999999;
      font-weight: 400;
   }
/* Container Content */
   .container-content{
      margin-left: 2%;
      margin-right: 1%;
      background-color: #fff;
      padding: 15px 15px;
      box-shadow: 1px 1px 10px #d4d4d4;
   }
   .container-content input[type="radio"]{
      margin-left:5px;
   }
   .right_section{
      width:100%;
      height:400px;
   }
   .container-content .content_gap .Left_Date{
      font-size: 16px;
      font-weight: 600;
      color: #485b65;
      letter-spacing: 0.5px;
   }
   .container-content .content_gap .Right_data{
      font-size: 14px;
      font-weight: 400;
      color: #6b8b9c;
      letter-spacing: 0.5px;
      margin-left: 15%;
   }
   .container-content .content_gap .Header{
      font-size: 21px;
      font-weight: 800;
      color: #73c184;
      letter-spacing: 0.5px;
   }