
<div class="row">
   <div class="col-sm-6">
      <span class="Create_Button" (click)=" CreateLeaveType()">Add New</span>
   </div>
   <div class="col-sm-6">
      <div class="Search_Section">
         <input type="text" placeholder="Search.." name="search">
         <i class="material-icons">search</i>
      </div>
   </div>
</div>
<br>
<div class="Table_Section">
   <table >
      <thead>
         <tr>
            <th>S.no</th>
            <th>Leave Type</th>
            <th>Created By</th>
            <th>Last Modification Date</th>
            <th>Action</th>
         </tr>
      </thead>
         <tbody>
            <tr>
               <td>
                  <span class="S_no"> 1 </span>
               </td>
               <td>
                  <span class="Name_Style">Type-11</span>
               </td>
               <td>
                  <span class="Name_Style">admin</span>
               </td>
               <td>
                  <span class="Name_Style">28-9-2008</span>
               </td>
               <td>
                  <span class="Action_Section Bg_Danger">
                     <i class="material-icons" (click)="DeleteContactInfo()">delete</i>
                  </span>
                  <span class="Action_Section Bg_Info">
                     <i class="material-icons" (click)=" CreateLeaveType()">edit</i>
                  </span>
                  <span class="Action_Section Bg_Success">
                     <i class="material-icons" (click)=" ViewLeaveType()"> remove_red_eye </i>
                  </span>
               </td>
            </tr>
            <tr>
                <td>
                   <span class="S_no"> 2 </span>
                </td>
                <td>
                   <span class="Name_Style">Type-11</span>
                </td>
                <td>
                   <span class="Name_Style">admin</span>
                </td>
                <td>
                   <span class="Name_Style">28-9-2008</span>
                </td>
                <td>
                   <span class="Action_Section Bg_Danger">
                      <i class="material-icons" (click)="DeleteContactInfo()">delete</i>
                   </span>
                   <span class="Action_Section Bg_Info">
                      <i class="material-icons" (click)=" CreateLeaveType()">edit</i>
                   </span>
                   <span class="Action_Section Bg_Success">
                      <i class="material-icons" (click)=" ViewLeaveType()"> remove_red_eye </i>
                   </span>
                </td>
             </tr>
             <tr>
               <td>
                  <span class="S_no"> 3 </span>
               </td>
               <td>
                  <span class="Name_Style">Type-11</span>
               </td>
               <td>
                  <span class="Name_Style">admin</span>
               </td>
               <td>
                  <span class="Name_Style">28-9-2008</span>
               </td>
               <td>
                  <span class="Action_Section Bg_Danger">
                     <i class="material-icons" (click)="DeleteContactInfo()">delete</i>
                  </span>
                  <span class="Action_Section Bg_Info">
                     <i class="material-icons" (click)=" CreateLeaveType()">edit</i>
                  </span>
                  <span class="Action_Section Bg_Success">
                     <i class="material-icons" (click)=" ViewLeaveType()"> remove_red_eye </i>
                  </span>
               </td>
               </tr>
                <tr>
                  <td>
                     <span class="S_no"> 4 </span>
                  </td>
                  <td>
                     <span class="Name_Style">Type-11</span>
                  </td>
                  <td>
                     <span class="Name_Style">admin</span>
                  </td>
                  <td>
                     <span class="Name_Style">28-9-2008</span>
                  </td>
                  <td>
                     <span class="Action_Section Bg_Danger">
                        <i class="material-icons" (click)="DeleteContactInfo()">delete</i>
                     </span>
                     <span class="Action_Section Bg_Info">
                        <i class="material-icons" (click)=" CreateLeaveType()">edit</i>
                     </span>
                     <span class="Action_Section Bg_Success">
                        <i class="material-icons" (click)=" ViewLeaveType()"> remove_red_eye </i>
                     </span>
                  </td>
               </tr>
         </tbody>
      </table>
   </div>