<!-- Page section -->
<div class="page_section">
   <div class="container-fluid">
      <!-- Page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class= "LinkName">HR</li>
               <li class="arrow">>></li>
               <li >Configuration</li>
            </ul>
         </div>
      </div>
      <!-- Container Content -->
      <div class="container-content">
         <div class="content_gap">
            <form [formGroup]="Form">
               <h5 class="Header"></h5>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Employee</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <mat-radio-group class="example-radio-group" formControlName="Employee" (ngModelChange)="EmployeeChange($event)">
                        <mat-radio-button class="example-radio-button" value="Auto">Auto Increment</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="Manual">Manual Increment</mat-radio-button>
                     </mat-radio-group>
                        <div class="row">
                           <div class="col-sm-6 Form_Input" *ngIf="Employee_Type === 'Auto'">
                              <input type="text" placeholder="Prefix" formControlName="Employee_Prefix">
                           </div>
                           <div class="col-sm-6 Form_Input" *ngIf="Employee_Type === 'Auto'">
                              <input type="text" placeholder="Suffix" formControlName="Employee_Suffix">
                           </div>
                           <div class="col-sm-6 Form_Input" *ngIf="Employee_Type === 'Auto'">
                              <input type="text" placeholder="Starting With" formControlName="Employee_Starting">
                           </div>
                           <div class="col-sm-6 Form_Select" *ngIf="Employee_Type === 'Auto'">
                              <ng-select class="NgSelect" 
                                 [items]="_BasedOn" 
                                 [searchable]="true" 
                                 (ngModelChange)="EmployeeChange_Custom($event)"
                                 formControlName="Employee_Based"
                                 placeholder="Based">
                              </ng-select>
                           </div>
                        </div><br>
                        <div class="row">
                           <div class="col-sm-6 Form_Select" *ngIf="Employee_Based_Type === 'Custom'">
                              <ng-select class="NgSelect" 
                                 [items]="_Date" 
                                 [searchable]="true"
                                 formControlName="Employee_Custom_Date" 
                                 placeholder="Date">
                              </ng-select>   
                           </div>
                           <div class="col-sm-6 Form_Select" *ngIf="Employee_Based_Type === 'Custom'">
                              <ng-select class="NgSelect" 
                                 [items]="_Month" 
                                 [searchable]="true"
                                 formControlName="Employee_Custom_Month" 
                                 placeholder="Month">
                              </ng-select>   
                           </div>
                        </div>
                  </div>
               </div><br><hr>
               <h5 class="Header"></h5>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Code</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <mat-radio-group class="example-radio-group" formControlName="Code" (ngModelChange)="CodeChange($event)">
                        <mat-radio-button class="example-radio-button" value="Auto">Auto Increment</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="Manual">Manual Increment</mat-radio-button>   
                     </mat-radio-group>
                     <div class="row">
                        <div class="col-sm-6 Form_Input" *ngIf="Code_Type === 'Auto'">
                           <input type="text" placeholder="Prefix" formControlName="Code_Prefix">
                        </div>
                        <div class="col-sm-6 Form_Input" *ngIf="Code_Type === 'Auto'">
                           <input type="text" placeholder="Suffix" formControlName="Code_Suffix">
                        </div>
                        <div class="col-sm-6 Form_Input" *ngIf="Code_Type === 'Auto'">
                           <input type="text" placeholder="Starting With" formControlName="Code_Starting">
                        </div>
                        <div class="col-sm-6 Form_Select" *ngIf="Code_Type === 'Auto'">
                           <ng-select class="NgSelect" 
                              [items]="_BasedOn" 
                              [searchable]="true"
                              (ngModelChange)="CodeChange_Custom($event)"
                              formControlName="Code_Based" 
                              placeholder="Based">
                           </ng-select>
                        </div>
                     </div><br>
                     <div class="row">
                        <div class="col-sm-6 Form_Select" *ngIf="Code_Based_Type === 'Custom'">
                           <ng-select class="NgSelect" 
                              [items]="_Date" 
                              [searchable]="true" 
                              formControlName="Code_Custom_Date"
                              placeholder="Date">
                           </ng-select>   
                        </div>
                        <div class="col-sm-6 Form_Select" *ngIf="Code_Based_Type === 'Custom'">
                           <ng-select class="NgSelect" 
                              [items]="_Month" 
                              [searchable]="true"
                              formControlName="Code_Custom_Month" 
                              placeholder="Month">
                           </ng-select>   
                        </div>
                     </div>
                  </div>
               </div><br><hr>
            </form>
         </div>
      </div>
   </div>
</div>
<div class="Footer">
   <button *ngIf="_Create" mat-raised-button color="primary" style = "top: 5px;" (click)="Submit()" [disabled]="Form.status !== 'VALID'"> Submit </button>
   <button *ngIf="_Update" mat-raised-button color="primary" style = "top: 5px;" (click)="Update()" [disabled]="!Form.touched || !Form.valid"> Update </button>
</div>
           
   
