<!-- If Create Or Edit The Industry Type -->
   <div class="Modal_Content" *ngIf="Type && ( Type === 'Create' || Type === 'Edit')">
      <div class="Modal_Header">
         <p> {{Type}} Industry Type</p>
         <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <div class="Model_Body">
         <form [formGroup]="Form">
            <div class="row">
               <div class="col-sm-10 Form_Input" [ngClass]="{'Form_Err': Form.controls['Industry_Type'].errors && !Form.controls['Industry_Type'].pristine, 'Form_Success': Form.controls['Industry_Type'].valid && !Form.controls['Industry_Type'].pristine }">
                  <label>Industry Type:</label>
                  <input type="text" formControlName="Industry_Type">
                  <p class="error" *ngIf="Form.controls['Industry_Type'].errors && !Form.controls['Industry_Type'].pristine">
                     <span *ngIf="Form.controls['Industry_Type'].errors.required">Industry Type is required</span>
                  </p>
               </div>
            </div>
         </form>
      </div>
      <div class="Model_Footer">
         <ng-container *ngIf="Type === 'Create'">
            <button type="submit" (click)="submit()" [disabled]="Form.invalid" mat-raised-button color="primary" > Submit </button>
         </ng-container>
         <ng-container *ngIf="Type === 'Edit'">
            <button type="submit" (click)="update()" [disabled]="Form.invalid" mat-raised-button color="primary" > Update </button>
         </ng-container>
      </div>
   </div>



<!-- If View The Industry Type -->
   <div class="Modal_Content" *ngIf=" Type && Type === 'View'">
      <div class="Modal_Header">
         <p>View Industry Type</p>
         <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <div class="Model_Body">
         <div class="view_item">
            <div class="Static">Industry Type </div>
            <div class="dots"> : </div>
            <div class="Data"> {{Data.Industry_Type}}</div>
         </div>
         <div class="view_item">
            <div class="Static">Created By </div>
            <div class="dots"> : </div>
            <div class="Data"> {{Data.Created_By}}</div>
         </div>
         <div class="view_item">
            <div class="Static">Last Modified By </div>
            <div class="dots"> : </div>
            <div class="Data"> {{Data.Last_Modified_By}}</div>
         </div>
         <div class="view_item">
            <div class="Static"> Created Date </div>
            <div class="dots"> : </div>
            <div class="Data"> {{Data.createdAt | date:'medium'}}</div>
         </div>
         <div class="view_item">
            <div class="Static">Last Modified Date  </div>
            <div class="dots"> : </div>
            <div class="Data"> {{Data.updatedAt | date:'medium'}}</div>
         </div>
      </div>
   </div>



