<!-- Page Header Part -->
   <div class="row header_part">
      <div class="col-sm-6">
         <button class="Create_Button" mat-raised-button (click)="CreatePaymentTerms()"> + Create </button>
      </div>
      <div class="col-sm-6">
         <div class="Search_Section">
            <input type="text" placeholder="Search.." name="search">
            <i class="material-icons">search</i>
         </div>
      </div>
   </div>
<!-- Table Section -->
   <div class="Table_Section">
      <table>
         <thead>
            <tr>
               <th>S.no</th>
               <th>Payment Terms</th>
               <th>Created By</th>
               <th>Last Modification Date</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let Item of _List; let i=index">
               <td>
                  <span class="S_no"> {{ i + 1 }} </span>
               </td>
               <td>
                  <span class="Style_1"> {{ Item.Payment_Terms }}</span>
               </td>
               <td>
                  <span class="Style_1"> {{ Item.Created_By }}</span>
               </td>
               <td>
                  <span class="Style_1">{{Item.updatedAt | date:'medium'}}</span>
               </td>
               <td>
                  <button (click)="ViewPaymentTerms(i)" class="Table_Action_mini Bg_Info" mat-mini-fab color="primary">
                     <i class="material-icons">zoom_in</i>
                  </button>
                  <button  (click)="EditPaymentTerms(i)" class="Table_Action_mini Bg_warning" mat-mini-fab color="primary">
                     <i class="material-icons">edit</i>
                  </button>
                  <button (click)=" DeletePaymentTerms(i)" class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary">
                     <i class="material-icons">delete_forever</i>
                  </button>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
