.Modal_Content {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}
.Modal_Header {
    position: relative;
    display: flex;
    align-items: center;
    height: 45px;
    border-bottom: 1px solid #e8e8e8;
}
.Modal_Header p {
    margin: 0px;
    font-weight: 600;
    font-size: 23px;
    color: #484848;
    letter-spacing: 0.3px;
}
.Modal_Header span {
    font-size: 30px;
    position: absolute;
    right: 0px;
    font-weight: 900;
    top: -4px;
    cursor: pointer;
}
.Model_Body {
    padding: 20px;
}
.Image_Section {
    display: block;
    width: 100%;
    text-align: center;
}
.Image_Section img {
    display: flex;
    width: 180px;
    height: 180px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}
.Image_Section .Upload_Btn {
    border: 1px solid #08a92c;
    padding: 5px 15px;
    color: #08a92c;
    font-weight: 600;
    cursor: pointer;
}
.Form_Input input {
    padding: 10px;
    width: 100%;
    height: 40px;
    outline: none;
    margin-bottom: 25px;
    border: 1px solid gainsboro;
    color: #484848;
    font-weight: 500;
    font-size: 14px;
}
.Form_Input input:-moz-placeholder{
    color: #999999;
    font-weight: 400;
}
.Form_Input input::-moz-placeholder{
    color: #999999;
    font-weight: 400;
}
.Form_Input input::-webkit-input-placeholder{
    color: #999999;
    font-weight: 400;
}
.Form_Input input:-ms-input-placeholder{
    color: #999999;
    font-weight: 400;
}
.Form_Select select{
    width: 100%;
    height: 40px;
    color: #999;
    outline: none;
    padding: 0px 10px;
    border: 1px solid #dcdcdc;
    margin-bottom: 25px;
}
.Form_Select select option{
    color: #999999;
    width: 100%;
}
.Append_Btn i{
    color: #484848;
    line-height: 45px;
    font-size: 30px;
    cursor: pointer;
}
.Model_Footer {
    border-top: 1px solid #e8e8e8;
    height: 55px;
    display: flex;
    align-items: center;
    position: relative;
}
.Model_Footer .Submit_Btn {
    position: absolute;
    right: 0px;
    border: 1px solid #08a92c;
    padding: 5px 20px;
    background-color: #08a92c;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 3px;
    cursor: pointer;
}
input[type="radio"]
{
    margin-top: 30px;
}
