<!-- Loader -->
<div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1" style="width: 100%; height: 100%; top: 15%">
   <div class="Loading">
         <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
         </div>
   </div>
</div>
<!-- page section -->
<div class="Page_Section">
   <div class="container-fluid">
      <!-- page identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li>Activities</li>
            </ul>
         </div>
      </div>
      <!-- Header Part -->
      <div class="row header_part">
         <div class="col-sm-6">
            <a [routerLink]="['/Create_Log_Phone_call']"><button class="Create_Button" mat-raised-button>+ Create</button></a>
         </div>
         <div class="col-sm-6">
            <div class="Search_Section">
               <input type="text" placeholder="Search.." name="search">
               <i class="material-icons">search</i>
            </div>
         </div>
      </div>
      <!-- Table Section -->
      <div class="Table_Section">
         <table>
            <thead>
               <tr>
                  <th>S.no</th>
                  <th>Company</th>
                  <th>Date & Time</th>
                  <th>Product</th>
                  <th>Contact</th>
                  <th>Action</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let item of _List; let i = index">
                  <td>
                     <span class="S_no"> {{ i+1 }} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{item?.Company_Name['Company_Name']}} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{item?.Date | date: 'mediumDate' }} </span>
                  </td>
                  <td>
                     <span class="Style_1" > {{ item?.Product[0]['Product_Name_withAttribute'] }}</span>
                     <span class="Style_1" *ngIf="item?.Product.length > '1'">, ( {{ (item?.Product.length -1)}} ) more </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{ item?.Contact_Person }} </span>
                  </td>
                  <td>
                     <a (click)="View(i)"><button class="Table_Action_mini Bg_Info" mat-mini-fab color="primary">
                        <i class="material-icons">zoom_in</i>
                        </button>
                     </a>
                     <a [routerLink]="['/Create_Log_Phone_call']"><button  class="Table_Action_mini Bg_warning" mat-mini-fab color="primary">
                        <i class="material-icons">edit</i>
                        </button>
                     </a>
                     <button (click)=" DeleteLogPhoneCall()" class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary">
                        <i class="material-icons">delete_forever</i>
                     </button>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
   
