<div class="Modal_Content" style="background-color: #F1F4F7;"*ngIf="Type && Type === 'Create'">
   <div class="Modal_Header">
      <p>Create Leaves</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="Company_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Personal <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-4 Form_Input" >
                     Name:<br>
                     <input type="text" placeholder="Name">
                  </div>
                  <div class="col-sm-4 Form_Input" >
                        Department:<br>
                        <input type="text" placeholder="Department">
                     </div>
                     <div class="col-sm-4 Form_Input" >
                           Designation:<br>
                           <input type="text" placeholder="Designation">
                        </div>
                  <div class="col-sm-4 Form_Input" >
                        Email Id:<br>
                     <input type="text" placeholder="emailid"> 
                  </div>
                  <div class="col-sm-4 Form_Input" >
                        Contact Number:<br>
                     <input type="text" placeholder="contactnumber"> 
                  </div>
               </div>
            </div>
         </div>
         <br>
         <div class="Product_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;"> Application <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-4 Form_Select" >
                     Leave Type:<br>
                     <select>
                        <option checked>Select Leave Type</option>
                        <option> Leave Type1</option>
                        <option> Leave Type2</option>
                        <option> Leave Type3</option>
                        <option> Leave Type4</option>
                     </select>
                  </div>
                  <div class="col-sm-4 Form_Input" >
                        From:<br>
                        <input type="text" placeholder="from">
                     </div>
                     <div class="col-sm-4 Form_Input" >
                           To:<br>
                           <input type="text" placeholder="Designation">
                        </div>
                  <div class="col-sm-4 Form_Input" >
                        Purpose:<br>
                     <input type="text" placeholder="purpose"> 
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="Model_Footer">
         <button class="Submit_Btn"> Submit </button>
         <button class="Reset_Btn"> Reset</button>
      </div>
   </div>
</div>
<div class="Modal_Content" style="background-color: #F1F4F7;" *ngIf=" Type && Type === 'View'">
   <div class="Modal_Header">
      <p>View Leads</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="Company_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Personal <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-4 Form_Input" >
                     Name:<br>
                     <input type="text" placeholder="Name">
                  </div>
                  <div class="col-sm-4 Form_Input" >
                        Department:<br>
                        <input type="text" placeholder="Department">
                     </div>
                     <div class="col-sm-4 Form_Input" >
                           Designation:<br>
                           <input type="text" placeholder="Designation">
                        </div>
                  <div class="col-sm-4 Form_Input" >
                        Email Id:<br>
                     <input type="text" placeholder="emailid"> 
                  </div>
                  <div class="col-sm-4 Form_Input" >
                        Contact Number:<br>
                     <input type="text" placeholder="contactnumber"> 
                  </div>
               </div>
            </div>
         </div>
         <br>
         <div class="Product_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;"> Application <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-4 Form_Select" >
                     Leave Type:<br>
                     <select>
                        <option checked>Select Leave Type</option>
                        <option> Leave Type1</option>
                        <option> Leave Type2</option>
                        <option> Leave Type3</option>
                        <option> Leave Type4</option>
                     </select>
                  </div>
                  <div class="col-sm-4 Form_Input" >
                        From:<br>
                        <input type="text" placeholder="from">
                     </div>
                     <div class="col-sm-4 Form_Input" >
                           To:<br>
                           <input type="text" placeholder="Designation">
                        </div>
                  <div class="col-sm-4 Form_Input" >
                        Purpose:<br>
                     <input type="text" placeholder="purpose"> 
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="Model_Footer">
         <button class="Submit_Btn"> Submit </button>
         <button class="Reset_Btn"> Reset</button>
      </div>
   </div>
</div>
