<!-- If create Activities -->
<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
   <div class="Modal_Header">
      <p>Activity</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="col-sm-6 Form_Input">
            <label>Date:</label>
            <input type="text">
         </div>
         <div class="col-sm-6 Form_Select">
            <label>Contact Person:</label>
            <ng-select class="NgSelect" 
               [items]="_ContactPerson" 
               [searchable]="true" 
               placeholder="Contact Person">
            </ng-select>   
         </div>
         <div class="col-sm-6 Form_Input">
            <label>Subject:</label>
            <input type="text">
         </div>
         <div class="col-sm-6 Form_Select">
            <label>Activity Type:</label>
            <ng-select class="NgSelect" 
               [items]="_ActivityType" 
               [searchable]="true" 
               placeholder="Activity Type">
            </ng-select>   
         </div>
         <div class="col-sm-6 Form_Select">
            <label>Status:</label>
            <ng-select class="NgSelect" 
               [items]="_Status" 
               [searchable]="true" 
               placeholder="Status">
            </ng-select>   
         </div>
         <div class="col-sm-6 Form_Select">
            <label>Priority:</label>
            <ng-select class="NgSelect" 
               [items]="_Priority" 
               [searchable]="true" 
               placeholder="Priority">
            </ng-select>   
         </div>
         <div class="col-sm-6 Form_TextArea">
            <label>Description:</label>
            <textarea ></textarea>
         </div>
      </div>
   </div>
   <div class="Model_Footer">
     <button mat-raised-button color="primary"> Submit </button>
   </div>
 </div>
 <div class="Modal_Content" *ngIf=" Type && Type === 'View'">
   <div class="Modal_Header">
     <p>Activity</p>
     <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
     <div class="view_item">
       <div class=" Static">Date </div>
       <div class="dots"> : </div>
       <div class=" Data"> 25.07.18</div>
     </div>
     <div class="view_item">
       <div class=" Static">Contact Person </div>
       <div class="dots"> : </div>
       <div class=" Data"> xxxxxx</div>
     </div>
     <div class="view_item">
       <div class=" Static">Subject </div>
       <div class="dots"> : </div>
       <div class=" Data"> Subject</div>
     </div>
     <div class="view_item">
       <div class=" Static">Activity Type </div>
       <div class="dots"> : </div>
       <div class=" Data"> Type-11</div>
     </div>
     <div class="view_item">
       <div class=" Static">Status </div>
       <div class="dots"> : </div>
       <div class=" Data"> In Progress</div>
     </div>
     <div class="view_item">
       <div class="Static">Priority </div>
       <div class="dots"> : </div>
       <div class="Data"> Priority</div>
     </div>
     <div class="view_item">
         <div class="Static">Description </div>
         <div class="dots"> : </div>
         <div class="Data"> ghfghjygjh</div>
       </div>
   </div>
 </div>

