<div class="Modal_Content" >
   <div class="Modal_Header">
       <p>Create Contact Info</p>
       <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
     <div class="row">
       <div class="col-sm-6 Form_Input">
           <label>Contact Person Name:</label>
           <input type="text">
       </div>
     <div class="col-sm-6 Form_Select">
         <label>Branch:</label>
         <select>
            <option disabled> branch</option>
            <option> branch </option>
            <option> branch</option>
            <option> branch</option>
            <option>branch </option>
            <option> branch</option>
            <option> branch</option>
         </select>
       </div><br>
       <div class="col-sm-6 Form_Select">
          <label> Department:</label>
          <select>
            <option disabled> Department</option>
            <option> Department </option>
            <option>Department </option>
            <option> Department</option>
            <option> Department</option>
            <option> Department</option>
            <option> Department</option>
         </select>
       </div>
       <div class="col-sm-6 Form_Input">
          <label>Phone:</label>
           <input type="text"  >
       </div>
       <div class="col-sm-6 Form_Input">
          <label>Email:</label>
             <input type="text" >
       </div>
       <div class="col-sm-6 Form_Input">
          <label>Phone No:</label>
           <input type="text" >
       </div>
     </div>
    </div>
    <div class="Model_Footer">
       <button mat-raised-button color="primary" > Submit </button>
    </div>
 </div>
