
<!-- page -->
<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class="LinkName"><a [routerLink]="['/List_Call_Schedule']">Call Schedule List</a></li>
               <li class="arrow">>></li>
               <li>Call Schedule</li>
            </ul>
         </div>
      </div>
      <form>
         <!-- Company details -->
         <div class="Company_Details">
            <br>
            <div class="row">
               <div class="col-sm-6">
                  <div class="view_item">
                     <div class="Static">Company Name </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Company Name</div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Date & Time </div>
                     <div class="dots"> : </div>
                     <div class="Data"> 28.05.18 & 4pm</div>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div class="view_item">
                     <div class="Static">Contact </div>
                     <div class="dots"> : </div>
                     <div class="Data"> +564765878</div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Description </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Description </div>
                  </div>
               </div>
               <br>
            </div>
         </div>
      </form>
   </div>
</div>