<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
   <div class="Modal_Header">
     <p>Attendance Report</p>
     <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
     <div class="row">
        <div class="col-sm-6 Form_Select">
            <label>Salary Method:</label>
            <ng-select class="NgSelect" 
               [items]="_SalaryMethod" 
               [searchable]="true" 
               placeholder="Salary Method">
            </ng-select>
         </div>
       <div class="col-sm-6 Form_Select">
         <label>Category:</label>
         <ng-select class="NgSelect" 
            [items]="_Category" 
            [searchable]="true" 
            placeholder="Category">
         </ng-select>
       </div>
       <div class="col-sm-6 Form_Input">
         <label>From Date:</label>
         <input matInput [matDatepicker]="DatePicker1" (click)="DatePicker1.open()" placeholder="From Date">
         <mat-datepicker #DatePicker1></mat-datepicker>
       </div>
       <div class="col-sm-6 Form_Input">
         <label>To Date:</label>
         <input matInput [matDatepicker]="DatePicker2" (click)="DatePicker2.open()" placeholder=" To Date">
         <mat-datepicker #DatePicker2></mat-datepicker>
       </div>
   </div>
   <div class="Model_Footer">
     <button mat-raised-button color="primary"> Submit </button>
   </div>
 </div>
 
