<div class="page" style="margin-top:100px;">
      <div class="container-fluid">
         <!-- page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul>
                  <li class="HeaderName">Home</li>
                  <li class="arrow">>></li>
                  <li class="HeaderName">HRMS</li>
                  <li class="arrow">>></li>
                  <li>Leaves</li>
               </ul>
            </div>
         </div>
         <form>
            <div class="row">
               <!-- Company details -->
               <div class="Company_Details">
                  <br>
                  <div class="col-sm-12">
                     <div class="view_item">
                        <div class="Static"> Name </div>
                        <div class="dots"> : </div>
                        <div class="Data">  Name</div>
                     </div>
                     <div class="view_item">
                        <div class="Static">Department</div>
                        <div class="dots"> : </div>
                        <div class="Data"> Department</div>
                     </div>
                     <div class="view_item">
                        <div class="Static">Designation </div>
                        <div class="dots"> : </div>
                        <div class="Data">Designation</div>
                     </div>
                     <div class="view_item">
                        <div class="Static">contact </div>
                        <div class="dots"> : </div>
                        <div class="Data"> +536456324 </div>
                     </div>
                     <div class="view_item">
                        <div class="Static">Email </div>
                        <div class="dots"> : </div>
                        <div class="Data"> sample@gmail.com </div>
                     </div>
                  </div>
                  <br>
               </div>
               <!-- Company details -->
               <div class="Company_Details">
                     <br>
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class="Static"> Leave Type </div>
                           <div class="dots"> : </div>
                           <div class="Data">  Leave Type</div>
                        </div>
                        <div class="view_item">
                           <div class="Static">From</div>
                           <div class="dots"> : </div>
                           <div class="Data">  27/05/18</div>
                        </div>
                        <div class="view_item">
                           <div class="Static">To </div>
                           <div class="dots"> : </div>
                           <div class="Data">30/07/18</div>
                        </div>
                        <div class="view_item">
                           <div class="Static">Purpose </div>
                           <div class="dots"> : </div>
                           <div class="Data"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                        </div>
                     </div>
                     <br>
                  </div>
            </div>
            <div class="row" style="margin-top:20px;">
               <div class="col-sm-12 text-right">
               </div>
            </div>
         </form>
      </div>
   </div>
   
   
