<!-- Page -->
<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- Page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class= "LinkName"><a [routerLink]="['/purchase_request_list']">Purchase Request List</a></li>
               <li class="arrow">>></li>
               <li >Purchase Request Create</li>
            </ul>
         </div>
      </div>
      <form>
         <div class="row">
            <div class="col-sm-12">
               <!-- Company details -->
               <div class="Company_Details">
                  <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Request 
                     <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span>
                  </h5>
                  <br>
                  <div class="row">
                     <div class="col-sm-4 Form_Input">
                        <label>Request No:</label>
                        <br>
                        <input type="text">
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label>Request Date:</label>
                        <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Request Date">
                        <mat-datepicker #picker></mat-datepicker>
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label>Requested By:</label>
                        <br>
                        <input type="text" readonly="true">
                     </div>
                  </div>
               </div>
            </div>
            <!-- Table Section -->
            <div class="Table_Section">
               <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Product
                  <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span>
                  <button mat-raised-button color="primary" class="pull-right"> Add Product </button><br>
               </h5>
               <br>
               <table class="table_section">
                  <thead class="table_head">
                     <tr>
                        <th class="S_No">S.No</th>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Required Quantity</th>
                        <th>Required Date</th>
                        <th>Approved Quantity</th>
                        <th>Status</th>
                        <th class="Action">Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td >1</td>
                        <td class="Form_Select">
                           <ng-select class="NgSelect" 
                              [items]="_Product" 
                              [searchable]="true" 
                              placeholder="Product">
                           </ng-select>
                        </td>
                        <td class="Form_TextArea">
                           <textarea class="Description" rows="2"></textarea>
                        </td>
                        <td class="Form_Input">
                           <input type="text">
                        </td>
                        <td class="Form_Input">
                           <input type="text">
                        </td>
                        <td class="Form_Input">
                           <input type="text">
                        </td>
                        <td class="Form_Input">
                           <input type="text">
                        </td>
                        <td>
                           <span class="Action_Section Bg_Danger">
                              <i class="material-icons">delete</i>
                           </span> 
                        </td>
                     </tr>
                  </tbody>
               </table>
               <br>
            </div>
         </div>
      </form>
   </div>
</div>
<!-- Footer -->
<div class="Footer">
   <button mat-raised-button color="primary" style = "top: 5px;"> Submit </button>
</div>
