<div class="page" style="margin-top:130px;">
      <div class="container-fluid">
        <!-- <div class="page-identity" style="position:fixed; margin-top:-40px;">
              <div class="page-name">
                <h5> Creat Customers </h5>
              </div>
              <div class="page-track" style="width:47%">
                <ul>
                  <li><a> Customers List </a></li>
                  <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                  <li> Creat Customers </li>
                </ul>
              </div>
            </div> -->
        <form>
          <div class="row">
            <div class="Company_Details">
              <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Purchase 
                <span style="color:#516570;font-size:20px;font-weight: 600;">Request</span>
              </h5>
              <br>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-4 Form_Input">
                    Request No:
                    <br>
                    <input type="text">
                  </div>
                  <div class="col-sm-4 Form_Input">
                    Request Date:
                    <br>
                    <input type="text">
                  </div>
                  <div class="col-sm-4 Form_Input">
                    Requested By:
                    <br>
                    <input type="text">
                  </div>
                  <div class="col-sm-4 Form_TextArea">
                    Description:
                    <br>
                    <textarea class="Description" rows="3"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="Table_Section">
              <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Product
                <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span>
                <span><button class="Add_Product_Button">Add Product</button></span>
              </h5>
              <br>
              <table class="table_section">
                <thead class="table_head">
                  <tr>
                    <th class="S_No">S.No</th>
                    <th>Product</th>
                    <th>Required Quantity</th>
                    <th>Required Date</th>
                    <th>Approved Quantity</th>
                    <th>Tax</th>
                    <th>Status</th>
                    <th class="Action">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td >1</td>
                    <td class="Form_Select">
                      <select>
                      <option checked>Select one Product</option>
                      <option> Product1</option>
                      <option> Product2</option>
                      <option> Product3</option>
                      <option> Product4</option>
                   </select>
                  </td>
                   <td class="Form_Input">
                      <input type="text">
                    </td>
                    <td class="Form_Input">
                         <input type="text">
                       </td>
                       <td class="Form_Input">
                            <input type="text">
                          </td>
                          <td class="Form_Input">
                               <input type="text">
                             </td>
                             <td class="Form_Input">
                                  <input type="text">
                                </td>
                                <td>
                                     <span class="Action_Section Bg_Danger">
                                           <i class="material-icons">delete</i>
                                        </span> 
                                   </td>
                  </tr>
                </tbody>
              </table>
              <br>
            </div>
          </div>
          <div class="row" style="margin-top:20px;">
            <div class="col-sm-12 text-right">
    
                <button class="Submit_Btn"> Submit </button>
              <button class="Reset_Btn"> Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
