<div class="row">
   <div class="col-sm-6">
      <span class="Create_Button" (click)="CreateLogPhoneCall()">+ Create</span>
   </div>
   <div class="col-sm-6">
      <div class="Search_Section">
         <input type="text" placeholder="Search.." name="search">
         <i class="material-icons">search</i>
      </div>
   </div>
</div>
<br>
<div class="Table_Section">
  <table>
      <thead>
         <tr>
            <th>S.no</th>
            <th>Company</th>
            <th>Date & Time</th>
            <th>Contact</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <span class="S_no"> 1 </span>
            </td>
            <td>
               <span class="Name_Style">Company Name1</span>
            </td>
            <td>
               <span class="Name_Style"> may 12,2017</span>
            </td>
            <td>
               <span class="Name_Style">+428765</span>
            </td>
            <td>
               <span class="Action_Section Bg_Danger">
                  <i class="material-icons" (click)="DeleteLogPhoneCall()">delete</i>
               </span>
               <span class="Action_Section Bg_Info">
                  <i class="material-icons" (click)="CreateLogPhoneCall()">edit</i>
               </span>
               <span class="Action_Section Bg_Success">
                  <i class="material-icons" (click)="ViewLogPhoneCall()"> remove_red_eye </i>
               </span>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 2 </span>
            </td>
            <td>
               <span class="Name_Style">Company Name2</span>
            </td>
            <td>
               <span class="Name_Style"> may 12,2017</span>
            </td>
            <td>
               <span class="Name_Style">+53435455</span>
            </td>
            <td>
               <span class="Action_Section Bg_Danger">
                  <i class="material-icons" (click)="DeleteLogPhoneCall()">delete</i>
               </span>
               <span class="Action_Section Bg_Info">
                  <i class="material-icons" (click)="CreateLogPhoneCall()">edit</i>
               </span>
               <span class="Action_Section Bg_Success">
                  <i class="material-icons" (click)="ViewLogPhoneCall()"> remove_red_eye </i>
               </span>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 3 </span>
            </td>
            <td>
               <span class="Name_Style">Company Name3</span>
            </td>
            <td>
               <span class="Name_Style"> may 12,2017</span>
            </td>
            <td>
               <span class="Name_Style">+354545</span>
            </td>
            <td>
               <span class="Action_Section Bg_Danger">
                  <i class="material-icons" (click)="DeleteLogPhoneCall()">delete</i>
               </span>
               <span class="Action_Section Bg_Info">
                  <i class="material-icons" (click)="CreateLogPhoneCall()">edit</i>
               </span>
               <span class="Action_Section Bg_Success">
                  <i class="material-icons" (click)="ViewLogPhoneCall()"> remove_red_eye </i>
               </span>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 4</span>
            </td>
            <td>
               <span class="Name_Style">Company Name4</span>
            </td>
            <td>
               <span class="Name_Style">may 12,2017</span>
            </td>
            <td>
               <span class="Name_Style">+4365565</span>
            </td>
            <td>
               <span class="Action_Section Bg_Danger">
                  <i class="material-icons" (click)="DeleteLogPhoneCall()">delete</i>
               </span>
               <span class="Action_Section Bg_Info">
                  <i class="material-icons" (click)="CreateLogPhoneCall()">edit</i>
               </span>
               <span class="Action_Section Bg_Success">
                  <i class="material-icons" (click)="ViewLogPhoneCall()"> remove_red_eye </i>
               </span>
            </td>
         </tr>
      </tbody>
  </table>
</div>