<!-- If Create Or Edit The Pipeline Status -->
   <div class="Modal_Content" *ngIf="Type && ( Type === 'Create' || Type === 'Edit')">
      <div class="Modal_Header">
            <p> {{Type}} Pipeline status</p>
            <span *ngIf="!Uploading"  data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <form [formGroup]="Form" (ngSubmit)="onSubmit()">
         <div class="Model_Body">
            <div class="row">
               <div class="col-sm-10 Form_Input" [ngClass]="{'Form_Err': Form.controls['Pipeline_Status'].errors && !Form.controls['Pipeline_Status'].pristine, 'Form_Success': Form.controls['Pipeline_Status'].valid && !Form.controls['Pipeline_Status'].pristine }">
                  <label>Pipeline status:</label>
                  <input type="text" formControlName="Pipeline_Status">
                  <p class="error" *ngIf="Form.controls['Pipeline_Status'].errors && !Form.controls['Pipeline_Status'].pristine">
                     <span *ngIf="Form.controls['Pipeline_Status'].errors.required">Pipeline Status is required</span>
                     <span *ngIf="Form.controls['Pipeline_Status'].errors.PipelineStatus_NotAvailable"> Pipeline Status Already Exist </span>   
                  </p>
               </div>
            </div>
         </div>
         <div class="Model_Footer">
            <button type="submit"  [disabled]="Form.status !== 'VALID' || Uploading"  mat-raised-button color="primary">
               <span *ngIf="Type === 'Create' && !Uploading">Submit</span>
               <span *ngIf="Type === 'Edit' && !Uploading">Update</span>
               <span *ngIf="Uploading" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </span>
            </button>
         </div>
      </form>
   </div>

<!-- If View The Pipeline Status-->
   <div class="Modal_Content" *ngIf=" Type && Type === 'View'">
      <div class="Modal_Header">
         <p>View Pipeline status</p>
         <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <div class="Model_Body">
         <div class="view_item">
            <div class="Static">Pipeline status </div>
            <div class="dots"> : </div>
            <div class="Data"> {{Data.Pipeline_Status}}</div>
         </div>
         <div class="view_item">
            <div class="Static">Created By </div>
            <div class="dots"> : </div>
            <div class="Data"> {{Data.Created_By.Name}}</div>
         </div>
         <div class="view_item">
            <div class="Static">Last Modified By </div>
            <div class="dots"> : </div>
            <div class="Data"> {{Data.Last_Modified_By.Name}}</div>
         </div>
         <div class="view_item">
            <div class="Static"> Created Date </div>
            <div class="dots"> : </div>
            <div class="Data"> {{Data.createdAt | date:'medium'}}</div>
         </div>
         <div class="view_item">
            <div class="Static">Last Modified Date  </div>
            <div class="dots"> : </div>
            <div class="Data"> {{Data.updatedAt | date:'medium'}}</div>
         </div>
      </div>
   </div>






