<div class="page" style="margin-top:100px;">
    <div class="container-fluid">
      <div class="Page_Identity">
        <div class="Page_Name">
           <h5>Purchase Quotations View</h5>
        </div>
        <div class="Page_Track">
           <ul >
             <li class="HeaderName">Purchase</li>
             <li class="arrow">>></li>
             <li class= "LinkName">Purchase Quotations</li>
             <li class="arrow">>></li>
             <li >Purchase Quotations View</li>
           </ul>
        </div>
     </div>
      <form>
        <div class="row">
          <div class="Company_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Purchase 
              <span style="color:#516570;font-size:20px;font-weight: 600;">Quotations</span>
            </h5>
            <br>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 text-right"> <b> Date: </b></div>
                    <div class="col-sm-6 text-left">  25/04/17 </div>
                 </div>
                <div class="row">
                    <div class="col-sm-6 text-right"> <b> Company Name : </b></div>
                    <div class="col-sm-6 text-left">  aashi </div>
                 </div>
                <div class="row">
                    <div class="col-sm-6 text-right"> <b> Contact Person : </b></div>
                    <div class="col-sm-6 text-left">  Contact Person </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-6 text-right"> <b> Quote Ref No: </b></div>
                    <div class="col-sm-6 text-left"> 123 
                        </div>
                 </div>
                <div class="row">
                    <div class="col-sm-6 text-right"> <b> Valid Till: </b></div>
                    <div class="col-sm-6 text-left"> 25/05/17
                        </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-6 text-right"> <b> Purchase Request: </b></div>
                    <div class="col-sm-6 text-left"> Purchase Request
                        </div>
                 </div>
            </div>
          </div>
          <div class="Table_Section">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Product
              <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span>
              <span><button class="Add_Product_Button">Add Product</button></span>
              
            </h5>
            <br>
            <table class="table_section">
              <thead class="table_head">
                <tr>
                  <th class="S_No">S.No</th>
                  <th>Product</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Tax</th>
                  <th>Total</th>
                  <th class="Action">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td >1</td>
                  <td class="Form_Select">
                    <select>
                    <option checked>Select an option</option>
                    <option> option1</option>
                    <option> option2</option>
                    <option> option3</option>
                    <option> option4</option>
                 </select>
                </td>
                 <td class="Form_TextArea">
                   <textarea class="" rows="1"></textarea>
                  </td>
                  <td class="Form_Input">
                       <input type="text">
                     </td>
                     <td class="Form_Input">
                          <input type="text">
                        </td>
                        <td class="Form_Select">
                              <select>
                                    <option checked>Select</option>
                                    <option> Tax</option>
                                    <option> Tax</option>
                                    <option> Tax</option>
                                    <option> Tax</option>
                                 </select>
                           </td>
                           <td class="Form_Input">
                                <input type="text">
                              </td>
                              <td>
                                   <span class="Action_Section Bg_Danger">
                                         <i class="material-icons">delete</i>
                                      </span> 
                                 </td>
                </tr>
              </tbody>
            </table>
            <br>
            <div class="row">
               <div class="col-sm-4">
                  </div>
                  <div class="col-sm-4">
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label>Sub Total:</label>
                        <input type="text">
                        </div>
                        <div class="col-sm-4">
                           </div>
                           <div class="col-sm-4">
                              </div>
                              <div class="col-sm-4 Form_Input">
                                    <label>Tax:</label>
                                 <input type="text">
                                 </div>
                                 <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4">
                                       </div>
                                       <div class="col-sm-4 Form_Input">
                                             <label>Total:</label>
                                          <input type="text">
                                          </div>
               </div>
          </div>
        </div>
        <div class="row" style="margin-top:20px;">
        </div>
      </form>
    </div>
  </div>


