<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
  <div class="Modal_Header">
      <p>Create Contact Info</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
  </div>
  <div class="Model_Body">
    <div class="row">
      <div class="col-sm-4 Form_Input">
          Contact Person Name:<br>
          <input type="text">
      </div>
    <div class="col-sm-4 Form_Input">
        Branch:<br>
          <input type="text">
      </div><br>
      <div class="col-sm-4 Form_Input">
            Department:<br>
          <input type="text" >
      </div>
      <div class="col-sm-4 Form_Input">
            Phone:<br>
          <input type="text"  >
      </div>
      <div class="col-sm-4 Form_Input">
            Email:<br>
            <input type="text" >
      </div>
      <div class="col-sm-4 Form_Input">
            Phone No:<br>
          <input type="text" >
      </div>
    </div>
    <div class="Model_Footer">
      <span class="Submit_Btn" > Submit </span>
  </div>
  </div>
</div>
<div class="Modal_Content" *ngIf=" Type && Type === 'View'">
  <div class="Modal_Header">
     <p>View Contact Info</p>
     <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
 </div>
 <div class="Model_Body">
  <div class="row">
     <div class="col-sm-6 Form_Input">
        Contact Person Name:<br>
        <input type="text">
     </div>
   <div class="col-sm-6 Form_Input">
       Branch:<br>
        <input type="text">
     </div><br>
     <div class="col-sm-6 Form_Input">
          Department:<br>
        <input type="text" >
     </div>
     <div class="col-sm-6 Form_Input">
          Phone:<br>
        <input type="text"  >
     </div>
     <div class="col-sm-6 Form_Input">
          Email:<br>
           <input type="text" >
     </div>
     <div class="col-sm-6 Form_Input">
           Phone No:<br>
        <input type="text" >
     </div>
  </div>
  <div class="Model_Footer">
     <span class="Submit_Btn" > Submit </span>
 </div>
</div>
</div>

