<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- Page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class= "LinkName">Purchase</li>
               <li class="arrow">>></li>
               <li >Purchase Orders</li>
            </ul>
         </div>
      </div>
      <form>
         <div class="row">
            <!-- Company Details -->
            <div class="Company_Details">
               <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Purchase 
                  <span style="color:#516570;font-size:20px;font-weight: 600;">Order</span>
                  <button class="create_invoice" mat-raised-button> Receive Products </button>
               </h5>
               <br>
               <div class="col-sm-12">
                  <div class="row">
                     <div class="col-sm-6 text-right Style"> <b> Date: </b></div>
                     <div class="col-sm-6 text-left Style1">  25/04/17 </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-6 text-right Style"> <b> Company Name : </b></div>
                     <div class="col-sm-6 text-left Style1">  aashi </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-6 text-right Style"> <b> Contact Person : </b></div>
                     <div class="col-sm-6 text-left Style1">  Contact Person </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-6 text-right Style"> <b> Quote Ref No: </b></div>
                     <div class="col-sm-6 text-left Style1"> 123 </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-6 text-right Style"> <b> Valid Till: </b></div>
                     <div class="col-sm-6 text-left Style1"> 25/05/17</div>
                  </div>
                  <div class="row">
                     <div class="col-sm-6 text-right Style"> <b> Purchase Request: </b></div>
                     <div class="col-sm-6 text-left Style1"> Purchase Request</div>
                  </div>
               </div>
               <br>
            </div>
              <!-- Tabs -->
              <div class="Company_Details">
                  <div class="Tabs">
                        <div class="Tab" [ngClass]="{'active': Active_Tab === 'Product_Details'}" (click)="Active_Tab_Change('Product_Details')">
                           <span >Product Details</span>
                        </div>
                        <div class="Tab" [ngClass]="{'active': Active_Tab === 'quote_Terms'}" (click)="Active_Tab_Change('quote_Terms')">
                           <span >Terms & Conditions</span>
                        </div>
                     </div>
               <!-- <span><button class="Add_Product_Button">Add Product</button></span><br> -->
               <br>
               <!-- Product details -->
               <div class="Product_Details" *ngIf="Active_Tab === 'Product_Details'">
                  <table class="table_section">
                     <thead class="table_head">
                        <tr>
                           <th>S.No</th>  
                           <th>Product</th>  
                           <th>Description</th>  
                           <th>Price</th>  
                           <th>Quantity</th>  
                           <th>Tax</th> 
                           <th>Total</th> 
                           <th>Action</th> 
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td  colspan="8"><span> No Records found</span></td>
                        </tr>
                     </tbody>
                  </table><br>
                  <div class="row">
                     <div class="col-sm-8">
                     </div>
                     <div class="col-sm-2">
                        <div class="Title">
                           <h5>SubTotal:</h5>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="Value">
                           <h5>RS. 0</h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                     </div>
                     <div class="col-sm-2">
                        <div class="Title">
                           <h5>Total Tax:</h5>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="Value">
                           <h5>RS. 0</h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                     </div>
                     <div class="col-sm-2">
                        <div class="Title">
                           <h5>Total:</h5>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="Value">
                           <h5>RS. 0</h5>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Quote Terms -->
               <div class="Done_Section" *ngIf="Active_Tab === 'quote_Terms'">
                  <div class="row">
                     <div class="col-sm-4 Form_Select">
                        <select>
                           <option checked>Select Quote Terms</option>
                           <option> QuoteTermOptions-One</option>
                           <option> QuoteTermOptions-Two </option>
                           <option> QuoteTermOptions-Three </option>
                           <option> QuoteTermOptions-Four </option>
                           <option> QuoteTermOptions-Five </option>
                        </select>
                     </div>
                     <div class="col-sm-4 Form_TextArea" >
                        <textarea  type="text" row="4" placeholder="Notes"></textarea>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>



