<!-- Page section -->
<div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1" style="width: 100%">
   <div class="Loading">
         <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
         </div>
   </div>
</div>  
<div class="Page_Section">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Registers</li>
               <li class="arrow">>></li>
               <li>Bank List</li>
            </ul>
         </div>
      </div>
      <!--  Header Part -->
      <!-- Create and search Section -->
      <form [formGroup]="Form" >
      <div class="row header_part">
         <div class="col-sm-4">
            <div class="Form_Select">
               <ng-select class="NgSelect" 
                  [items]="_BankList"
                  [bindLabel]="'Bank_Name'"
                  [bindValue]="'_id'"
                  [searchable]="true"
                  formControlName="selected"
                  (change)="selectedBank($event)"
                  placeholder="Bank">
               </ng-select>
            </div>
         </div>
         <div class="col-sm-2">
         </div>
         <div class="col-sm-6">
            <div class="Search_Section">
               <input type="text" placeholder="Search.." name="search">
               <i class="material-icons">search</i>
            </div>
         </div>
      </div>
      </form>
      <div class="Company_Details">
            <div [ngClass]="{'Hide': !SubLoader}" class="DataLoaderStyle_1" style="width: 98%; top: 196px; margin-left: 17px; height: 0">
               <div class="Loading">
                     <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                     </div>
               </div>
            </div> 
         <!-- Table Section -->
         <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th>S.no</th>
                     <th>Type</th>
                     <th>Particular</th>
                     <th>Date</th>
                     <th>Credit</th>
                     <th>Debit</th>
                     <th>Balance</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let item of _List; let i = index">
                     <td>
                        <span class="S_no"> {{i + 1}} </span>
                     </td>
                     <td>
                        <span class="Style_1">{{item?.Type}}</span>
                     </td>
                     <td>
                        <span *ngIf="item?.Type !== 'Loan'" class="Style_1">{{item?.Income_Reference_Id?.Income_Type?.Income_Type}}</span>
                        <span *ngIf="item?.Type === 'Loan'" class="Style_1">{{item?.Loan_Reference_Id?.Lender_Name}} - {{item?.Loan_Reference_Id?.Lender_Account_Number}}</span>
                     </td>
                     <td>
                        <span class="Style_1">{{item?.Date | date: 'dd/MM/yyyy'}}</span>
                     </td>
                     <td>
                        <span class="Style_1">{{item?.Credit}}</span>
                     </td>
                     <td>
                        <span *ngIf="item?.Debit !== null" class="Style_1">{{item?.Debit}}</span>
                        <span *ngIf="item?.Debit === null" class="Style_1"> - </span>
                     </td>
                     <td>
                        <span class="Style_1">{{item?.Balance}}</span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>  
   </div>
</div>
