<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
   <div class="Modal_Header">
      <p>Create Leads</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="col-sm-6 Form_Input">
            <label>Company Name: </label>
            <input type="text">
         </div>
         <div class="col-sm-6 Form_Input">
            <label>Email: </label>
            <input type="text">
         </div><br>
         <div class="col-sm-6 Form_Select">
            <label>Product: </label>
            <select>
               <option checked>Select Product</option>
               <option>Product1</option>
               <option>Product2</option>
               <option>Product3</option>
               <option>Product4</option>
            </select>
         </div>
         <div class="col-sm-6 Form_Input">
            <label>Phone: </label>
            <input type="text" >
         </div>
         <div class="col-sm-6 Form_Select">
            <label>Lead Source: </label>
            <select>
               <option checked>Select Lead Source</option>
               <option>Lead Source1</option>
               <option>Lead Source2</option>
               <option>Lead Source3</option>
               <option>Lead Source4</option>
            </select>
         </div>
         <div class="col-sm-6 Form_Select">
            <label>Priority: </label>
            <select>
               <option checked>Select Priority</option>
               <option>Priority1</option>
               <option>Priority2</option>
               <option>Priority3</option>
               <option>Priority4</option>
            </select>
         </div>
         <div class="col-sm-6 Form_TextArea ">
            <label>Address: </label>
            <textarea class="message" rows="3"></textarea>
         </div>
      </div>
   </div>
   <div class="Model_Footer">
      <button mat-raised-button color="primary" > Submit </button>
   </div>
   </div>
   <div class="Modal_Content" *ngIf="Type && Type === 'View'">
      <div class="Modal_Header">
         <p>View Leads</p>
         <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <div class="Model_Body">
         <div class="row">
           <div class="col-sm-6 text-center Left_Section">
                  <div class="row">
                     <div class="col-sm-4 text-right Static"> Company Name: </div>
                     <div class="col-sm-8 text-left Data">aashi </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-right Static"> Email: </div>
                        <div class="col-sm-8 text-left Data">sample@gmail.com </div>
                       </div>
                       <div class="row">
                           <div class="col-sm-4 text-right Static"> Product : </div>
                           <div class="col-sm-8 text-left Data"> Product1 </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-4 text-right Static"> Phone: </div>
                              <div class="col-sm-8 text-left Data"> +536456324 </div>
                             </div>
                 </div>
                 <div class="col-sm-6 Right_Section">
                   <div class="left-data">
                     <div class="row">
                       <div class="col-sm-4 text-right Static">Lead Source: </div>
                       <div class="col-sm-8 text-left Data"> Lead Source1 </div>
                     </div>
                    <div class="row">
                       <div class="col-sm-4 text-right Static">  Priority: </div>
                       <div class="col-sm-8 text-left Data">Priority </div>
                     </div>
                    <div class="row">
                       <div class="col-sm-4 text-right Static"> Address : </div>
                       <div class="col-sm-8 text-left Data"> Ganpathy,coimbatore </div>
                     </div>
                   </div>
                 </div>
         </div>
      </div>
      <div class="Model_Footer">
      </div>
      </div>

  
  
