<div class="Main_Section">
   <div class="page_section">
      <div class="container-fluid">
         <!-- Page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul >
                  <li class="HeaderName">Home</li>
                  <li class="arrow">>></li>
                  <li class= "LinkName">Purchase</li>
                  <li class="arrow">>></li>
                  <li >Purchase Orders</li>
               </ul>
            </div>
         </div>
         <!-- Header Part -->
         <div class="row header_part">
            <div class="col-sm-6">
               <button class="Create_Button" mat-raised-button [routerLink]="['/Purchase_Order_Create']"> + Create </button>
            </div>
            <div class="col-sm-6">
               <div class="Search_Section">
                  <input type="text" placeholder="Search.." name="search">
                  <i class="material-icons">search</i>
               </div>
            </div>
         </div>
         <!-- Table Section -->
         <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th>S.no</th>
                     <th>Order No</th>
                     <th>Quote Details</th>
                     <th>Value</th>
                     <th>Shipping Details</th>
                     <th>Added By</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <span class="S_no"> 1 </span>
                     </td>
                     <td>
                        <span class="Style_3">Order_123</span>
                     </td>
                     <td>
                        <h6 class="Style_2">Von_Quote_123</h6>
                        <span class="Style_3"> Vendor_aashi</span>
                     </td>
                     <td>
                        <span class="Style_3">32300</span>
                     </td>
                     <td>
                        <span class="Style_3">Vendor_aashi</span>
                     </td>
                     <td>
                        <span class="Style_3">Admin</span>
                     </td>
                     <td>
                        <button color="primary" mat-raised-button [matMenuTriggerFor]="Action">Action</button>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 2 </span>
                     </td>
                     <td>
                        <span class="Style_3">Order_123</span>
                     </td>
                     <td>
                        <h6 class="Style_2">Von_Quote_123</h6>
                        <span class="Style_3"> Vendor_aashi</span>
                     </td>
                     <td>
                        <span class="Style_3">32300</span>
                     </td>
                     <td>
                        <span class="Style_3">Vendor_aashi</span>
                     </td>
                     <td>
                        <span class="Style_3">Admin</span>
                     </td>
                     <td>
                        <button color="primary" mat-raised-button [matMenuTriggerFor]="Action">Action</button>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 3 </span>
                     </td>
                     <td>
                        <span class="Style_3">Order_123</span>
                     </td>
                     <td>
                        <h6 class="Style_2">Von_Quote_123</h6>
                        <span class="Style_3"> Vendor_aashi</span>
                     </td>
                     <td>
                        <span class="Style_3">32300</span>
                     </td>
                     <td>
                        <span class="Style_3">Vendor_aashi</span>
                     </td>
                     <td>
                        <span class="Style_3">Admin</span>
                     </td>
                     <td>
                        <button color="primary" mat-raised-button [matMenuTriggerFor]="Action">Action</button>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 4 </span>
                     </td>
                     <td>
                        <span class="Style_3">Order_123</span>
                     </td>
                     <td>
                        <h6 class="Style_2">Von_Quote_123</h6>
                        <span class="Style_3"> Vendor_aashi</span>
                     </td>
                     <td>
                        <span class="Style_3">32300</span>
                     </td>
                     <td>
                        <span class="Style_3">Vendor_aashi</span>
                     </td>
                     <td>
                        <span class="Style_3">Admin</span>
                     </td>
                     <td>
                        <button color="primary" mat-raised-button [matMenuTriggerFor]="Action">Action</button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<!-- Dropdown menus -->
<mat-menu #Action="matMenu">
   <button mat-menu-item>
      <span>Edit</span>
   </button>
   <button mat-menu-item [routerLink]="['/Purchase_Order_View']">
      <span>View</span>
   </button>
   <button mat-menu-item>
      <span>Delete</span>
   </button>
</mat-menu>
   
   
