<!-- Page -->
<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- Page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
            <li class="HeaderName">Home</li>
            <li class="arrow">>></li>
            <li class= "LinkName"><a [routerLink]="['/purchase_request_list']">Purchase Request List</a></li>
            <li class="arrow">>></li>
            <li >Purchase Request View</li>
            </ul>
         </div>
      </div>
      <form>
         <!-- Company details -->
         <div class="Company_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Request 
               <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span>
            </h5>
            <br>
            <div class="row">
               <div class="col-sm-6">
                  <div class="view_item">
                     <div class="Static">Request No</div>
                     <div class="dots"> : </div>
                     <div class="Data">  123 </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Request Date</div>
                     <div class="dots"> : </div>
                     <div class="Data">  25/04/17 </div>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div class="view_item">
                     <div class="Static"> Requested By</div>
                     <div class="dots"> : </div>
                     <div class="Data">  aashi </div>
                  </div>
               </div>
            </div>
         </div>
         <br>
         <!-- Table Section -->
         <div class="Table_Section">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Product
               <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span>
               <!-- <span><button class="Add_Product_Button">Add Product</button></span> -->
            </h5>
            <br>
            <table class="table_section">
               <thead class="table_head">
                  <tr>
                     <th class="S_No">S.No</th>
                     <th>Product</th>
                     <th>Required Quantity</th>
                     <th>Required Date</th>
                     <th>Approved Quantity</th>
                     <th>Status</th>
                     <th class="Action">Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td  colspan="7"><span> No Records found</span></td>
                  </tr>
               </tbody>
            </table>
            <br>
         </div>
      </form>
   </div>
</div>
