
<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- page identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class="HeaderName">HR</li>
               <li class="arrow">>></li>
               <li>Attendance Log</li>
            </ul>
         </div>
      </div>
      <div class="row">
         <!-- Company details -->
         <div class="Company_Details">
            <div class="row">
               <div class="col-sm-4 Form_Select">
                 <label>Employee Name:</label>
                  <select>
                     <option disabled> Employee Name</option>
                     <option> Employee Name</option>
                     <option>Employee Name </option>
                     <option> Employee Name </option>
                  </select>
               </div>
               <div class="col-sm-4 Form_Input">
                 <label>Code:</label>
                 <input type="text">
               </div>
               <div class="col-sm-4 Form_Input">
                 <label>Date:</label>
                 <input type="text">
               </div>
               <div class="col-sm-4 Form_Input">
                 <label>In Time:</label>
                 <input type="text">
               </div>
               <div class="col-sm-4 Form_Input">
                 <label>Out Time:</label>
                 <input type="text">
               </div>
               <div class="col-sm-4 Form_Select">
                 <label>Attendance Code:</label>
                 <select>
                  <option disabled> A</option>
                  <option> P</option>
                  <option>H </option>
                  <option> W </option>
                </select>
               </div>
              </div>
         </div>
      </div>
      <div class="row" style="margin-top:20px;"> 
         <div class="col-sm-12 text-right">
               <button mat-raised-button color="primary" style = "bottom: 20px;"> Submit </button>
         </div>
      </div>
   </div>
</div>
         
      


