<!-- page -->
<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- page identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class="LinkName"><a [routerLink]="['/List_Attendance_Log']">Attendance Log List</a></li>
               <li class="arrow">>></li>
               <li>Attendance Log Create</li>
            </ul> 
         </div>
      </div>
      <!-- Attendance details -->
      <div class="Company_Details">
         <div class="row">
            <div class="col-sm-4 Form_Select">
               <label>Employee Name:</label>
               <ng-select class="NgSelect" 
                  [items]="_EmployeeName" 
                  [searchable]="true" 
                  placeholder="Employee Name">
               </ng-select>
            </div>
            <div class="col-sm-4 Form_Input">
               <label>Code:</label>
               <input type="text">
            </div>
            <div class="col-sm-4 Form_Input">
               <label>Date:</label>
               <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Date">
               <mat-datepicker #picker></mat-datepicker>
            </div>
            <div class="col-sm-4 Form_Input">
               <label>In Time:</label>
               <input type="text">
            </div>
            <div class="col-sm-4 Form_Input">
               <label>Out Time:</label>
               <input type="text">
            </div>
            <div class="col-sm-4 Form_Select">
               <label>Attendance Code:</label>
               <ng-select class="NgSelect" 
               [items]="_AttendanceCode" 
               [searchable]="true" 
               placeholder="Attendance Code">
            </ng-select>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Footer -->
<div class="Footer">
   <button mat-raised-button color="primary" style = "top: 5px;"> Submit </button>
</div>
         
      


