<!-- Page -->
<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class="LinkName"><a [routerLink]="['/crm_invoice_list']">Invoice List</a></li>
               <li class="arrow">>></li>
               <li>Invoice View</li>
            </ul>
         </div>
      </div>
      <form>
         <!-- Company details -->
         <div class="Company_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Invoice
               <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span>
               <button mat-raised-button color="primary" class="pull-right" [routerLink]="['/crm_invoice_create']"> Edit </button>
               <button mat-raised-button color="primary" class="pull-right Register_Payment"> Register Payment </button>
            </h5>
            <br>
            <div class="row">
               <div class="col-sm-4">
                  <div class="view_item">
                     <div class="Static"> Invoice no </div>
                     <div class="dots"> : </div>
                     <div class="Data"> 123 </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Customer </div>
                     <div class="dots"> : </div>
                     <div class=" Data">customer1 </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Created By </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Admin </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="view_item">
                     <div class="Static"> Invoice Date </div>
                     <div class="dots"> : </div>
                     <div class="Data"> 27/05/18</div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Contact Person</div>
                     <div class="dots"> : </div>
                     <div class="Data">Contact Person1 </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="view_item">
                     <div class="Static"> Due date </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Quote_112233 </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Payment Terms </div>
                     <div class="dots"> : </div>
                     <div class="Data">Payment Terms </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Tabs -->
         <div class="row">
            <div class="col-sm-12">
               <div class="Company_Details">
                  <div class="Tabs">
                     <div class="Tab" [ngClass]="{'active': Active_Tab === 'Product_Details'}" (click)="Active_Tab_Change('Product_Details')">
                        <span >Product Details</span>
                     </div>
                     <div class="Tab" [ngClass]="{'active': Active_Tab === 'quote_Terms'}" (click)="Active_Tab_Change('quote_Terms')">
                        <span >Terms & Conditions</span>
                     </div>
                  </div>
                  <!-- <span><button class="Add_Product_Button">Add Product</button></span><br> -->
                  <br>
                  <!-- Product details -->
                  <div class="Product_Details" *ngIf="Active_Tab === 'Product_Details'">
                     <table class="table_section">
                        <thead class="table_head">
                           <tr>
                              <th>S.No</th>  
                              <th>Product</th>  
                              <th>Description</th>  
                              <th>Quantity</th> 
                              <th>Price</th>  
                              <th>Tax</th> 
                              <th>Total</th> 
                              <th>Action</th> 
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td  colspan="8"><span> No Records found</span></td>
                           </tr>
                        </tbody>
                     </table><br>
                     <!-- Result Section -->
                     <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-4">
                           <div class="ResultSection">
                              <span class="Title"> Sub Total </span>
                              <span class="Split"> : </span>
                              <span class="Value"> Rs.0000 </span>
                           </div>
                           <div class="ResultSection">
                              <span class="Title"> Total Tax</span>
                              <span class="Split"> : </span>
                              <span class="Value"> Rs.0000 </span>
                           </div>
                           <div class="ResultSection">
                              <span class="Title"> Total </span>
                              <span class="Split"> : </span>
                              <span class="Value"> Rs.0000 </span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Quote Terms -->
                  <div class="Done_Section" *ngIf="Active_Tab === 'quote_Terms'">
                     <div class="row">
                        <div class="col-sm-4">
                           <div class="view_item">
                              <div class="Static"> Quote Terms </div>
                              <div class="dots"> : </div>
                              <div class="Data"> Term-1 </div>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="view_item">
                              <div class="Static"> Notes </div>
                              <div class="dots"> : </div>
                              <div class="Data"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>