<app-header></app-header>
<div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1" style="height: 100%; width: 100%;">
   <div class="Loading">
         <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
         </div>
   </div>
</div>
<!-- Main Section -->
<div class="Main_Section">
   <div class="Page_Section">
      <div class="container-fluid">
         <!-- Page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul>
                  <li class="HeaderName">Inventory</li>
                  <li class="arrow">>></li>
                  <li>Delivery Orders</li>
               </ul>
            </div>
         </div>
         <!-- Header part -->
         <div class="row header_part">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
               <div class="Search_Section">
                  <input type="text" placeholder="Search.." name="search">
                  <i class="material-icons">search</i>
               </div>
            </div>
         </div>
         <!-- Table section -->
         <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th>S.no</th>
                     <th>Order no</th>
                     <th>Ref no</th>
                     <th>Date</th>
                     <th>Company Details</th>
                     <th>Created By</th>
                     <th>Status</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let item of _List; let i = index">
                     <td>
                        <span class="S_no"> {{i+1}} </span>
                     </td>
                     <td>
                        <span class="Style_2">{{item?.SaleOrder_Id?.SaleOrder_Ref_Number}}</span>
                     </td>
                     <td>
                        <span class="Style_2">{{item?.DeliverOrder_Ref_Number}}</span>
                     </td>
                     <td>
                        <span class="Style_3">{{item?.updatedAt | date: 'dd/MM/yyyy'}}</span>
                     </td>
                     <td>

                        <span class="Style_2">{{item?.SaleOrder_Id?.Quote_Id?.Company_Name?.Company_Name}}</span>
                     </td>
                     <td>

                        <span class="Style_3">{{item?.Created_By?.Name}}</span>
                     </td>
                     <td>
                        <span class="Style_3">{{item?.DeliverOrder_Status}}</span>
                     </td>
                     <td>
                        <button mat-raised-button color="primary" [matMenuTriggerFor]="Action" (click)="ActionGetId(i)" > Action </button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<!-- Dropdown menus -->
<mat-menu class="MenuStyleOne" #Action="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below" class="MenuStyleOne">
   <!-- <button mat-menu-item [routerLink]="['/inventory_deliveryorder_create']">
      <span>Edit</span>
   </button> -->
   <button mat-menu-item (click)="View()">
      <span>View</span>
   </button>
   <button mat-menu-item (click)="Edit()">
      <span>Edit</span>
   </button>
   <button *ngIf="ReceiveButtonShow" mat-menu-item (click)="View()">
      <span>Validate</span>
   </button>
</mat-menu>