<!-- If View The Employee Category-->
<div class="Modal_Content" *ngIf=" Type && Type === 'View'">
   <div class="Modal_Header">
      <p>View Log Call</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="view_item">
         <div class="Static">Company Name</div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data?.Company_Name['Company_Name']}}</div>
      </div>
      <div class="view_item">
         <div class="Static">Date</div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data?.Date | date: 'mediumDate' }}</div>
      </div>
      <div class="view_item">
         <div class="Static">Contact Person</div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data?.Contact_Person}}</div>
      </div>
      <div class="view_item">
         <div class="Static">Mobile Number</div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data?.Phone}}</div>
      </div>
      <div class="view_item">
         <div class="Static">Email Id</div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data?.Email}}</div>
      </div>
      <div class="view_item">
         <div class="Static">Product</div>
         <div class="dots"> : </div>
         <div class="Data">
            <span *ngFor="let Product_Item of Data?.Product">
               <span>{{Product_Item['Product_Name_withAttribute']}}</span><br>
            </span>
         </div>
      </div>
      <div class="view_item">
         <div class="Static">Description</div>
         <div class="dots"> : </div>
         <div class="Data">{{Data?.Description}}</div>
      </div>
      <!-- <div class="view_item">
         <div class="Static"> Created Date </div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data?.createdAt | date:'medium'}}</div>
      </div>
      <div class="view_item">
         <div class="Static">Last Modified Date  </div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data?.updatedAt | date:'medium'}}</div>
      </div> -->
   </div>
</div>