
<div class="row">
  <div class="col-sm-6">
    <span class="Create_Button" (click)="CreateLeadSource()">Add New
      
    </span>
  </div>
  <div class="col-sm-6">
    <div class="Search_Section">
      <input type="text" placeholder="Search.." name="search">
      <i class="material-icons">search</i>
    </div>
  </div>
</div>
<br>
<div class="Table_Section">
  <table >
    <thead>
      <tr>
        <th>S.no</th>
        <th>LeadSource Type</th>
        <th>Createdby </th>
        <th>Last Modified Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="S_no"> 1 </span>
        </td>
        <td>
          <span class="Name_Style">LeadSource Type1 </span>
        </td>
        <td>
          <span class="Name_Style"> Admin </span>
        </td>
        <td>
          <span class="Name_Style">May 29,2018</span>
      </td>
       <td>
            <span class="Action_Section Bg_Danger">
                <i class="material-icons" (click)="DeleteContactInfo()">delete</i>
              </span>
              <span class="Action_Section Bg_Info">
                <i class="material-icons" (click)="CreateLeadSource()">edit</i>
              </span>
              <span class="Action_Section Bg_Success">
                  <i class="material-icons" (click)="ViewLeadSource()"> remove_red_eye </i>
                </span>
        </td>
      </tr>
      <tr>
          <td>
            <span class="S_no"> 2 </span>
          </td>
          <td>
            <span class="Name_Style"> LeadSource Type2</span>
          </td>
          <td>
            <span class="Name_Style"> Admin </span>
          </td>
          <td>
            <span class="Name_Style">May 29,2018</span>
        </td>
         <td>
              <span class="Action_Section Bg_Danger">
                  <i class="material-icons" (click)="DeleteContactInfo()">delete</i>
                </span>
                <span class="Action_Section Bg_Info">
                  <i class="material-icons" (click)="CreateLeadSource()">edit</i>
                </span>
                <span class="Action_Section Bg_Success">
                    <i class="material-icons" (click)="ViewLeadSource()"> remove_red_eye </i>
                  </span>
          </td>
        </tr>
        <tr>
            <td>
              <span class="S_no"> 3</span>
            </td>
            <td>
              <span class="Name_Style">LeadSource Type4 </span>
            </td>
            <td>
              <span class="Name_Style"> Admin </span>
            </td>
            <td>
              <span class="Name_Style">May 29,2018</span>
          </td>
           <td>
                <span class="Action_Section Bg_Danger">
                    <i class="material-icons" (click)="DeleteContactInfo()">delete</i>
                  </span>
                  <span class="Action_Section Bg_Info">
                    <i class="material-icons" (click)="CreateLeadSource()">edit</i>
                  </span>
                  <span class="Action_Section Bg_Success">
                      <i class="material-icons" (click)="ViewLeadSource()"> remove_red_eye </i>
                    </span>
            </td>
          </tr>
          <tr>
              <td>
                <span class="S_no"> 4 </span>
              </td>
              <td>
                <span class="Name_Style"> LeadSource Type4 </span>
              </td>
              <td>
                <span class="Name_Style"> Admin </span>
              </td>
              <td>
                <span class="Name_Style">May 29,2018</span>
            </td>
             <td>
                  <span class="Action_Section Bg_Danger">
                      <i class="material-icons" (click)="DeleteContactInfo()">delete</i>
                    </span>
                    <span class="Action_Section Bg_Info">
                      <i class="material-icons" (click)="CreateLeadSource()">edit</i>
                    </span>
                    <span class="Action_Section Bg_Success">
                        <i class="material-icons" (click)="ViewLeadSource()"> remove_red_eye </i>
                      </span>
              </td>
            </tr>
    </tbody>
  </table>