<!-- Page Section -->
<div class="page_section">
   <div class="container-fluid">
      <!-- Page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class= "LinkName">Accounts</li>
               <li class="arrow">>></li>
               <li >Configuration</li>
            </ul>
         </div>
      </div>
      <!-- Container Content -->
      <div class="container-content">
         <h5 class="Header">Fiscal Year:</h5>
         <div class="row">
            <div class="col-sm-4 Left_Date">
               <p>Fiscal Year Last Day:</p>
            </div>
            <div class="col-sm-4 Right_data Form_Select">
               <span>
                  <ng-select class="NgSelect" 
                     [items]="_Date" 
                     [searchable]="true" 
                     placeholder="Date">
                  </ng-select>   <br>
                  <ng-select class="NgSelect" 
                     [items]="_Month" 
                     [searchable]="true" 
                     placeholder="Date">
                  </ng-select>   
               </span>
            </div>
         </div><br>
         <div class="row">
            <div class="col-sm-4 Left_Date">
               <p>Default Currency:</p>
            </div>
            <div class="col-sm-4 Right_data Form_Input">
               <span>
                  <input type="text" value="INR" readonly="true">
               </span>
            </div>
         </div><br>
      </div>
   </div>
</div>
   

