<app-header></app-header>
<div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1" style="height: 100%; width: 100%;">
   <div class="Loading">
         <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
         </div>
   </div>
</div>
<!-- Main Section -->
<div class="Main_Section">
   <div class="Page_Section">
      <div class="container-fluid">
         <!-- page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul>
                  <li class="HeaderName">CRM</li>
                  <li class="arrow">>></li>
                  <li>Quotations</li>
               </ul>
            </div>
         </div>
         <!-- Header part -->
         <div class="row header_part">
            <div class="col-sm-6">
               <a [routerLink]="['/crm_quotations_create']"><button class="Create_Button" mat-raised-button> + Create </button></a>
            </div>
            <div class="col-sm-6">
               <div class="Search_Section">
                  <input type="text" placeholder="Search.." name="search">
                  <i class="material-icons">search</i>
               </div>
            </div>
         </div>
         <!-- Table Section -->
         <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th>S.no</th>
                     <th>Quote Details</th>
                     <th>Company Details</th>
                     <th>Contact Details</th>
                     <th>Created By</th>
                     <th>Status</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <ng-container *ngFor="let item of _List; let i = index">
                     <tr >
                        <td>
                           <span class="S_no">{{i + 1}}</span>
                        </td>
                        <td>
                           <h6 class="Style_2">{{item?.Quote_Ref_Number}}</h6>
                           <span class="Style_3">Valid Till : {{item?.Valid_Date | date: 'dd/MM/yyyy' }}</span>
                        </td>
                        <td>
                           <h6 class="Style_2">{{item?.Company_Name.Company_Name}}</h6>
                        </td>
                        <td>
                           <h6 class="Style_2">{{item?.Contact_Person.Name}}</h6>
                           <span *ngIf="!item?.Contact_Person.Mobile"class="Style_3">{{item?.Contact_Person.Email}}</span>
                           <span *ngIf="item?.Contact_Person.Mobile" class="Style_3">{{item?.Contact_Person.Mobile}}</span>
                        </td>
                        <td>
                           <span class="Style_3">{{item?.Created_By.Name}}</span>
                        </td>
                        <td>
                           <span class="Style_3">{{item?.Quote_Status}}</span>
                        </td>
                        <td>
                           <button mat-raised-button color="primary" (click)="ActionGetId(i)" [matMenuTriggerFor] = "Action"> Action </button>
                        </td>
                     </tr>
                     <tr *ngIf="item?.If_Expand">
                        <td colspan="7" style="padding: 1% 5% 1% 5%">
                           <div class="Table_Section">
                              <table>
                                    <tbody>
                                       <tr *ngFor="let RevisedItem of _ReviseList; let i = index">
                                             <td style="width: 100px">
                                                <span class="S_no">{{i + 1}}</span>
                                             </td>
                                             <td>
                                                <h6 class="Style_2">{{RevisedItem?.Quote_Ref_Number}}</h6>
                                                <span class="Style_3">Valid Till : {{RevisedItem?.Valid_Date | date: 'dd/MM/yyyy' }}</span>
                                             </td>
                                             <td>
                                                <h6 class="Style_2">{{RevisedItem?.Company_Name.Company_Name}}</h6>
                                             </td>
                                             <td>
                                                <h6 class="Style_2">{{RevisedItem?.Contact_Person.Name}}</h6>
                                                <span *ngIf="!RevisedItem?.Contact_Person.Mobile"class="Style_3">{{RevisedItem?.Contact_Person.Email}}</span>
                                                <span *ngIf="RevisedItem?.Contact_Person.Mobile" class="Style_3">{{RevisedItem?.Contact_Person.Mobile}}</span>
                                             </td>
                                             <td>
                                                <span class="Style_3">{{RevisedItem?.Created_By.Name}}</span>
                                             </td>
                                             <td>
                                                <span class="Style_3">{{RevisedItem?.Quote_Status}}</span>
                                             </td>
                                             <td style="width: 100px">
                                                <button mat-raised-button color="primary" (click)="ActionGetId(i); View()"> View </button>
                                             </td>
                                          </tr>
                                    </tbody>
                              </table>
                           </div>
                        </td>
                     </tr>
                  </ng-container>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
   
<!-- Dropdown menus -->
<mat-menu class="MenuStyleOne" #Action="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below" class="MenuStyleOne">
   <button mat-menu-item (click)="View()">
      <span>View</span>
   </button>
   <button *ngIf="!showReviseButton" mat-menu-item>
      <span>Cancel</span>
   </button>
   <button *ngIf="showReviseButton" mat-menu-item (click)="Revise()">
      <span>Revise</span>
   </button>
   <button *ngIf="showConfirmButton" mat-menu-item (click)="ConfirmOrder()">
      <span>Confirm order</span>
   </button>
   <button *ngIf="showToggleOption" mat-menu-item (click)="ShowRevisedQuotes()">
      <span *ngIf="!toggleExpandStatus">Show Revised Quotes</span>
      <span *ngIf="toggleExpandStatus">Hide Revised Quotes</span>
   </button>
</mat-menu>