<!-- page -->
<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- page identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Leads</li>
               <li class="arrow"> >> </li>
               <li class="LinkName"><a [routerLink]="['/List_Log_Phone_call']">Log Phone call List</a></li>
               <li class="arrow">>></li>
               <li>Log Phone call Create</li>
            </ul>
         </div>
      </div>
      <!-- Company details -->
      <div class="Company_Details">
         <div class="row">
            <div class="col-sm-4 Form_Select">
               <label>Company Name: </label>
               <ng-select class="NgSelect" 
                  [items]="_Company" 
                  [searchable]="true" 
                  placeholder="Company Name">
               </ng-select>
            </div>
            <div class="col-sm-4 Form_Input">
               <label>Date & Time: </label>
               <input matInput [matDatepicker]="DatePicker1" (click)="DatePicker1.open()">
               <mat-datepicker #DatePicker1></mat-datepicker>
            </div>
            <br>
            <div class="col-sm-4 Form_Select">
               <label>Product: </label>
               <ng-select class="NgSelect" 
                  [items]="_Product" 
                  [searchable]="true" 
                  [multiple]="true"
                  placeholder="Product">
               </ng-select>
            </div>
            <div class="col-sm-4 Form_Input">
               <label>Contact: </label>
               <input type="text">
            </div>
            <div class="col-sm-4 Form_Input">
               <label>Email Id: </label>
               <input type="text">
            </div>
            <div class="col-sm-4 Form_Input">
               <label>Mobile Number: </label>
               <input type="text">
            </div>
            <div class="col-sm-4 Form_TextArea">
               <label>Description: </label>
               <textarea class="Description" rows="3"></textarea>
            </div>
         </div>
      </div>
      <div class="row" style="margin-top:30px;"> 
         <div class="col-sm-12 text-right">
            <button mat-raised-button color="primary" style = "bottom: 20px;"> Submit </button>
         </div>
      </div>
   </div>
</div>
      
   