<!-- page -->
<div class="page" style="margin-top:100px;margin-bottom:100px">
   <div class="container-fluid">
      <!-- page identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Leads</li>
               <li class="arrow">>></li>
               <li class="LinkName" ><a [routerLink]="['/List_leads']">Leads List</a></li>
               <li class="arrow">>></li>
               <li>Leads Create</li>
            </ul>
         </div>
      </div>
      <!-- Company details -->
      <div class="Company_Details">
         <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Lead <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
         <div class="row">
            <div class="col-sm-4 Form_Input">
               <label>Company Name: </label>
               <input type="text">
            </div>
            <div class="col-sm-4 Form_Input">
               <label>Email: </label>
               <input type="text">
            </div><br>
            <div class="col-sm-4 Form_Select">
               <label>Product: </label>
               <ng-select class="NgSelect" 
                  [items]="_Product" 
                  [searchable]="true" 
                  placeholder="Product">
               </ng-select>
            </div>
            <div class="col-sm-4 Form_Input">
               <label>Phone: </label>
               <input type="text" >
            </div>
            <div class="col-sm-4 Form_Select">
               <label>Lead Source: </label>
               <ng-select class="NgSelect" 
                  [items]="_LeadSource" 
                  [searchable]="true" 
                  placeholder="Lead source">
               </ng-select>
            </div>
            <div class="col-sm-4 Form_Select">
               <label>Priority: </label>
               <ng-select class="NgSelect" 
                  [items]="_Priority" 
                  [searchable]="true" 
                  placeholder="Priority">
               </ng-select>
            </div>
            <div class="col-sm-4 Form_Select">
               <label>Assign To: </label>
               <ng-select class="NgSelect" 
                  [items]="_Employee" 
                  [searchable]="true" 
                  placeholder="Employee">
               </ng-select>
            </div>
            <div class="col-sm-4 Form_TextArea ">
               <label>Address: </label>
               <textarea class="message" rows="3"></textarea>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Footer -->
<div class="Footer">
   <button mat-raised-button color="primary" style = "top: 5px;"> Submit </button>
</div>
   
   
