<div class="page" style="margin-top:100px;margin-bottom:100px">
   <div class="container-fluid">
      <!-- page identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Leads</li>
               <li class="arrow">>></li>
               <li class="LinkName" [routerLink]="['/List_leads']">Leads List</li>
               <li class="arrow">>></li>
               <li>Leads Create</li>
            </ul>
         </div>
      </div>
      <div class="row">
         <!-- Company details -->
         <div class="Company_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Company <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-6 Form_Input">
                     <label>Company Name: </label>
                     <input type="text">
                  </div>
                  <div class="col-sm-6 Form_Input">
                     <label>Email: </label>
                     <input type="text">
                  </div><br>
                  <div class="col-sm-6 Form_Select">
                     <label>Product: </label>
                     <select>
                        <option checked>Select Product</option>
                        <option>Product1</option>
                        <option>Product2</option>
                        <option>Product3</option>
                        <option>Product4</option>
                     </select>
                  </div>
                  <div class="col-sm-6 Form_Input">
                     <label>Phone: </label>
                     <input type="text" >
                  </div>
                  <div class="col-sm-6 Form_Select">
                     <label>Lead Source: </label>
                     <select>
                        <option checked>Select Lead Source</option>
                        <option>Lead Source1</option>
                        <option>Lead Source2</option>
                        <option>Lead Source3</option>
                        <option>Lead Source4</option>
                     </select>
                  </div>
                  <div class="col-sm-6 Form_Select">
                     <label>Priority: </label>
                     <select>
                        <option checked>Select Priority</option>
                        <option>Priority1</option>
                        <option>Priority2</option>
                        <option>Priority3</option>
                        <option>Priority4</option>
                     </select>
                  </div>
                  <div class="col-sm-6 Form_Select">
                     <label>Assign To: </label>
                     <select>
                        <option checked>Select Employee</option>
                        <option>Employee1</option>
                        <option>Employee2</option>
                        <option>Employee3</option>
                        <option>Employee4</option>
                     </select>
                  </div>
                  <div class="col-sm-6 Form_TextArea ">
                     <label>Address: </label>
                     <textarea class="message" rows="3"></textarea>
                  </div>
               </div>
            </div>
         </div>
         <!-- Tabs -->
         <div class="Company_Details">
               <div class="Tabs">
                     <div class="Tab" [ngClass]="{'active': Active_Tab === 'Log_Phone_Call'}" (click)="Active_Tab_Change('Log_Phone_Call')">
                        <span >Log Phone Call</span>
                     </div>
                     <div class="Tab" [ngClass]="{'active': Active_Tab === 'Call_Schedule'}" (click)="Active_Tab_Change('Call_Schedule')">
                        <span >Call Schedule</span>
                     </div>
                  </div><br>
            <!-- Product details -->
            <div class="Product_Details" *ngIf="Active_Tab === 'Log_Phone_Call'">
               <!-- Header Part -->
               <div class="row header_part">
                     <div class="col-sm-6">
                        <button class="Create_Button" mat-raised-button (click)="CreateLogPhoneCall()"> + Create </button>
                     </div>
                     <div class="col-sm-6">
                        <div class="Search_Section">
                           <input type="text" placeholder="Search.." name="search">
                           <i class="material-icons">search</i>
                        </div>
                     </div>
               </div>
               <!-- Table Section -->
               <div class="Table_Section">
                  <table>
                     <thead>
                        <tr>
                           <th>S.no</th>
                           <th>Company</th>
                           <th>Date & Time</th>
                           <th>Product</th>
                           <th>Contact</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                     </tbody>
                  </table>
               </div>
            </div>
            <!-- Quote Terms -->
            <div class="Done_Section" *ngIf="Active_Tab === 'Call_Schedule'">
               <!-- Header Part -->
               <div class="row header_part">
                     <div class="col-sm-6">
                     <button class="Create_Button" mat-raised-button (click)="CreateCallSchedule()"> + Create </button>
                     </div>
                     <div class="col-sm-6">
                        <div class="Search_Section">
                           <input type="text" placeholder="Search.." name="search">
                           <i class="material-icons">search</i>
                        </div>
                     </div>
               </div>
               <!-- Table section -->
               <div class="Table_Section">
                  <table>
                     <thead>
                        <tr>
                           <th>S.no</th>
                           <th>Company</th>
                           <th>Date & Time</th>
                           <th>Contact</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Footer -->
<div class="Footer">
   <button mat-raised-button color="primary" style = "top: 5px;"> Submit </button>
</div>
   
   
