<div class="page" style="margin-top:100px;">
    <div class="container-fluid">
       <!-- page Identity -->
       <div class="Page_Identity">
          <div class="Page_Track">
             <ul>
                <li class="HeaderName">Home</li>
                <li class="arrow">>></li>
                <li>Product</li>
               </ul>
          </div>
       </div>
       <form>
          <div class="row">
             <!-- Company details -->
             <div class="Company_Details">
                <h5>
                  <span><button class="Add_Product_Button pull-left">Update Quantity</button></span>
                  <span><button class="Add_Product_Button pull-right">On Hand</button></span>
                  <span><button class="Add_Product_Button pull-right">Purchase Order</button></span>
                  <span><button class="Add_Product_Button pull-right">Sale Order</button></span>
                </h5>
                <br>
                <div class="col-sm-12">
                   <div class="view_item">
                      <div class="Static"> Name </div>
                      <div class="dots"> : </div>
                      <div class="Data">  Name</div>
                   </div>
                   <div class="view_item">
                      <div class="Static">Item Code </div>
                      <div class="dots"> : </div>
                      <div class="Data"> Item Code</div>
                   </div>
                   <div class="view_item">
                      <div class="Static">HSN Code </div>
                      <div class="dots"> : </div>
                      <div class="Data"> HSN Code </div>
                   </div>
                   <div class="view_item">
                      <div class="Static">Price </div>
                      <div class="dots"> : </div>
                      <div class="Data"> Price </div>
                   </div>
                   <div class="view_item">
                      <div class="Static">UOM </div>
                      <div class="dots"> : </div>
                      <div class="Data"> UOM </div>
                   </div>
                   <div class="view_item">
                      <div class="Static">Product Type </div>
                      <div class="dots"> : </div>
                      <div class="Data"> Product Type </div>
                   </div>
                  </div>
                <br>
             </div>
          </div>
          <div class="row" style="margin-top:20px;">
             <div class="col-sm-12 text-right">
             </div>
          </div>
       </form>
    </div>
 </div>
 
