<div class="example-card right_section ng-star-inserted">
   <div class="row">
      <div class="col-sm-6 text-center">
         <img alt=" Company Image" src="assets/images/basic/pexels-photo-323705.jpeg" style="max-width:200px">
            <div class="row">
               <div class="col-sm-12 text-center"> <b> AASHI Technologies </b></div>
            </div>
            <hr>
            <div class="row">
               <div class="col-sm-4 text-right"> <b> Address : </b></div>
               <div class="col-sm-8 text-left"> 32- Sri Lakshmi Nagar, <br> Coimbatore, <br> TamilNadu, <br> India, </div>
            </div>
            <hr>
      </div>
      <div class="col-sm-6">
         <div class="left-data">
            <br>
            <div class="row">
               <div class="col-sm-4 text-right"> <b> Phone : </b></div>
               <div class="col-sm-8 text-left">  +91 82201 25844 </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-sm-4 text-right"> <b> Email : </b></div>
               <div class="col-sm-8 text-left">  Kathiraashi@gmail.com </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-sm-4 text-right"> <b> Website : </b></div>
               <div class="col-sm-8 text-left">  www.Sambelwebsite.com </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-sm-4 text-right"> <b> Company Type : </b></div>
               <div class="col-sm-8 text-left"> Company Type </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-sm-4 text-right"> <b> Type Of Business :</b></div>
               <div class="col-sm-8 text-left"> Type Of Business  </div>
            </div>
            <hr>
         </div>
      </div>
   </div>
   <div class="edit-button ng-star-inserted">
      <button class="editbutton" (click)="modelcompanyinfo()"> Edit </button>
   </div>
</div>




