<div class="Modal_Content" *ngIf="_Data?.Type && (_Data?.Type === 'Create' || _Data?.Type === 'Edit')">
   <div class="Modal_Header">
     <p>{{_Data?.Type}} Branch</p>
     <span *ngIf="!Uploading" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <form [formGroup]="Form" (ngSubmit)="onSubmit()">
   <div class="Model_Body">
      <div class="row">
         <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': Form.controls['Branch_Name'].errors && !Form.controls['Branch_Name'].pristine, 'Form_Success': Form.controls['Branch_Name'].valid && !Form.controls['Branch_Name'].pristine }">
            <label>Branch Name:</label>
            <input type="text" formControlName="Branch_Name">
            <p class="error" *ngIf="Form.controls['Branch_Name'].errors && !Form.controls['Branch_Name'].pristine">
               <span  *ngIf="Form.controls['Branch_Name'].errors.required"> Branch Name is required</span>
            </p>
         </div>
         <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': Form.controls['Branch_Head'].errors && !Form.controls['Branch_Head'].pristine, 'Form_Success': Form.controls['Branch_Head'].valid && !Form.controls['Branch_Head'].pristine }">
            <label>Branch Head:</label>
            <input type="text" formControlName="Branch_Head">
            <p class="error" *ngIf="Form.controls['Branch_Head'].errors && !Form.controls['Branch_Head'].pristine">
               <span  *ngIf="Form.controls['Branch_Head'].errors.required"> Branch Head is required</span>
            </p>
         </div>
         <div class="col-sm-6 Form_Select">
            <label>Departments:</label>
            <ng-select class="NgSelect ValueBold" formControlName="Departments" [searchable]="true" placeholder="Departments">
               <ng-option *ngFor="let Department of _Departments" [value]="Departments">{{ Department?.Departments }}</ng-option>
            </ng-select>
            <p class="error" *ngIf="Form.controls['Departments'].errors && !Form.controls['Departments'].pristine">
               <span  *ngIf="Form.controls['Departments'].errors.required"> Department is required</span>
            </p>
         </div>
         <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': Form.controls['AllStreet'].errors && !Form.controls['AllStreet'].pristine, 'Form_Success': Form.controls['AllStreet'].valid && !Form.controls['AllStreet'].pristine }">
         <label>No/Street:</label>
            <input type="text" formControlName="AllStreet" >
            <p class="error" *ngIf="Form.controls['AllStreet'].errors && !Form.controls['AllStreet'].pristine">
               <span  *ngIf="Form.controls['AllStreet'].errors.required"> Street is required</span>
            </p>
         </div>
         <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': Form.controls['AllArea'].errors && !Form.controls['AllArea'].pristine, 'Form_Success': Form.controls['AllArea'].valid && !Form.controls['AllArea'].pristine }">
         <label>Area:</label>
            <input type="text" formControlName="AllArea">
            <p class="error" *ngIf="Form.controls['AllArea'].errors && !Form.controls['AllArea'].pristine">
               <span  *ngIf="Form.controls['AllArea'].errors.required"> Area is required</span>
            </p>
         </div>
         <div class="col-sm-6 Form_Select">
         <label>Select Country:</label>
         <ng-select class="NgSelect ValueBold" formControlName="AllCountry" [searchable]="true" placeholder="Country" (ngModelChange)="AllCountry_Change();">
            <ng-option *ngFor="let Country of AllCountry" [value]="Country">{{Country.Country_Name}}</ng-option>
         </ng-select>
         <p class="error" *ngIf="Form.controls['AllCountry'].errors && !Form.controls['AllCountry'].pristine">
            <span *ngIf="Form.controls['AllCountry'].errors.required"> Country is required</span>
         </p>
         </div>
         <div class="col-sm-6 Form_Select">
         <label>Select State:</label>   
         <ng-select class="NgSelect ValueBold" formControlName="AllState" [searchable]="true" placeholder="State" (ngModelChange)="AllState_Change();">
            <ng-option *ngFor="let State of AllStateOfCountry" [value]="State">{{State.State_Name}}</ng-option>
         </ng-select>
         <p class="error" *ngIf="Form.controls['AllState'].errors && !Form.controls['AllState'].pristine">
            <span *ngIf="Form.controls['AllState'].errors.required"> State is required</span>
         </p>
         </div>
         <div class="col-sm-6 Form_Select">
         <label>city:</label>
         <ng-select class="NgSelect ValueBold" formControlName="AllCity" [searchable]="true" placeholder="City" >
            <ng-option *ngFor="let City of AllCityOfState" [value]="City">{{City.City_Name}}</ng-option>
         </ng-select>
         <p class="error" *ngIf="Form.controls['AllCity'].errors && !Form.controls['AllCity'].pristine">
            <span *ngIf="Form.controls['AllCity'].errors.required"> City is required</span>
         </p>
         </div>
         <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': Form.controls['AllZipCode'].errors && !Form.controls['AllZipCode'].pristine, 'Form_Success': Form.controls['AllZipCode'].valid && !Form.controls['AllZipCode'].pristine }">
         <label>Zip Code:</label>
            <input type="text" formControlName="AllZipCode">
            <p class="error" *ngIf="Form.controls['AllZipCode'].errors && !Form.controls['AllZipCode'].pristine">
               <span *ngIf="Form.controls['AllZipCode'].errors.required"> ZipCode is required</span>
            </p>
         </div>
         <div class="col-sm-6 Form_TextArea">
            <label>Addresss:</label>
                  <textarea class="message" rows="2" formControlName="Address"></textarea>
               </div>
      </div>
   </div>
   <div class="Model_Footer">
      <button type="submit" [disabled]="Form.status !== 'VALID' || Uploading" mat-raised-button color="primary">
         <span *ngIf="_Data?.Type === 'Create' && !Uploading">Submit</span>
         <span *ngIf="_Data?.Type === 'Edit' && !Uploading">Update</span>
         <span *ngIf="Uploading" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </span>
      </button>
 </div>
</form>
   </div>

<div class="Modal_Content" *ngIf="_Data?.Type && _Data?.Type === 'View'">
      <div class="Modal_Header">
        <p>View Branch</p>
        <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <div class="Model_Body">
         <div class="view_item">
            <div class="Static">Branch Name</div>
            <div class="dots"> : </div>
            <div class="Data"> {{_Branch_Info.Branch_Name}}  </div>
         </div>
         <div class="view_item">
            <div class="Static"> Branch Head </div>
            <div class="dots"> : </div>
            <div class="Data">  {{_Branch_Info.Branch_Head}} </div>
         </div>
         <div class="view_item">
            <div class="Static"> Departments </div>
            <div class="dots"> : </div>
            <div class="Data">  {{_Branch_Info.Departments?.Departments}} </div>
         </div>
         <div class="view_item">
            <div class="Static"> Street </div>
            <div class="dots"> : </div>
            <div class="Data">  {{_Branch_Info.AllStreet}} </div>
         </div>
         <div class="view_item">
            <div class="Static"> Area </div>
            <div class="dots"> : </div>
            <div class="Data">  {{_Branch_Info.AllArea}} </div>
         </div>
         <div class="view_item">
            <div class="Static"> State </div>
            <div class="dots"> : </div>
            <div class="Data">  {{_Branch_Info.Global_State?.AllState}} </div>
         </div>
         <div class="view_item">
            <div class="Static"> Country </div>
            <div class="dots"> : </div>
            <div class="Data">  {{_Branch_Info.Global_Country?.AllCountry}} </div>
         </div>
         <div class="view_item">
            <div class="Static"> City </div>
            <div class="dots"> : </div>
            <div class="Data">  {{_Branch_Info.Global_City?.AllCity}} </div>
         </div>
         <div class="view_item">
            <div class="Static"> ZipCode </div>
            <div class="dots"> : </div>
            <div class="Data">  {{_Branch_Info.AllZipCode}} </div>
         </div>
         <div class="view_item">
            <div class="Static"> Address </div>
            <div class="dots"> : </div>
            <div class="Data">  {{_Branch_Info.Address}} </div>
         </div>
         <div class="view_item">
            <div class="Static">Created By </div>
            <div class="dots"> : </div>
            <div class="Data"> {{_Branch_Info.Created_By?.Name}}
             </div>
         </div>
         <div class="view_item">
            <div class="Static">Last Modified By </div>
            <div class="dots"> : </div>
            <div class="Data">  {{_Branch_Info.Last_Modified_By?.Name}}
            </div>
         </div>
         <div class="view_item">
            <div class="Static"> Created Date </div>
            <div class="dots"> : </div>
            <div class="Data"> {{_Branch_Info.createdAt | date:'medium' }} </div>
         </div>
         <div class="view_item">
            <div class="Static">Last Modified Date  </div>
            <div class="dots"> : </div>
            <div class="Data"> {{_Branch_Info.updatedAt | date:'medium' }} </div>
         </div>
         </div>
      </div>
     
  