<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
   <div class="Modal_Header">
     <p>CreateBranch</p>
     <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="col-sm-4 Form_Input">
            Branch Name:<br>
            <input type="text">
         </div>
         <div class="col-sm-4 Form_Input">
            Branch Head:<br>
            <input type="text">
         </div>
         <div class="col-sm-4 Form_Input">
            Departments:<br>
            <input type="text" >
         </div>
         <div class="col-sm-4 Form_Input">
            No/Street:<br>
            <input type="text"  >
         </div>
         <div class="col-sm-4 Form_Input">
            Area:<br>
            <input type="text" >
         </div>
         <div class="col-sm-4 Form_Select">
            Select Country:<br>
            <select>
               <option disabled> Select Country</option>
               <option> All </option>
               <option> country1 </option>
               <option> country2 </option>
               <option> country3 </option>
               <option> country4 </option>
               <option> country5 </option>
            </select>
         </div>
         <div class="col-sm-4 Form_Select">
            Select State:<br>    
            <select>
               <option disabled> Select State</option>
               <option> All </option>
               <option> state1 </option>
               <option> state2 </option>
               <option> state3  </option>
               <option> state4  </option>
               <option> state5  </option>
            </select>
         </div>
         <div class="col-sm-4 Form_Select">
           city:<br>
           <select>
               <option disabled> Select City</option>
               <option> All </option>
               <option> city1 </option>
               <option> city2 </option>
               <option> city3 </option>
               <option> city4 </option>
               <option> city5 </option>
            </select>
         </div>
         <div class="col-sm-4 Form_Input">
            Zip Code:<br>
            <input type="text" >
         </div>
      </div>
      <div class="Model_Footer">
         <span class="Submit_Btn" > Submit </span>
      </div>
   </div>
</div>
<div class="Modal_Content" *ngIf="Type && Type === 'View'">
      <div class="Modal_Header">
        <p>CreateBranch</p>
        <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <div class="Model_Body">
         <div class="row">
            <div class="col-sm-4 Form_Input">
               Branch Name:<br>
               <input type="text">
            </div>
            <div class="col-sm-4 Form_Input">
               Branch Head:<br>
               <input type="text">
            </div>
            <div class="col-sm-4 Form_Input">
               Departments:<br>
               <input type="text" >
            </div>
            <div class="col-sm-4 Form_Input">
               No/Street:<br>
               <input type="text"  >
            </div>
            <div class="col-sm-4 Form_Input">
               Area:<br>
               <input type="text" >
            </div>
            <div class="col-sm-4 Form_Select">
               Select Country:<br>
               <select>
                  <option disabled> Select Country</option>
                  <option> All </option>
                  <option> country1 </option>
                  <option> country2 </option>
                  <option> country3 </option>
                  <option> country4 </option>
                  <option> country5 </option>
               </select>
            </div>
            <div class="col-sm-4 Form_Select">
               Select State:<br>    
               <select>
                  <option disabled> Select State</option>
                  <option> All </option>
                  <option> state1 </option>
                  <option> state2 </option>
                  <option> state3  </option>
                  <option> state4  </option>
                  <option> state5  </option>
               </select>
            </div>
            <div class="col-sm-4 Form_Select">
              city:<br>
              <select>
                  <option disabled> Select City</option>
                  <option> All </option>
                  <option> city1 </option>
                  <option> city2 </option>
                  <option> city3 </option>
                  <option> city4 </option>
                  <option> city5 </option>
               </select>
            </div>
            <div class="col-sm-4 Form_Input">
               Zip Code:<br>
               <input type="text" >
            </div>
         </div>
         <div class="Model_Footer">
            <span class="Submit_Btn" > Submit </span>
         </div>
      </div>
   </div>