<app-header></app-header>
<!-- Page section -->
<div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1" style="width: 100%">
   <div class="Loading">
         <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
         </div>
   </div>
</div>
<div class="Page_Section">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Permissions</li>
               <li class="arrow">>></li>
               <li>List</li>
            </ul>
         </div>
      </div>
      <!--  Header Part -->
      <!-- Create and search Section -->
      <div class="row header_part">
         <div class="col-sm-6">
            <a [routerLink]="['/Create_Permissions']"><button class="Create_Button" mat-raised-button> + Create</button></a> 
         </div>
         <div class="col-sm-6">
            <div class="Search_Section">
               <input type="text" placeholder="Search.." name="search">
               <i class="material-icons">search</i>
            </div>
         </div>
      </div>
      <div class="Company_Details">
         <div class="Tabs">
            <div class="Tab" [ngClass]="{'active': Active_Tab === 'other_request'}" (click)="Active_Tab_Change('other_request')">
               <span >Other List</span>
            </div>
            <div class="Tab" [ngClass]="{'active': Active_Tab === 'my_request'}" (click)="Active_Tab_Change('my_request')">
               <span >My  List</span>
            </div>
         </div>
         <br>
         <div class="page" *ngIf="Active_Tab === 'other_request'">
            <!-- Table Section -->
            <div class="Table_Section">
               <table>
                  <thead>
                     <tr>
                        <th>S.no</th>
                        <th>Name</th>
                        <th>Request Date</th>
                        <th>Out Time</th>
                        <th>In Time</th>
                        <th>Status</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let item of _OtherList; let i = index">
                        <td>
                           <span class="S_no"> {{i + 1}} </span>
                        </td>
                        <td>
                           <span class="Style_1">{{item?.Requested_By?.Employee_Name}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{item?.Requested_Date | date: 'dd/MM/yyyy'}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{item?.Out_Time}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{item?.In_Time}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{item?.Permission_Status}}</span>
                        </td>
                        <td>
                           <button mat-raised-button color="primary" [matMenuTriggerFor] = "Action" (click)="ActionIndex(i)"> Action </button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="page" *ngIf="Active_Tab === 'my_request'">
            <!-- Table Section -->
            <div class="Table_Section">
               <table>
                  <thead>
                     <tr>
                        <th>S.no</th>
                        <th>Name</th>
                        <th>Request Date</th>
                        <th>Out Time</th>
                        <th>In Time</th>
                        <th>Status</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let item of _MyList; let i = index">
                        <td>
                           <span class="S_no"> {{i + 1}} </span>
                        </td>
                        <td>
                           <span class="Style_1">{{item?.Requested_By?.Employee_Name}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{item?.Requested_Date | date: 'dd/MM/yyyy'}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{item?.Out_Time}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{item?.In_Time}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{item?.Permission_Status}}</span>
                        </td>
                        <td>
                           <button mat-raised-button color="primary" [matMenuTriggerFor] = "Action" (click)="ActionIndex(i)"> Action </button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Dropdown menus -->
<mat-menu class="MenuStyleOne" #Action="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below" class="MenuStyleOne">
   <a><button *ngIf="showEditButton" mat-menu-item (click)="Edit()">
      <span>Edit</span>
   </button></a>
   <a><button mat-menu-item (click)="View()">
      <span>View</span>
   </button></a>
   <button *ngIf="showRequestButton" mat-menu-item (click)="Request()">
      <span>Send Request</span>
   </button>
   <button *ngIf="showApproveButton" mat-menu-item (click)="Approve()">
      <span>Approve</span>
   </button>
   <button *ngIf="showModifyButton" mat-menu-item (click)="Modify()">
      <span>Modify</span>
   </button>
   <button *ngIf="showRejectButton" mat-menu-item (click)="Reject()">
      <span>Reject</span>
   </button>
</mat-menu>




