<div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1" style="width: 100%">
   <div class="Loading">
         <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
         </div>
   </div>
 </div>
 <div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
<!-- Main Section -->
<div class="Main_Section">
   <div class="page_section">
      <div class="container-fluid">
         <!-- Page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul >
                  <li class="HeaderName">Purchase</li>
                  <li class="arrow">>></li>
                  <li>Request</li>
               </ul>
            </div>
         </div>
         <!-- Header Part -->
         <div class="row header_part">
            <div class="col-sm-6">
               <a [routerLink]="['/purchase_request_create']"><button class="Create_Button" mat-raised-button> + Create </button></a>
            </div>
            <div class="col-sm-6">
               <div class="Search_Section">
                  <input type="text" placeholder="Search.." name="search">
                  <i class="material-icons">search</i>
               </div>
            </div>
         </div>
         <!-- Table section -->
         <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th>S.no</th>
                     <th>Request No</th>
                     <th>Requested By</th>
                     <th>Requested Date</th>
                     <th>Status</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor=" let item of _List; let i = index">
                     <td>
                        <span class="S_no"> {{i+1}} </span>
                     </td>
                     <td>
                        <span class="Style_1">{{item?.Requested_Number}}</span>
                     </td>
                     <td>
                        <span class="Style_1">{{item?.Last_Modified_By['Name']}}</span>
                     </td>
                     <td>
                        <span class="Style_1">{{item?.Requested_Date | date: 'dd/MM/yyyy'}}</span>
                     </td>
                     <td>
                        <span class="Style_1">{{item?.Request_Status}}</span>
                     </td>
                     <td>
                        <button color="primary" mat-raised-button [matMenuTriggerFor]="Action" (click)="ActionIndex(i)">Action
                        </button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<!-- Dropdown menus -->
<mat-menu class="MenuStyleOne" #Action="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below" class="MenuStyleOne">
   <a *ngIf="Editable"><button mat-menu-item (click)="EditPurchaseRequest()">
      <span>Edit</span>
   </button></a>
   <a><button mat-menu-item (click)="ViewPurchaseRequest()">
      <span>View</span>
   </button></a>
   <a *ngIf="Cancelable"><button mat-menu-item (click)="CancelPurchaseRequest()">
      <span>Cancel</span>
   </button></a>
   <a *ngIf="RequestApprove"><button mat-menu-item (click)="ApprovePurchaseRequest()">
      <span>Send to approve</span>
   </button></a>
   <a *ngIf="Approve"><button mat-menu-item (click)="ViewPurchaseRequest()">
      <span>Approve</span>
   </button></a>
   <a *ngIf="Modification"><button mat-menu-item (click)="ModifyPurchaseRequest()">
      <span>Modify</span>
   </button></a>
   <a *ngIf="Rejectable"><button mat-menu-item (click)="RejectPurchaseRequest()">
      <span>Reject</span>
   </button></a>
   <a *ngIf="CancelApproval"><button mat-menu-item (click)="CancelApprovalPurchaseRequest()">
      <span>Cancel Approval</span>
   </button></a>
</mat-menu>
   
   