<app-header></app-header>
<div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1" style="height: 100%; width: 100%;">
   <div class="Loading">
         <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
         </div>
   </div>
</div>
<!-- Page section -->
<div class="Page_Section">
   <div class="container-fluid">
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Product</li>
               <li class="arrow">>></li>
               <li>List</li>
            </ul>
         </div>
      </div>
      <!--  Header Part -->
      <!-- Create and search Section -->
      <div class="row header_part">
         <div class="col-sm-6">
            <a [routerLink]="['/Create_Product']"><button class="Create_Button" mat-raised-button> + Create</button></a>        
         </div>
         <div class="col-sm-6">
            <div class="Search_Section">
               <input type="text" placeholder="Search.." name="search">
               <i class="material-icons">search</i>
            </div>
         </div>
      </div>
      <!-- content style -->
      <div class="row Content_Style">
         <div class="col-sm-3 Page_Content" *ngFor="let item of _List; let i = index">
              <a (click)="View(i)"> 
               <div class="Sub_Content">
                  <div class="image_section">
                     <img src="../../../../assets/images/basic/company.png">
                  </div>
                  <div class="Content_Section">
                     <h5>{{item?.Product_Name_withAttribute}}</h5>
                     <!-- <p *ngIf="item?.Can_Be_Sold === true" style="line-height: 0; font-size: 10px"><i class="material-icons View"  style="line-height: 0; font-size: 10px; color: #4ab65f">check_circle</i>can be sold</p> -->
                     <!-- <p *ngIf="item?.Can_Be_Purchased === true" style="line-height: 0; font-size: 10px"><i class="material-icons View" style="line-height: 0; font-size: 10px; color: #4ab65f">check_circle</i>can be purchased</p> -->
                     <h5>Stock: xx</h5>
                     <h5>{{item?.Product_Type}}</h5>
                     <h5>{{item?.Price}}</h5>
                  </div>
                  <a (click)="Edit(i)" style="margin-bottom: 60px"><i class="material-icons View" >border_color</i></a>
               </div> </a>
         </div>
      </div>
      <br>
   </div>
</div>

<!-- Dropdown menus -->
<mat-menu class="MenuStyleOne" #Action="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below" class="MenuStyleOne">
   <a [routerLink]="['/Create_Product']"><button mat-menu-item>
      <span>Edit</span>
   </button></a>
   <a [routerLink]="['/View_Product']"><button mat-menu-item>
      <span>View</span>
   </button></a>
   <button mat-menu-item (click)="DeleteProduct()">
      <span>Delete</span>
   </button>
   <button mat-menu-item>
      <span>Update Stock Quantity</span>
   </button>
</mat-menu>