<app-header></app-header>
<!-- Page section -->
<div class="Page_Section">
  <div class="container-fluid">
    <div class="Page_Identity">
      <div class="Page_Track">
        <ul>
          <li class="HeaderName">Home</li>
          <li class="arrow">>></li>
          <li>Product</li>
        </ul>
      </div>
    </div>
    <!--  Header Part -->
    <!-- Create and search Section -->
    <div class="row header_part">
      <div class="col-sm-6">
        <button class="Create_Button" mat-button [routerLink]="['/Create_Product']"> + Create </button>
      </div>
      <div class="col-sm-6">
        <div class="Search_Section">
          <input type="text" placeholder="Search.." name="search">
          <i class="material-icons">search</i>
        </div>
      </div>
    </div>
    <!-- Table Section -->
    <div class="Table_Section">
      <table>
        <thead>
          <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>UOM</th>
            <th>Available Stock</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="S_no"> 1 </span>
            </td>
            <td>
              <span class="Style_1">Name</span>
            </td>
            <td>
              <span class="Style_1"> Type-11</span>
            </td>
            <td>
              <span class="Style_1">1000</span>
            </td>
            <td>
              <span class="Style_1">Unit of measure</span>
            </td>
            <td>
              <span class="Style_1">10</span>
            </td>
            <button mat-raised-button color="primary" [matMenuTriggerFor]="Action"> Action </button>
          </tr>
          <tr>
            <td>
              <span class="S_no"> 2 </span>
            </td>
            <td>
              <span class="Style_1">Name</span>
            </td>
            <td>
              <span class="Style_1"> Type-11</span>
            </td>
            <td>
              <span class="Style_1">1000</span>
            </td>
            <td>
              <span class="Style_1">Unit of measure</span>
            </td>
            <td>
              <span class="Style_1">10</span>
            </td>
            <button mat-raised-button color="primary" [matMenuTriggerFor]="Action"> Action </button>
          </tr>
          <tr>
            <td>
              <span class="S_no"> 3 </span>
            </td>
            <td>
              <span class="Style_1">Name</span>
            </td>
            <td>
              <span class="Style_1"> Type-11</span>
            </td>
            <td>
              <span class="Style_1">1000</span>
            </td>
            <td>
              <span class="Style_1">Unit of measure</span>
            </td>
            <td>
              <span class="Style_1">10</span>
            </td>
            <button mat-raised-button color="primary" [matMenuTriggerFor]="Action"> Action </button>
          </tr>
          <tr>
            <td>
              <span class="S_no"> 4 </span>
            </td>
            <td>
              <span class="Style_1">Name</span>
            </td>
            <td>
              <span class="Style_1"> Type-11</span>
            </td>
            <td>
              <span class="Style_1">1000</span>
            </td>
            <td>
              <span class="Style_1">Unit of measure</span>
            </td>
            <td>
              <span class="Style_1">10</span>
            </td>
            <button mat-raised-button color="primary" [matMenuTriggerFor]="Action"> Action </button>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
  </div>
</div>

<!-- Dropdown menus -->
<mat-menu #Action="matMenu">
  <button mat-menu-item [routerLink]="['/Create_Product']">
    <span>Edit</span>
  </button>
  <button mat-menu-item [routerLink]="['/View_Product']">
    <span>View</span>
  </button>
  <button mat-menu-item>
    <span>Delete</span>
  </button>
  <button mat-menu-item>
    <span>Update Stock Quantity</span>
  </button>
</mat-menu>