<app-header></app-header>
<div class="Main_Section">
<div class="Page_Section">
      <div class="container-fluid">
            <div class="page-identity" style="display:flex;width:100%;">
                  <div  class="page-name">
                    <h5 ></h5>
                  </div>
                  <div  class="page-track" style="width:47%">
                    <ul>
                      <li > Invoice</li>
                    </ul>
                  </div>
                </div>
         <div class="row">
            <div class="col-sm-3">
               <span class="Create_Button"   [routerLink]="['/crm_invoice_create']">+ Create</span>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-5">
               <div class="Search_Section">
                  <input type="text" placeholder="Search.." name="search">
                  <i class="material-icons">search</i>
               </div>
            </div>
         </div>
        <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th>S.no</th>
                     <th>Invoice Details</th>
                     <th>Quote & Sale Order Details</th>
                     <th>Company Details</th>
                     <th>Created By</th>
                     <th>Total Value</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                     <span class="S_no"> 1 </span>
                     </td>
                     <td>
                     <span class="Name_Style">Invoice-ddeb9b10
                        <h6 class="Name_Style1">Invoice Date : 12/07/2017</h6>
                     </span>
                     </td>
                     <td>
                     <span class="Name_Style">SaleOrder-a1653d4d
                        <h6 class="Name_Style1">Quote-a1653d4d</h6>
                     </span>
                     </td>
                     <td>
                     <span class="Name_Style">Customer Name
                        <h6 class="Name_Style1">ganapathy, coimboture, Tamil Nadu</h6>
                     </span>
                     </td>
                     <td>
                     <span class="Name_Style">Admin Name</span>
                     </td>
                     <td>
                     <span class="Name_Style">Rs.2500</span>
                     </td>
                     <td>
                     <span class="Action_Section Bg_Danger">
                        <i class="material-icons ">delete</i>
                     </span>
                     <span class="Action_Section Bg_Info">
                        <i class="material-icons">edit</i>
                     </span>
                     <span class="Action_Section Bg_Success">
                        <i class="material-icons"> remove_red_eye </i>
                     </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 2 </span>
                        </td>
                     <td>
                        <span class="Name_Style"> Invoice-aab227b7
                           <h6 class="Name_Style1">Invoice Date : 12/07/2017</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">SaleOrder-a1653d4d
                           <h6 class="Name_Style1">Quote-a1653d4d</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">Customer Name
                           <h6 class="Name_Style1">ganapathy, coimboture, Tamil Nadu</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">Admin Name</span>
                        </td>
                        <td>
                        <span class="Name_Style">Rs.2500</span>
                     </td>
                     <td>
                        <span class="Action_Section Bg_Danger">
                           <i class="material-icons">delete</i>
                        </span>
                        <span class="Action_Section Bg_Info">
                           <i class="material-icons">edit</i>
                        </span>
                        <span class="Action_Section Bg_Success">
                           <i class="material-icons"> remove_red_eye </i>
                        </span>
                     </td>
                  </tr>
                     <tr>
                     <td>
                        <span class="S_no"> 3 </span>
                     </td>
                     <td>
                        <span class="Name_Style">Invoice-ec229a92
                           <h6 class="Name_Style1">Invoice Date : 12/07/2017</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">SaleOrder-a1653d4d
                           <h6 class="Name_Style1">Quote-a1653d4d</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">Customer Name
                           <h6 class="Name_Style1">ganapathy, coimboture, Tamil Nadu</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">Admin Name</span>
                     </td>
                     <td>
                        <span class="Name_Style">Rs.2500</span>
                     </td>
                     <td>
                        <span class="Action_Section Bg_Danger">
                           <i class="material-icons">delete</i>
                        </span>
                        <span class="Action_Section Bg_Info">
                           <i class="material-icons">edit</i>
                        </span>
                        <span class="Action_Section Bg_Success">
                           <i class="material-icons"> remove_red_eye </i>
                        </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 4 </span>
                     </td>
                     <td>
                        <span class="Name_Style">Invoice-7d2d22b0
                           <h6 class="Name_Style1">Invoice Date : 12/07/2017</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">SaleOrder-a1653d4d
                           <h6 class="Name_Style1">Quote-a1653d4d</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">Customer Name
                           <h6 class="Name_Style1">ganapathy, coimboture, Tamil Nadu</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">Admin Name</span>
                     </td>
                     <td>
                        <span class="Name_Style">Rs.2500</span>
                     </td>
                     <td>
                        <span class="Action_Section Bg_Danger">
                           <i class="material-icons">delete</i>
                        </span>
                        <span class="Action_Section Bg_Info">
                           <i class="material-icons">edit</i>
                        </span>
                        <span class="Action_Section Bg_Success">
                           <i class="material-icons"> remove_red_eye </i>
                        </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 5 </span>
                     </td>
                     <td>
                        <span class="Name_Style">Invoice-ddeb9b10
                           <h6 class="Name_Style1">Invoice Date : 12/07/2017</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">SaleOrder-a1653d4d
                           <h6 class="Name_Style1">Quote-a1653d4d</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">Customer Name
                           <h6 class="Name_Style1">ganapathy, coimboture, Tamil Nadu</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">Admin Name</span>
                     </td>
                     <td>
                        <span class="Name_Style">Rs.2500</span>
                     </td>
                     <td>
                        <span class="Action_Section Bg_Danger">
                           <i class="material-icons">delete</i>
                        </span>
                        <span class="Action_Section Bg_Info">
                           <i class="material-icons">edit</i>
                        </span>
                        <span class="Action_Section Bg_Success">
                           <i class="material-icons"> remove_red_eye </i>
                        </span>
                     </td>
                  </tr> 
                  <tr>
                     <td>
                        <span class="S_no"> 6 </span>
                     </td>
                     <td>
                        <span class="Name_Style">Invoice-ddeb9b10
                           <h6 class="Name_Style1">Invoice Date : 12/07/2017</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">SaleOrder-a1653d4d
                           <h6 class="Name_Style1">Quote-a1653d4d</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">Customer Name
                           <h6 class="Name_Style1">ganapathy, coimboture, Tamil Nadu</h6>
                        </span>
                     </td>
                     <td>
                        <span class="Name_Style">Admin Name</span>
                     </td>
                     <td>
                        <span class="Name_Style">Rs.2500</span>
                     </td>
                     <td>
                        <span class="Action_Section Bg_Danger">
                           <i class="material-icons">delete</i>
                        </span>
                        <span class="Action_Section Bg_Info">
                           <i class="material-icons">edit</i>
                        </span>
                        <span class="Action_Section Bg_Success">
                           <i class="material-icons"> remove_red_eye </i>
                        </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 7 </span>
                     </td>
                     <td>
                        <span class="Name_Style"> Invoice-a1653d4d
                           <h6 class="Name_Style1">Invoice Date : 12/07/2017</h6>
                        </span>
                     </td>
                     <td>
                     <span class="Name_Style">SaleOrder-a1653d4d
                        <h6 class="Name_Style1">Quote-a1653d4d</h6>
                     </span>
                     </td>
                     <td>
                     <span class="Name_Style">Customer Name
                        <h6 class="Name_Style1">ganapathy, coimboture, Tamil Nadu</h6>
                     </span>
                     </td>
                     <td>
                     <span class="Name_Style">Admin Name</span>
                     </td>
                     <td>
                        <span class="Name_Style">Rs.2500</span>
                     </td>
                     <td>
                        <span class="Action_Section Bg_Danger">
                           <i class="material-icons">delete</i>
                        </span>
                        <span class="Action_Section Bg_Info">
                           <i class="material-icons">edit</i>
                        </span>
                        <span class="Action_Section Bg_Success">
                           <i class="material-icons"> remove_red_eye </i>
                        </span>
                     </td>
                  </tr> 
               </tbody>
            </table> 
         </div>
      </div>
   </div>
</div>