<!-- Page section -->
<div class="Page_Section">
   <div class="container-fluid">
      <!-- Page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class="HeaderName">Leads</li>
            </ul>
         </div>
      </div>
      <!-- Page content -->
      <div class="Page_Content Lead_Settings">
         <div class="Main_Section">
            <!-- Left section -->
            <div class="Left_Section">
               <ul class="Tabs">
                  <li class="Tab" [ngClass]="{'active':Active_Tab === 'lead_Source'}" (click)="Active_Tab_Change('lead_Source')"><span class="Tab_Content">Lead-Source</span></li>
               </ul>
            </div>
            <!-- Right section -->
            <div class="Right_Section">
               <div *ngIf="Active_Tab === 'lead_Source'">
                  <app-lead-source-type-lead-settings></app-lead-source-type-lead-settings>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

