<div class="page_section">
      <div class="container-fluid">
         <!-- Page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class= "LinkName">Purchase</li>
               <li class="arrow">>></li>
               <li >Configuration</li>
               </ul>
            </div>
         </div>
         <div class="container-content">
            <div class="content_gap">
                  <h5 class="Header">Purchase Quotation</h5>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Generate Quotation By</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <form>
                        <input type="radio" name="radiobutton"> Auto Increment <br>
                        <input type="radio" name="radiobutton"> Manual Entry<br>
                     </form>
                  </div>
               </div><br>
               <h5 class="Header">Purchase Order</h5>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Generate Order By</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <form>
                        <input type="radio" name="radiobutton"> Auto Increment<br>
                        <input type="radio" name="radiobutton">Manual Entry<br>
                     </form>
                  </div>
               </div><br>
               <h5 class="Header">Vendor Bill</h5>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Generate Vendor Bill No By</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <form>
                        <input type="radio" name="radiobutton"> Auto Increment<br>
                        <input type="radio" name="radiobutton"> Manual Entry<br>
                     </form>
                  </div>
               </div><br>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Tax</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <form>
                        <input type="radio" name="radiobutton"> Allow Tax On Lines<br>
                        <input type="radio" name="radiobutton"> Global Tax Only<br>
                     </form>
                  </div>
               </div><br>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Discount</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <form>
                        <input type="radio" name="radiobutton"> Allow Discount On Lines<br>
                        <input type="radio" name="radiobutton">Global Discount Only<br>
                     </form>
                  </div>
               </div><br>
            </div>
         </div>
      </div>
   </div>
   
