<!-- Page section -->
<div class="page_section">
   <div class="container-fluid">
      <!-- Page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class= "LinkName">Purchase</li>
               <li class="arrow">>></li>
               <li >Configuration</li>
            </ul>
         </div>
      </div>
      <!-- Container Content -->
      <div class="container-content">
         <div class="content_gap">
            <h5 class="Header">Purchase Quotation</h5>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>Generate Quotation By</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <mat-radio-group class="example-radio-group" [(ngModel)]="Type">
                     <mat-radio-button class="example-radio-button" *ngFor="let Generate of _Generate" [value]="Generate">
                        {{Generate}}
                     </mat-radio-button>
                  </mat-radio-group>
                  <div class="row">
                     <div class="col-sm-6 Form_Input" *ngIf="Type === 'Auto Increment'">
                        <input type="text" placeholder="Prefix">
                     </div>
                     <div class="col-sm-6 Form_Input" *ngIf="Type === 'Auto Increment'">
                        <input type="text" placeholder="Suffix">
                     </div>
                     <div class="col-sm-6 Form_Input" *ngIf="Type === 'Auto Increment'">
                        <input type="text" placeholder="Starting With">
                     </div>
                     <div class="col-sm-6 Form_Input" *ngIf="Type === 'Auto Increment'">
                        <input type="text" placeholder="Prefix">
                     </div>
                     <div class="col-sm-6 Form_Select" *ngIf="Type === 'Auto Increment'">
                        <ng-select class="NgSelect" 
                           [(ngModel)]="Type1"
                           [items]="_BasedOn" 
                           [searchable]="true" 
                           placeholder="Based">
                        </ng-select>
                     </div>
                  </div><br>
                  <div class="row">
                     <div class="col-sm-6 Form_Select" *ngIf="Type1 === 'Custom'">
                        <ng-select class="NgSelect" 
                           [items]="_Date" 
                           [searchable]="true" 
                           placeholder="Date">
                        </ng-select>   
                     </div>
                     <div class="col-sm-6 Form_Select" *ngIf="Type1 === 'Custom'">
                        <ng-select class="NgSelect" 
                           [items]="_Month" 
                           [searchable]="true" 
                           placeholder="Month">
                        </ng-select>   
                     </div>
                  </div>
               </div>
            </div><br><hr>
            <h5 class="Header">Purchase Order</h5>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>Generate Order By</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <mat-radio-group class="example-radio-group" [(ngModel)]="Type2">
                     <mat-radio-button class="example-radio-button" *ngFor="let Generate of _Generate" [value]="Generate">
                        {{Generate}}
                     </mat-radio-button>
                  </mat-radio-group>
                  <div class="row">
                     <div class="col-sm-6 Form_Input" *ngIf="Type2 === 'Auto Increment'">
                        <input type="text" placeholder="Prefix">
                     </div>
                     <div class="col-sm-6 Form_Input" *ngIf="Type2 === 'Auto Increment'">
                        <input type="text" placeholder="Suffix">
                     </div>
                     <div class="col-sm-6 Form_Input" *ngIf="Type2 === 'Auto Increment'">
                        <input type="text" placeholder="Starting With">
                     </div>
                     <div class="col-sm-6 Form_Input" *ngIf="Type2 === 'Auto Increment'">
                        <input type="text" placeholder="Prefix">
                     </div>
                     <div class="col-sm-6 Form_Select" *ngIf="Type2 === 'Auto Increment'">
                        <ng-select class="NgSelect" 
                           [(ngModel)]="Type3"
                           [items]="_BasedOn" 
                           [searchable]="true" 
                           placeholder="Based">
                        </ng-select>
                     </div>
                  </div><br>
                  <div class="row">
                     <div class="col-sm-6 Form_Select" *ngIf="Type3 === 'Custom'">
                        <ng-select class="NgSelect" 
                           [items]="_Date" 
                           [searchable]="true" 
                           placeholder="Date">
                        </ng-select>   
                     </div>
                     <div class="col-sm-6 Form_Select" *ngIf="Type3 === 'Custom'">
                        <ng-select class="NgSelect" 
                           [items]="_Month" 
                           [searchable]="true" 
                           placeholder="Month">
                        </ng-select>   
                     </div>
                  </div>
               </div>
            </div><br><hr>
            <h5 class="Header">Purchase Request</h5>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>Create Back Order</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <mat-radio-group>
                     <mat-radio-button value="1">Yes</mat-radio-button><br>
                     <mat-radio-button value="2">No</mat-radio-button>
                  </mat-radio-group>
               </div>
            </div><br>
         </div>
      </div>
   </div>
</div>
   
