<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
   <div class="Modal_Header">
      <p> Create Taxes</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <form [formGroup]= "Form">
      <div class="Model_Body">
         <div class="row">
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': Form.controls['Tax_Name'].errors && !Form.controls['Tax_Name'].pristine, 'Form_Success': Form.controls['Tax_Name'].valid && !Form.controls['Tax_Name'].pristine }">
            <label>Tax Name:</label>
            <input type="text" formControlName="Tax_Name">
            <p class="error" *ngIf="Form.controls['Tax_Name'].errors && !Form.controls['Tax_Name'].pristine">
               <span *ngIf="Form.controls['Tax_Name'].errors.required">!Tax Name is Required</span>
            </p>
            </div>
            <div class="col-sm-6 Form_Select">
            <label>Tax Scope: </label>
            <select>
               <option disabled> Tax Scope</option>
               <option> Tax Scope </option>
               <option>Tax Scope </option>
               <option> Tax Scope </option>
               <option> Tax Scope </option>
               <option> Tax Scope </option>
               <option> Tax Scope </option>
            </select>
            </div>
            <div class="col-sm-6 Form_Select">
            <label>Tax Computation: </label>
            <select>
               <option disabled> Tax Computation</option>
               <option> Tax Computation </option>
               <option> Tax Computation</option>
               <option>Tax Computation </option>
               <option> Tax Computation</option>
               <option> Tax Computation</option>
               <option> Tax Computation</option>
            </select>
            </div>
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': Form.controls['Amount'].errors && !Form.controls['Amount'].pristine , 'Form_Success': Form.controls['Amount'].valid && !Form.controls['Amount'].pristine}">
            <label>Amount: </label>
            <input type="text" formControlName = "Amount">
            <p class="error" *ngIf="Form.controls['Amount'].errors && !Form.controls['Amount'].pristine">
               <span *ngIf="Form.controls['Amount'].errors.required">!Amount is required</span>
            </p>
            </div>
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': Form.controls['Percent'].errors && !Form.controls['Percent'].pristine, 'Form_Success': Form.controls['Percent'].valid && !Form.controls['Percent'].pristine}">
            <label>Percent: </label>
            <input type="text" formControlName="Percent">
            <p class="error" *ngIf="Form.controls['Percent'].errors && !Form.controls['Percent'].pristine">
               <span *ngIf="Form.controls['Percent'].errors.required">!Percent is required</span>
            </p>
            </div>
            <div class="col-sm-6 Form_TextArea">
            <label>Notes: </label>
            <textarea class="message" rows="2"></textarea>
            </div>
         </div>
      </div>
   </form>
  <div class="Model_Footer">
    <button mat-raised-button color="primary" [disabled] = "Form.nValid" > Submit </button>
  </div>
</div>
<div class="Modal_Content" *ngIf=" Type && Type === 'View'">
  <div class="Modal_Header">
    <p>View Taxes</p>
    <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
  </div>
  <div class="Model_Body">
    <div class="row">
      <div class="col-sm-6 text-right Static">Tax Name: </div>
      <div class="col-sm-6 text-left Data">tax name</div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right Static">Tax Scope: </div>
      <div class="col-sm-6 text-left Data">tax scope</div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right Static">Tax Computation: </div>
      <div class="col-sm-6 text-left Data">tax computation</div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right Static">Tax Scope: </div>
      <div class="col-sm-6 text-left Data">tax scope</div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right Static">Amount: </div>
      <div class="col-sm-6 text-left Data">5000</div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right Static">Percent: </div>
      <div class="col-sm-6 text-left Data">percent</div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right Static">Notes: </div>
      <div class="col-sm-6 text-left Data">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
    </div>
</div>
</div>