<div class="Modal_Content" *ngIf="_Data?.Type && (_Data?.Type === 'Create' || _Data?.Type === 'Edit')">
   <div class="Modal_Header">
      <p> {{_Data?.Type}} Taxes</p>
      <span *ngIf="!Uploading" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <form [formGroup]="Form" (ngSubmit)="onSubmit()">
      <div class="Model_Body">
         <div class="row">
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': Form.controls['Tax_Name'].errors && !Form.controls['Tax_Name'].pristine, 'Form_Success': Form.controls['Tax_Name'].valid && !Form.controls['Tax_Name'].pristine }">
            <label>Tax Name:</label>
            <input type="text" formControlName="Tax_Name">
            <p class="error" *ngIf="Form.controls['Tax_Name'].errors && !Form.controls['Tax_Name'].pristine">
               <span *ngIf="Form.controls['Tax_Name'].errors.required">!Tax Name is Required</span>
            </p>
            </div>
            <div class="col-sm-6 Form_Select">
            <label>Tax Scope: </label>
            <ng-select class="NgSelect ValueBold" formControlName="Tax_Scope" [searchable]="true" placeholder="Tax Scope">
                  <ng-option *ngFor="let Tax_Scope of _Tax_Scope" [value]="Tax_Scope">{{ Tax_Scope }}</ng-option>
               </ng-select>
               <p class="error" *ngIf="Form.controls['Tax_Scope'].errors && !Form.controls['Tax_Scope'].pristine">
                  <span  *ngIf="Form.controls['Tax_Scope'].errors.required"> Tax Scope is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_Select">
            <label>Tax Computation: </label>
            <ng-select class="NgSelect ValueBold" formControlName="Tax_Computation" [searchable]="true" placeholder="Tax Computation">
                  <ng-option *ngFor="let TaxComputation of _Tax_Computation" [value]="TaxComputation">{{ TaxComputation?.Value }}</ng-option>
               </ng-select>
               <p class="error" *ngIf="Form.controls['Tax_Computation'].errors && !Form.controls['Tax_Computation'].pristine">
                  <span  *ngIf="Form.controls['Tax_Computation'].errors.required"> Tax Computation is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': Form.controls['Amount'].errors && !Form.controls['Amount'].pristine , 'Form_Success': Form.controls['Amount'].valid && !Form.controls['Amount'].pristine}">
            <label>Amount/Percent: </label>
            <input type="text" formControlName = "Amount">
            <p class="error" *ngIf="Form.controls['Amount'].errors && !Form.controls['Amount'].pristine">
               <span *ngIf="Form.controls['Amount'].errors.required">!Amount is required</span>
            </p>
            </div>
           <div class="col-sm-6 Form_TextArea">
            <label>Notes: </label>
            <textarea class="message" rows="2" formControlName="Notes"></textarea>
            </div>
         </div>
      </div>
<div class="Model_Footer">
   <button type="submit" [disabled]="Form.status !== 'VALID' || Uploading" mat-raised-button color="primary">
      <span *ngIf="_Data?.Type === 'Create' && !Uploading">Submit</span>
      <span *ngIf="_Data?.Type === 'Edit' && !Uploading">Update</span>
      <span *ngIf="Uploading" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </span>
   </button>
  </div>
</form>
  </div>
<div class="Modal_Content" *ngIf="_Data?.Type && _Data?.Type === 'View'">
  <div class="Modal_Header">
    <p>View Taxes</p>
    <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
  </div>
  <div class="Model_Body">
   <div class="view_item">
      <div class="Static"> Tax Name </div>
      <div class="dots"> : </div>
      <div class="Data"> {{_Taxes_Info.Tax_Name}}  </div>
   </div>
   <div class="view_item">
      <div class="Static"> Tax Scope </div>
      <div class="dots"> : </div>
      <div class="Data">  {{_Taxes_Info.Tax_Scope}} </div>
   </div>
   <div class="view_item">
      <div class="Static"> Tax Computation </div>
      <div class="dots"> : </div>
      <div class="Data">  {{_Taxes_Info.Tax_Computation?.Value}} </div>
   </div>
   <div class="view_item">
      <div class="Static"> Amount </div>
      <div class="dots"> : </div>
      <div class="Data">  {{_Taxes_Info.Amount}} </div>
   </div>
   <div class="view_item">
      <div class="Static"> Notes </div>
      <div class="dots"> : </div>
      <div class="Data">  {{_Taxes_Info.Notes}} </div>
   </div>
   <div class="view_item">
      <div class="Static">Created By </div>
      <div class="dots"> : </div>
      <div class="Data"> {{_Taxes_Info.Created_By?.Name}}
         <!-- <span class="Badge"> {{Data.Created_By.User_Type.User_Type}} </span> -->
      </div>
   </div>
   <div class="view_item">
      <div class="Static">Last Modified By </div>
      <div class="dots"> : </div>
      <div class="Data">  {{_Taxes_Info.Last_Modified_By?.Name}}
         <!-- <span class="Badge"> {{Data.Last_Modified_By.User_Type.User_Type}} </span> -->
      </div>
   </div>
   <div class="view_item">
      <div class="Static"> Created Date </div>
      <div class="dots"> : </div>
      <div class="Data"> {{_Taxes_Info.createdAt | date:'medium' }} </div>
   </div>
   <div class="view_item">
      <div class="Static">Last Modified Date  </div>
      <div class="dots"> : </div>
      <div class="Data"> {{_Taxes_Info.updatedAt | date:'medium' }} </div>
   </div>
</div>
</div>