<!-- page -->
<div class="page" style="margin-top:100px;margin-bottom:100px;">
   <div class="container-fluid">
      <!-- Page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Inventory</li>
               <li class="arrow">>></li>
               <li class= "LinkName"><a [routerLink]="['/Stock_Values_List']">Stock Values List</a></li>
               <li class="arrow">>></li>
               <li >Stock Value View</li>
            </ul>
         </div>
      </div>
      <!-- Section Identity -->
      <div class="row">
         <div class="col-sm-12">
            <!-- Company details -->
            <div class="Company_Details">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> Stock </span> Details
               </h5>
               <div class="row">
                  <div class="col-sm-4">
                     <div class="view_item">
                        <div class="Static">Product Name </div>
                        <div class="dots"> : </div>
                        <div class="Data"> Product Name </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="view_item">
                        <div class="Static"> Location </div>
                        <div class="dots"> : </div>
                        <div class="Data"> Location </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="view_item">
                        <div class="Static"> Quantity </div>
                        <div class="dots"> : </div>
                        <div class="Data"> Quantity </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <!-- Table Section -->
         <div class="col-sm-12">
            <div class="Company_Details">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> History </span></h5>
               <div class="Table_Section">
                  <table>
                     <thead>
                        <tr>
                           <th>S.no</th>
                           <th>Date</th>
                           <th>Reference</th>
                           <th> Start Quantity</th>
                           <th> Processed Quantity</th>
                           <th> End Quantity</th>
                           <th>Source</th>
                           <th>Destination</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                              <span class="S_no"> 1 </span>
                           </td>
                           <td>
                              <span class="Style_1">25/05/2017</span>
                           </td>
                           <td>
                              <span class="Style_1">reference</span>
                           </td>
                           <td>
                              <span class="Style_1"> 20</span>
                           </td>
                           <td>
                              <span class="Style_1"> 10</span>
                           </td>
                           <td>
                              <span class="Style_1"> 30</span>
                           </td>
                           <td>
                              <span class="Style_1">WareHouse</span>
                           </td>
                           <td>
                              <span class="Style_1">Coimbatore</span>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span class="S_no"> 2 </span>
                           </td>
                           <td>
                              <span class="Style_1">25/05/2017</span>
                           </td>
                           <td>
                              <span class="Style_1">reference</span>
                           </td>
                           <td>
                              <span class="Style_1"> 20</span>
                           </td>
                           <td>
                              <span class="Style_1"> 10</span>
                           </td>
                           <td>
                              <span class="Style_1"> 30</span>
                           </td>
                           <td>
                              <span class="Style_1">WareHouse</span>
                           </td>
                           <td>
                              <span class="Style_1">Coimbatore</span>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span class="S_no"> 3 </span>
                           </td>
                           <td>
                              <span class="Style_1">25/05/2017</span>
                           </td>
                           <td>
                              <span class="Style_1">reference</span>
                           </td>
                           <td>
                              <span class="Style_1"> 20</span>
                           </td>
                           <td>
                              <span class="Style_1"> 10</span>
                           </td>
                           <td>
                              <span class="Style_1"> 30</span>
                           </td>
                           <td>
                              <span class="Style_1">WareHouse</span>
                           </td>
                           <td>
                              <span class="Style_1">Coimbatore</span>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span class="S_no"> 4 </span>
                           </td>
                           <td>
                              <span class="Style_1">25/05/2017</span>
                           </td>
                           <td>
                              <span class="Style_1">reference</span>
                           </td>
                           <td>
                              <span class="Style_1"> 20</span>
                           </td>
                           <td>
                              <span class="Style_1"> 10</span>
                           </td>
                           <td>
                              <span class="Style_1"> 30</span>
                           </td>
                          <td>
                              <span class="Style_1">WareHouse</span>
                           </td>
                           <td>
                              <span class="Style_1">Coimbatore</span>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


