<div class="row">
  <div class="col-sm-6">
     <span class="Create_Button" (click)="CreateContactInfo()">Add New</span>
  </div>
  <div class="col-sm-6">
     <div class="Search_Section">
        <input type="text" placeholder="Search.." name="search">
           <i class="material-icons">search</i>
     </div>
  </div>
</div>
<br>
<div class="Table_Section">
  <table >
     <thead>
        <tr>
           <th>S.no</th>
           <th>Vin</th>
           <th>Brand </th>
           <th>Year</th>
           <th>Color</th>
         <th>Action</th>
        </tr>
     </thead>
        <tbody>
           <tr>
              <td>
                 <span class="S_no"> 1 </span>
              </td>
              <td>
                 <span class="Name_Style">dsad231ff</span>
              </td>
              <td>
                 <span class="Name_Style">VW </span>
              </td>
              <td>
                 <span class="Name_Style">2012</span>
             </td>
             <td>
                 <span class="Name_Style">Orange</span>
             </td>
             
              <td>
                 <span class="Action_Section Bg_Danger">
                   <i class="material-icons" (click)=" DeleteContactInfo()">delete</i>
                 </span>
                 <span class="Action_Section Bg_Info">
                   <i class="material-icons" (click)="CreateContactInfo()">edit</i>
                 </span>
                 <span class="Action_Section Bg_Success">
                     <i class="material-icons" (click)="ViewContactInfo()"> remove_red_eye </i>
                 </span>
              </td>
           </tr>
           <tr>
            <td>
               <span class="S_no"> 2 </span>
            </td>
            <td>
               <span class="Name_Style">dsad231ff</span>
            </td>
            <td>
               <span class="Name_Style">VW </span>
            </td>
            <td>
               <span class="Name_Style">2012</span>
           </td>
           <td>
               <span class="Name_Style">Orange</span>
           </td>
           
            <td>
               <span class="Action_Section Bg_Danger">
                 <i class="material-icons" (click)=" DeleteContactInfo()">delete</i>
               </span>
               <span class="Action_Section Bg_Info">
                 <i class="material-icons" (click)="CreateContactInfo()">edit</i>
               </span>
               <span class="Action_Section Bg_Success">
                   <i class="material-icons" (click)="ViewContactInfo()"> remove_red_eye </i>
               </span>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 3 </span>
            </td>
            <td>
               <span class="Name_Style">dsad231ff</span>
            </td>
            <td>
               <span class="Name_Style">VW </span>
            </td>
            <td>
               <span class="Name_Style">2012</span>
           </td>
           <td>
               <span class="Name_Style">Orange</span>
           </td>
           
            <td>
               <span class="Action_Section Bg_Danger">
                 <i class="material-icons" (click)=" DeleteContactInfo()">delete</i>
               </span>
               <span class="Action_Section Bg_Info">
                 <i class="material-icons" (click)="CreateContactInfo()">edit</i>
               </span>
               <span class="Action_Section Bg_Success">
                   <i class="material-icons" (click)="ViewContactInfo()"> remove_red_eye </i>
               </span>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 4 </span>
            </td>
            <td>
               <span class="Name_Style">dsad231ff</span>
            </td>
            <td>
               <span class="Name_Style">VW </span>
            </td>
            <td>
               <span class="Name_Style">2012</span>
           </td>
           <td>
               <span class="Name_Style">Orange</span>
           </td>
           
            <td>
               <span class="Action_Section Bg_Danger">
                 <i class="material-icons" (click)=" DeleteContactInfo()">delete</i>
               </span>
               <span class="Action_Section Bg_Info">
                 <i class="material-icons" (click)="CreateContactInfo()">edit</i>
               </span>
               <span class="Action_Section Bg_Success">
                   <i class="material-icons" (click)="ViewContactInfo()"> remove_red_eye </i>
               </span>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 5</span>
            </td>
            <td>
               <span class="Name_Style">dsad231ff</span>
            </td>
            <td>
               <span class="Name_Style">VW </span>
            </td>
            <td>
               <span class="Name_Style">2012</span>
           </td>
           <td>
               <span class="Name_Style">Orange</span>
           </td>
           
            <td>
               <span class="Action_Section Bg_Danger">
                 <i class="material-icons" (click)=" DeleteContactInfo()">delete</i>
               </span>
               <span class="Action_Section Bg_Info">
                 <i class="material-icons" (click)="CreateContactInfo()">edit</i>
               </span>
               <span class="Action_Section Bg_Success">
                   <i class="material-icons" (click)="ViewContactInfo()"> remove_red_eye </i>
               </span>
            </td>
         </tr>
       </tbody>
     </table>
 </div>