<!-- Page -->
<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
         <ul>
            <li class="HeaderName">Home</li>
            <li class="arrow">>></li>
            <li class="LinkName"><a [routerLink]="['/List_Employees']">Employees List</a></li>
            <li class="arrow">>></li>
            <li>Employees View</li>
         </ul>
         </div>
      </div>
      <form>
         <div class="row">
            <div class="col-sm-4">
               <!-- Company details -->
               <div class="Company_Details">
                  <div class="row">
                     <div class="col-sm-12">
                        <img src="../../../../../assets/images/basic/employee.png">
                     </div>
                  </div><br>
                     <!-- <div class="row"> -->
                     <!-- <div class="col-sm-4"> -->
                  <div class="view_item">
                     <div class="Static">Employee Name </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Employee Name</div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Code</div>
                     <div class="dots"> : </div>
                     <div class="Data"> Code</div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Branch </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Branch</div>
                  </div>
                  <!-- </div> -->
                  <!-- <div class="col-sm-4"> -->
                  <div class="view_item">
                     <div class="Static">Category </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Category </div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Department </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Department </div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Job Title </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Job Title </div>
                  </div>
                  <!-- </div> -->
                  <!-- <div class="col-sm-4"> -->
                  <div class="view_item">
                     <div class="Static">Manager </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Manager </div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Mobile No </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Mobile No </div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Date Of Joining </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Date Of Joining </div>
                  </div>
                  <!-- </div> -->
                  <!-- </div> -->
               </div>
            </div>
            <br>
            <div class="col-sm-8">
               <!-- Tabs -->
               <div class="Company_Details">
                  <div class="Tabs">
                     <div class="Tab" [ngClass]="{'active': Active_Tab === 'personal_info'}" (click)="Active_Tab_Change('personal_info')">
                        <span>Personal Info</span>
                     </div>
                     <div class="Tab" [ngClass]="{'active': Active_Tab === 'salary_details'}" (click)="Active_Tab_Change('salary_details')">
                        <span>Salary Details</span>
                     </div>
                  </div>
                  <br>
                  <div class="page" *ngIf="Active_Tab === 'personal_info'">
                     <div class="container-fluid">
                        <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Personal
                           <span style="color:#516570;font-size:20px;font-weight: 600;">Info</span>
                        </h5><br>
                        <div class="row">
                           <div class="col-sm-4">
                              <div class="view_item">
                                 <div class="Static">No/Street </div>
                                 <div class="dots"> : </div>
                                 <div class="Data">Gandhi Nager</div>
                              </div>
                              <div class="view_item">
                                 <div class="Static">Area </div>
                                 <div class="dots"> : </div>
                                 <div class="Data"> Ganapathy</div>
                              </div>
                              <div class="view_item">
                                 <div class="Static">Country </div>
                                 <div class="dots"> : </div>
                                 <div class="Data"> India</div>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="view_item">
                                 <div class="Static">State </div>
                                 <div class="dots"> : </div>
                                 <div class="Data"> Tamil Nadu</div>
                              </div>
                              <div class="view_item">
                                 <div class="Static">City </div>
                                 <div class="dots"> : </div>
                                 <div class="Data"> Chennai</div>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="view_item">
                                 <div class="Static">Marital Status </div>
                                 <div class="dots"> : </div>
                                 <div class="Data"> Married</div>
                              </div>
                              <div class="view_item">
                                 <div class="Static">Date Of Birth </div>
                                 <div class="dots"> : </div>
                                 <div class="Data"> 25.07.98</div>
                              </div>
                              <div class="view_item">
                                 <div class="Static">Status </div>
                                 <div class="dots"> : </div>
                                 <div class="Data"> Active</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="page" *ngIf="Active_Tab === 'salary_details'">
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="view_item">
                              <div class="Static">Salary Method </div>
                              <div class="dots"> : </div>
                              <div class="Data">Monthly</div>
                           </div>
                        </div>
                     </div><br>
                     <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Earnings
                        <span style="color:#516570;font-size:20px;font-weight: 600;">Table</span>
                     </h5>
                     <!-- Table Section -->
                     <div class="Table_Section">
                        <table>
                           <thead>
                              <tr>
                                 <th>S.no</th>
                                 <th>Earnings Type</th>
                                 <th>Based On</th>
                                 <th>Amount Or Percentage</th>
                                 <th>Total</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>
                                    <span class="S_no"> 1 </span>
                                 </td>
                                 <td>
                                    <span class="Style_1">Basic Pay</span>
                                 </td>
                                 <td>
                                    <span class="Style_1"> Fixed</span>
                                 </td>
                                 <td>
                                    <span class="Style_1">30000</span>
                                 </td>
                                 <td>
                                    <span class="Style_1">400000</span>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <span class="S_no"> 2 </span>
                                 </td>
                                 <td>
                                    <span class="Style_1">Basic Pay</span>
                                 </td>
                                 <td>
                                    <span class="Style_1"> Fixed</span>
                                 </td>
                                 <td>
                                    <span class="Style_1">30000</span>
                                 </td>
                                 <td>
                                    <span class="Style_1">400000</span>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div><br>
                     <!-- Detection Table -->
                     <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Detection
                        <span style="color:#516570;font-size:20px;font-weight: 600;">Table</span>
                     </h5>
                     <!-- Table Section -->
                     <div class="Table_Section">
                           <table>
                              <thead>
                                 <tr>
                                    <th>S.no</th>
                                    <th>Detection Type</th>
                                    <th>Based On</th>
                                    <th>Amount Or Percentage</th>
                                    <th>Total</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>
                                       <span class="S_no"> 1 </span>
                                    </td>
                                    <td>
                                       <span class="Style_1">ESI</span>
                                    </td>
                                    <td>
                                       <span class="Style_1"> Fixed</span>
                                    </td>
                                    <td>
                                       <span class="Style_1">30000</span>
                                    </td>
                                    <td>
                                       <span class="Style_1">400000</span>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <span class="S_no"> 2 </span>
                                    </td>
                                    <td>
                                       <span class="Style_1">PF</span>
                                    </td>
                                    <td>
                                       <span class="Style_1"> Fixed</span>
                                    </td>
                                    <td>
                                       <span class="Style_1">30000</span>
                                    </td>
                                    <td>
                                       <span class="Style_1">400000</span>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>