<div class="page_section">
   <div class="container-fluid">
      <!-- Page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
            <li class="HeaderName">Home</li>
            <li class="arrow">>></li>
            <li class= "LinkName">CRM</li>
            <li class="arrow">>></li>
            <li >Configuration</li>
            </ul>
         </div>
      </div>
      <div class="container-content">
         <div class="content_gap">
               <h5 class="Header">Products</h5>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>Product Varients</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <form>
                     <input type="radio" name="radiobutton"> no varients on products<br>
                     <input type="radio" name="radiobutton"> Products can have several attributes,defining varients.<br>
                  </form>
               </div>
            </div><br>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>BarCode</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <form>
                     <input type="radio" name="radiobutton"> use BarCode for products<br>
                     <input type="radio" name="radiobutton"> No need to use BarCode<br>
                  </form>
               </div>
            </div><br>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>ItemCode</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <form>
                     <input type="radio" name="radiobutton"> Use ItemCode for Products<br>
                     <input type="radio" name="radiobutton"> No Need to use IteCode<br>
                  </form>
               </div>
            </div><br>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>HSN Code</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <form>
                     <input type="radio" name="radiobutton"> Use HSN code for products<br>
                     <input type="radio" name="radiobutton"> No need to use HSN Code<br>
                  </form>
               </div>
            </div><br>
            <h5 class="Header">Quotations</h5>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>Employee Name Added In Quotations</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <form>
                     <input type="radio" name="radiobutton"> Yes<br>
                     <input type="radio" name="radiobutton">No<br>
                  </form>
               </div>
            </div><br>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>Tax</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <form>
                     <input type="radio" name="radiobutton"> Allow Tax On Lines<br>
                     <input type="radio" name="radiobutton"> Global Tax<br>
                  </form>
               </div>
            </div><br>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>Discount</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <form>
                     <input type="radio" name="radiobutton"> Allow Discount On Sale Order Lines<br>
                     <input type="radio" name="radiobutton">Global Discount Only<br>
                  </form>
               </div>
            </div><br>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>Discount Value In</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <form>
                     <input type="radio" name="radiobutton"> %(Percentage)<br>
                     <input type="radio" name="radiobutton"> Amount<br>
                  </form>
               </div>
            </div><br>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>Generate Quote Ref No By</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <form>
                     <input type="radio" name="radiobutton"> Auto Increment<br>
                     <input type="radio" name="radiobutton"> Manual Entry<br>
                  </form>
               </div>
            </div><br>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>Generate Invoice Ref No By</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <form>
                     <input type="radio" name="radiobutton"> Auto Increment<br>
                     <input type="radio" name="radiobutton"> Manual Entry<br>
                  </form>
               </div>
            </div><br>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>Customer</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <form>
                     <input type="Checkbox" name="radiobutton"> Allow Pro-Forma Invoices<br>
                  </form>
               </div>
            </div><br>
            <h5 class="Header">Sale Order</h5>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>Generate Sale Order By</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <form>
                     <input type="radio" name="radiobutton"> Auto Increment<br>
                     <input type="radio" name="radiobutton">Manual Entry<br>
                  </form>
               </div>
            </div><br>
            <h5 class="Header">Invoice</h5>
            <div class="row">
               <div class="col-sm-4 Left_Date">
                  <p>AMC for Invoice</p>
               </div>
               <div class="col-sm-6 Right_data">
                  <form>
                     <input type="radio" name="radiobutton"> Yes<br>
                     <input type="radio" name="radiobutton">No<br>
                  </form>
               </div>
            </div><br>
         </div>
      </div>
   </div>
</div>
