<div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1" style="height: 100%; width: 100%">
   <div class="Loading">
         <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
         </div>
   </div>
</div>
<!-- Page Section -->
<div class="page_section" *ngIf="!Loader">
   <div class="container-fluid">
      <!-- Page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
            <li class="HeaderName">Home</li>
            <li class="arrow">>></li>
            <li class= "HeaderName">CRM</li>
            <li class="arrow">>></li>
            <li >Configuration</li>
            </ul>
         </div>
      </div>
      <!-- Container Content -->
      <div class="container-content">
         <div class="content_gap">
            <h5 class="Header">Quotations</h5>
            <form [formGroup]="Form">
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Employee Name Added In Quotations</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <mat-radio-group formControlName="Add_Name_in_Quote" (change)="If_Form_Change()">
                        <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                        <mat-radio-button value="No">No</mat-radio-button>
                     </mat-radio-group>
                  </div>
               </div><br><hr>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Tax</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <mat-radio-group formControlName="Tax" (change)="If_Form_Change()">
                        <mat-radio-button value="OnLine">Allow Tax On Lines</mat-radio-button><br>
                        <mat-radio-button value="Global">Global Tax</mat-radio-button>
                     </mat-radio-group>
                  </div>
               </div><br><hr>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Discount</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <mat-radio-group formControlName="Discount" (change)="If_Form_Change()">
                        <mat-radio-button value="OnLine">Allow Discount On Sale Order Lines</mat-radio-button><br>
                        <mat-radio-button value="Global">Global Discount Only</mat-radio-button>
                     </mat-radio-group>
                  </div>
               </div><br><hr>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Discount Value In</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <mat-radio-group formControlName="Discount_Value" (change)="If_Form_Change()">
                        <mat-radio-button value="Percent">%(Percentage)</mat-radio-button><br>
                        <mat-radio-button value="Amount">Amount</mat-radio-button>
                     </mat-radio-group>
                  </div>
               </div><br><hr>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Generate Quote Ref No By</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <mat-radio-group class="example-radio-group" formControlName="Quote_Ref_Number" (ngModelChange)="QuoteChange($event); If_Form_Change()">
                        <mat-radio-button class="example-radio-button" value="Auto">Auto Increment</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="Manual">Manual Increment</mat-radio-button>
                     </mat-radio-group>
                     <div class="row">
                        <div class="col-sm-6 Form_Input" *ngIf="Quote_Type === 'Auto'">
                           <input type="text" placeholder="Prefix" formControlName="Quote_Ref_Number_Prefix">
                        </div>
                        <div class="col-sm-6 Form_Input" *ngIf="Quote_Type === 'Auto'">
                           <input type="text" placeholder="Suffix" formControlName="Quote_Ref_Number_Suffix">
                        </div>
                        <div class="col-sm-6 Form_Input" *ngIf="Quote_Type === 'Auto'">
                           <input type="text" placeholder="Starting With" formControlName="Quote_Ref_Number_Starting">
                        </div>
                        <div class="col-sm-6 Form_Select" *ngIf="Quote_Type === 'Auto'">
                           <ng-select class="NgSelect" 
                              [items]="_BasedOn" 
                              [searchable]="true"
                              (ngModelChange)="QuoteChange_Custom($event)"
                              formControlName="Quote_Ref_Number_Based" 
                              placeholder="Based">
                           </ng-select>
                        </div>
                        </div><br>
                        <div class="row">
                        <div class="col-sm-6 Form_Select" *ngIf="Quote_Based_Type === 'Custom'">
                           <ng-select class="NgSelect" 
                              [items]="_Date" 
                              [searchable]="true"
                              formControlName="Quote_Ref_Number_Custom_Date"
                              placeholder="Date">
                           </ng-select>   
                        </div>
                        <div class="col-sm-6 Form_Select" *ngIf="Quote_Based_Type === 'Custom'">
                           <ng-select class="NgSelect" 
                              [items]="_Month" 
                              [searchable]="true" 
                              formControlName="Quote_Ref_Number_Custom_Month"
                              placeholder="Month">
                           </ng-select>   
                        </div>
                     </div>
                  </div>
               </div><br><hr>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Generate Invoice Ref No By</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <mat-radio-group class="example-radio-group" formControlName="Invoice_Ref_Number"  (ngModelChange)="InvoiceChange($event);If_Form_Change()">
                        <mat-radio-button class="example-radio-button" value="Auto">Auto Increment</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="Manual">Manual Increment</mat-radio-button>
                     </mat-radio-group>
                     <div class="row">
                        <div class="col-sm-6 Form_Input" *ngIf="Invoice_Type=== 'Auto'">
                           <input type="text" placeholder="Prefix" formControlName="Invoice_Ref_Number_Prefix">
                        </div>
                        <div class="col-sm-6 Form_Input" *ngIf="Invoice_Type === 'Auto'">
                           <input type="text" placeholder="Suffix" formControlName="Invoice_Ref_Number_Suffix">
                        </div>
                        <div class="col-sm-6 Form_Input" *ngIf="Invoice_Type === 'Auto'">
                           <input type="text" placeholder="Starting With" formControlName="Invoice_Ref_Number_Starting">
                        </div>
                        <div class="col-sm-6 Form_Select" *ngIf="Invoice_Type === 'Auto'">
                           <ng-select class="NgSelect" 
                              [items]="_BasedOn" 
                              [searchable]="true"
                              (ngModelChange)="InvoiceChange_Custom($event)"
                              formControlName="Invoice_Ref_Number_Based" 
                              placeholder="Based">
                           </ng-select>
                        </div></div><br/>
                        <div class="row">
                        <div class="col-sm-6 Form_Select" *ngIf="Invoice_Based_Type === 'Custom'">
                              <ng-select class="NgSelect" 
                                 [items]="_Date" 
                                 [searchable]="true" 
                                 formControlName="Invoice_Ref_Number_Custom_Date"
                                 placeholder="Date">
                              </ng-select>   
                        </div>
                        <div class="col-sm-6 Form_Select" *ngIf="Invoice_Based_Type === 'Custom'">
                           <ng-select class="NgSelect" 
                              [items]="_Month" 
                              [searchable]="true" 
                              formControlName="Invoice_Ref_Number_Custom_Month"
                              placeholder="Month">
                           </ng-select>   
                        </div>
                        </div>
                     </div>
                  
               </div><br><hr>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Customer</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <mat-checkbox formControlName="Customer" (change)="If_Form_Change()">Allow Pro-Forma Invoices</mat-checkbox>
                  </div>
               </div><br><hr>
               <h5 class="Header">Sale Order</h5>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>Generate Sale Order Ref No By</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <mat-radio-group class="example-radio-group" formControlName="Sale_Ref_Number"  (ngModelChange)="SaleChange($event); If_Form_Change()">
                        <mat-radio-button class="example-radio-button" value="Auto">Auto Increment</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="Manual">Manual Increment</mat-radio-button>
                     </mat-radio-group>
                     <div class="row">
                        <div class="col-sm-6 Form_Input" *ngIf="Sale_Type === 'Auto'">
                           <input type="text" placeholder="Prefix" formControlName="Sale_Ref_Number_Prefix">
                        </div>
                        <div class="col-sm-6 Form_Input" *ngIf="Sale_Type === 'Auto'">
                           <input type="text" placeholder="Suffix" formControlName="Sale_Ref_Number_Suffix">
                        </div>
                        <div class="col-sm-6 Form_Input" *ngIf="Sale_Type === 'Auto'">
                           <input type="text" placeholder="Starting With" formControlName="Sale_Ref_Number_Starting">
                        </div>
                        <div class="col-sm-6 Form_Select" *ngIf="Sale_Type === 'Auto'">
                           <ng-select class="NgSelect" 
                              [items]="_BasedOn" 
                              [searchable]="true" 
                              (ngModelChange)="SaleChange_Custom($event)"
                              formControlName="Sale_Ref_Number_Based"
                              placeholder="Based">
                           </ng-select>
                        </div></div><br>
                        <div class="row">
                        <div class="col-sm-6 Form_Select" *ngIf="Sale_Based_Type === 'Custom'">
                           <ng-select class="NgSelect" 
                              [items]="_Date" 
                              [searchable]="true" 
                              formControlName="Sale_Ref_Number_Custom_Date"
                              placeholder="Date">
                           </ng-select>   
                        </div>
                        <div class="col-sm-6 Form_Select" *ngIf="Sale_Based_Type === 'Custom'">
                           <ng-select class="NgSelect" 
                              [items]="_Month" 
                              [searchable]="true" 
                              formControlName="Sale_Ref_Number_Custom_Month"
                              placeholder="Month">
                           </ng-select>   
                        </div>
                        </div>
                  </div>
               </div><br><hr>
               <h5 class="Header">Invoice</h5>
               <div class="row">
                  <div class="col-sm-4 Left_Date">
                     <p>AMC for Invoice</p>
                  </div>
                  <div class="col-sm-6 Right_data">
                     <mat-radio-group formControlName="AMC_Invoice" (change)="If_Form_Change()">
                        <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                        <mat-radio-button value="No">No</mat-radio-button>
                     </mat-radio-group>
                  </div>
               </div><br><hr>
            </form>
         </div>
      </div>
   </div>
</div>
<div class="Footer" *ngIf="!Loader">
   <button *ngIf="_Create" mat-raised-button color="primary" style = "top: 5px;" (click)="Submit()" [disabled]="Form.status !== 'VALID'"> Submit </button>
   <button *ngIf="_Update" mat-raised-button color="primary" style = "top: 5px;" (click)="Update()" [disabled]="!updateButton || !Form.valid "> Update </button>
</div>
   